//=========acordion========
.accordion-group
	//=======single item =====
	.accordion-header Чем занимается ваша компания?
	.accordion-body
		p Наше основное направление – образовательный консалтинг. Мы помогаем  спланировать и реализовать все шаги, необходимые для получения образования за рубежом.
	//=======single item =====	
	.accordion-header Вы работаете только с гражданами РФ?
	.accordion-body
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!
	//=======single item =====	
	.accordion-header Как давно вы работаете?
	.accordion-body
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!
	//=======single item =====	
	.accordion-header Что отличает вашу компанию?
	.accordion-body
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!
	//=======single item =====	
	.accordion-header Я могу поступить в Кембридж?
	.accordion-body
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!
	//=======single item =====	
	.accordion-header Я могу поступить в Кембридж?
	.accordion-body
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!
	//=======single item =====	
	.accordion-header Я могу поступить в Кембридж?
	.accordion-body
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!
		
