.cooperation-card.color-block
	h3 Сотрудничество
	+list-block('Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами','Проводим собеседование и тестирование. Определяем критерии подбора школы, ищем максимально подходящие варианты.','Составляем с родителями шорт-лист (1-3 учебных заведения)','Получаем ответы от школ и определяемся с финальным выбором.','Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами')

.important-card.color-block
	h3 Важно
	+list-block('Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами','Проводим собеседование и тестирование. Определяем критерии подбора школы, ищем максимально подходящие варианты.','Составляем с родителями шорт-лист (1-3 учебных заведения)','Получаем ответы от школ и определяемся с финальным выбором.','Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами')

.neutral-card.color-block
	h3 Нейтральный
	+list-block('Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами','Проводим собеседование и тестирование. Определяем критерии подбора школы, ищем максимально подходящие варианты.','Составляем с родителями шорт-лист (1-3 учебных заведения)','Получаем ответы от школ и определяемся с финальным выбором.','Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами')