.article-video
	.video.video-youtube
		iframe(loading="lazy" width="905" height="510" src="https://www.youtube.com/embed/JtlxOJ9Wf9U?enablejsapi=1&amp;mode=opaque&amp;wmode=transparent&amp;autoplay=0&amp;loop=1&amp;controls=1&amp;modestbranding=1&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;color=white&amp;iv_load_policy=3&amp;theme=light&amp;wmode=transparent&amp;mute=0&amp;playlist=JtlxOJ9Wf9U" frameborder="0" allow="autoplay")