.conclusions-card.color-block
	h3 Основные выводы
	+list-block('Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.', 'Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.', 'Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.', 'Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.')