#anchor11.anchor.schedule-table
h4 Расписание мероприятия
+table([
	{txt1: '14:00-18:00', txt2: 'Et malesuada fames ac turpis'},
	{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis.'},
	{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque.'},
	{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel'}])