.inner-menu.color-block
	h3 Также в разделе «О компании»:
	a.active(href="#!") Об Allterra Education
	a(href="#!") Все услуги
	a(href="#!") Сотрудничество
	a(href="#!") Вакансии
	a(href="#!") Контакт
	a(href="#!") Partner's zone