.snippet-text
	h4#anchor7.anchor Нужно ли включать примеры дизайна одежды/макияжа/фотографий/обуви в случае, если я поступаю на одну из этих специальностей?
	p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu
.two-columns
	img.lazy(src="./img/article-page/img3.webp", width="432" height="592" alt="img")
	img.lazy(src="./img/article-page/img4.webp", width="432" height="592" alt="img")