//============TABLE FOR >= 1024px ==============
table.enrollment-table.block-1024
	thead
		tr
			th.th-opac Этапы/Выбор
			th Самостоятельно
			th.th-accent Вместе с агентством
	tbody
		+enr-table-row([
			{txts:['Выбор страны', 'На основании общих знаний, без детального изучения системы образования', 'На основании экспертных знаний и опыта']},{txts:['Выбор школы','На основании информации от знакомых или из сети Интернет','На основании экспертных знаний и опыта']},	{txts:['Подготовка к учебе за рубежом','Не всегда эффективна, может отнимать много времени и не вести к результату','Эффективна, всегда идет по графику, с контролем прогресса']},{txts:['Подготовка документов и зачисление','За счет времени родителей или ассистентов.  Иногда из-за ошибок школа присылает отказ.','Выполняется специалистом, с минимальными затратами времени семьи. Ошибок нет.']},{txts:['Контроль учебы','На основе школьных отчетов, которые обтекаемы и не описывают ситуацию прямо','Ведется специалистом, который помогает увидеть объективную картину']},{txts:['Бытовые вопросы','Решают родители или ребенок. В обоих случаях отнимают очень много времени','Решает личный куратор; ребенок может спокойно сосредоточиться на учёбе']}, {txts:['Поступление в университет','Складывается успешно или не очень – зависит от состояния дел к моменту окончания школы','Будет результатом планомерной работы, с максимальными шансами на успех']}
			])

//============TABLE FOR < 1024px ==============
.enrollment-table-mobile.block-1023
	.tb__header
		.tb__header__col Самостоятельно:
		.tb__header__col-accent  Вместе с агентством:
	+enr-table-mobile([
		{title: 'Выбор страны', txt1:'На основании общих знаний, без детального изучения системы образования', txt2:'На основании экспертных знаний и опыта'},
		{title: 'Выбор школы', txt1:'На основании информации от знакомых или из сети Интернет', txt2:'На основании экспертных знаний и опыта'},
		{title: 'Подготовка к учебе за рубежом', txt1:'Не всегда эффективна, может отнимать много времени и не вести к результату', txt2:'Эффективна, всегда идет по графику, с контролем прогресса'},
		{title: 'Подготовка документов и зачисление', txt1:'За счет времени родителей или ассистентов.  Иногда из-за ошибок школа присылает отказ.', txt2:'Выполняется специалистом, с минимальными затратами времени семьи. Ошибок нет.'},
		{title: 'Контроль учебы', txt1:'На основе школьных отчетов, которые обтекаемы и не описывают ситуацию прямо', txt2:'Ведется специалистом, который помогает увидеть объективную картину' },
		{title: 'Бытовые вопросы',txt1:'Решают родители или ребенок. В обоих случаях отнимают очень много времени', txt2:'Решает личный куратор; ребенок может спокойно сосредоточиться на учёбе'},
		{title: 'Поступление в университет', txt1:'Складывается успешно или не очень – зависит от состояния дел к моменту окончания школы', txt2:'Будет результатом планомерной работы, с максимальными шансами на успех'},
	])