//======= enrollment-table =====
.enrollment-table
	//======= FIRST  COLUMN =====
	.table__titles
		.h5 Этапы/Выбор
		ul
			li Выбор страны
			li Выбор школы
			li Подготовка к учебе за рубежом
			li Подготовка документов и зачисление
			li Контроль учебы
			li Бытовые вопросы
			li Поступление в университет
	//=======CENTER  COLUMN =====
	.table__col
		.h5 Самостоятельно
		ul
			li На основании общих знаний, без детального изучения системы образования
			li На основании информации от знакомых или из сети Интернет
			li Не всегда эффективна, может отнимать много времени и не вести к результату
			li За счет времени родителей или ассистентов.  Иногда из-за ошибок школа присылает отказ.
			li На основе школьных отчетов, которые обтекаемы и не описывают ситуацию прямо
			li Решают родители или ребенок. В обоих случаях отнимают очень много времени
			li Складывается успешно или не очень – зависит от состояния дел к моменту окончания школы
	
	//=======RIGHT  COLUMN =====
	.table__col.table__col--accent
		.h5
		ul
			li Выбор страны
			li Выбор школы
			li Подготовка к учебе за рубежом
			li Подготовка документов и зачисление
			li Контроль учебы
			li Бытовые вопросы
			li Поступление в университет