//=====INNER MENU =====
.inner-menu
	nav
		a(href="#!") Учебные заведения
		a(href="#!") Почему важно правильно подобрать учебное заведение
		a(href="#!") Особенности образования в разных странах
		a(href="#!") Обучение в Швейцарии
		a(href="#!") Обучение в США
		a(href="#!") Обучение в Англии
		a(href="#!") Обучение в Германии
		a(href="#!") Стоимость обучения за границей
		a(href="#!") Стоимость среднего образования
		a(href="#!") Стоимость высшего образования в Европе и Америке
		a(href="#!") Перспективы студента после обучения за рубежом
		a(href="#!") Выбор учебного заведения с Allterra Education