//=====INNER MENU =====
.inner-menu
	nav
		a(href="#!") Учебные заведения
		a(href="#importance-choice") Почему важно правильно подобрать учебное заведение
		a(href="#feature-education") Особенности образования в разных странах
		a(href="#education-switzerland") Обучение в Швейцарии
		a(href="#education-usa") Обучение в США
		a(href="#education-uk") Обучение в Англии
		a(href="#education-germany") Обучение в Германии
		a(href="#cost-edu-board") Стоимость обучения за границей
		a(href="#cost-edu-secondary ") Стоимость среднего образования
		a(href="#cost-edu-higher") Стоимость высшего образования в Европе и Америке
		a(href="#prospects") Перспективы студента после обучения за рубежом
		a(href="#сhoosing-institution") Выбор учебного заведения с Allterra Education