//======  BOTTOM FIXED BUTTONS =======
.fixed-buttons
	button(type="button").btn-accent Задать вопрос
	button(type="button").btn
		svg.svg-phone
			use(href="./img/spriteSvg.svg#svg-phone")
		span Позвонить