//======  BOTTOM FIXED BUTTONS =======
.fixed-buttons#fixed-buttons
	a(href="#!").btn-accent Задать вопрос
	a(href="#!").btn
		svg.svg-phone
			use(href="./img/spriteSvg.svg#svg-phone")
		span Позвонить