extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h2 Карточка блога
		.flex-row(style="gap:40px;")
			+blog-card(1, 'Статья', 'Как написать мотивационное письмо в&nbsp;университет?')
			+blog-card(2, 'Новость', 'Экономическое образование в США')

		pre.
			+blog-card(2, 'Новость', 'Экономическое образование в США')
		