extends ../layouts/layout-ui.pug

block content
	.container-dashboard(style="background: #F0F3F9")
		h2 Карточка Руководителя
		+person-card(1, 'Гречко Владимир Ильич')
		pre.
			+person-card(1, 'Гречко Владимир Ильич')
		
		.bosses-cards.flex-row
			//========= single card ===========
			+person-card(1, 'Гречко Владимир Ильич')
			
			//========= single card ==========
			+person-card(2, 'Бякишева Марина Леонидовна')
		
		pre.
			.bosses-cards.flex-row
				//========= single card ===========
				+person-card(1, 'Гречко Владимир Ильич')
				
				//========= single card ==========
				+person-card(2, 'Бякишева Марина Леонидовна')

		h2 Карточка Руководителя - вариант 2
		+person-info(1, 'Гречко Владимир Ильич')
		pre.
			+person-info(1, 'Гречко Владимир Ильич')