extends ../layouts/layout-ui.pug

block content
	.container-dashboard(style="background: #F0F3F9")
		h2 Карточка Руководителя
		.chief-card
			+person('boss/boss1','Гречко Владимир Ильич','grechko@allterra.ru', 'Генеральный директор', 'Опыт работы 27 лет')
		
		pre.
			+person(img, name, persLink, range, exper, tags, date, loc, txt, txtLink, revSlider)
		
		