include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						h4 #[strong Хлебные крошки]
						li.dark-bg
							+brcr('Главная', 'Информация')
						pre.
							+brcr('Главная', 'Информация')
						
						hr
						li
							h4 #[strong Страна]
							a(href="#!").flex-item
								img(src="../img/flags/uk.svg", width="24"  height="16" alt="icon")
								span Великобритания
						
							pre.
								a(href="#!").flex-item
									img(src="./img/flags/uk.svg", width="24"  height="16" alt="icon")
									span Великобритания
						
						hr
						li
							h4 #[strong Компонент, где стрелка -  фоновая картинка акцентного цвета]
							a(href="#!").back-link
								span.chevron-back
								span Назад
							pre.
								a(href="#!").back-link
									span.chevron-back
									span Назад
						hr
						li
							h4 #[strong Компонент, где стрелка -svg-спрайт, можно менять цвет через color]
							a(href="#!").back-link
								svg.svg-chevron
									use(href="../img/spriteSvg.svg#svg-chevron")
								span Назад
							pre.
								a(href="#!").back-link
									svg.svg-chevron
										use(href="../img/spriteSvg.svg#svg-chevron")
									span Назад

						hr
						li
							h4 #[strong Элемент Контакт]
							
							.contact-group
								span.contact-name Телефон
								a(href="tel:88005114993") 8(800) 511-4993
							pre.
								.contact-group
									span.contact-name Телефон
									a(href="tel:88005114993") 8(800) 511-4993
						hr
						li
							h4 #[strong Элемент АДРЕС]
							address.contact-group
								p
									strong Москва
									| #[br] ул. Тверская, д. 7  #[br]
									a(href="#!").accent-link На карте
							pre.
								address.contact-group
									p
										strong Москва
										| #[br] ул. Тверская, д. 7  #[br]
										a(href="#!").accent-link На карте
					
						hr
						li
							h3 #[strong Соц сети - блок]
							.social
								a(href="#!").social-item
									img(src="../img/icons/skype.svg", alt="icon")
								a(href="#!").social-item
									img(src="../img/icons/vk.svg", alt="icon")
									
							pre.
								.social
									a(href="#!").social-item
										img(src="./img/icons/skype.svg", alt="icon")
									a(href="#!").social-item
										img(src="./img/icons/vk.svg", alt="icon")

							
						hr
						li
							blockquote(cite="")
								p Имея многолетний опыт работы в сфере образования за рубежом и высокую квалификацию каждого сотрудника, мы гарантируем Вам доступ ко всем возможным вариантам обучения, содействие при поступлении и курирование в течение всего процесса обучения.
							pre.
								blockquote(cite="")
									p Имея многолетний опыт работы 
						hr
						li
							+table([
								{txt1: '14:00-18:00', txt2: 'Et malesuada fames ac turpis'},
								{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis.'},
								{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque.'},
								{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel'}])
							pre.
								+table([
								{txt1: '14:00-18:00', txt2: 'Et malesuada fames ac turpis'},
								{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis.'},
								{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque.'},
								{txt1: '14:00-18:00', txt2: 'Vulputate eu scelerisque felis imperdiet proin fermentum leo vel'}])

							