include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						li.dark-bg
							h4 Хлебные крошки
							ul.breadcrumb

								li
									a(href="/") Главная

								li
									a Информация
						pre.
							ul.breadcrumb

								li
									a(href="/") Главная

								li
									a Информация
						
						hr
						li
							h4 Страна
							a(href="#!").flex-item
								img(src="../img/flags/uk.svg", width="24"  height="16" alt="icon")
								span Великобритания
						
							pre.
								a(href="#!").flex-item
									img(src=".../img/flags/uk.svg", width="24"  height="16" alt="icon")
									span Великобритания
						
						br
						li
							h4 Элемент Контакт
							
							.contact-group
								p.contact-name Телефон
								a(href="tel:88005114993") 8(800) 511-4993
							pre.
								.contact-group
									p.contact-name Телефон
									a(href="tel:88005114993") 8(800) 511-4993
						hr
						li
							h4 Элемент АДРЕС
							address.contact-group
								p
									strong Москва
									| #[br] ул. Тверская, д. 7  #[br]
									a(href="#!").accent-link На карте
							pre.
								address.contact-group
									p
										strong Москва
										| #[br] ул. Тверская, д. 7  #[br]
										a(href="#!").accent-link На карте
					
						br
						li
							h3 Соц сети - блок
							.social
								a(href="#!").social-item
									img(src="../img/icons/skype.svg", alt="icon")
								a(href="#!").social-item
									img(src="../img/icons/vk.svg", alt="icon")
									
							pre.
								.social
									a(href="#!").social-item
										img(src="./img/icons/skype.svg", alt="icon")
									a(href="#!").social-item
										img(src="./img/icons/vk.svg", alt="icon")


						li
