extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h2 Карточка Контакты
		+contact-card('Москва', '125009', 'г. Москва, ул. Тверская, д. 7, Бизнес-центр «Центральный Телеграф»', '8(800) 511-4993')
		+contact-card('Санкт-Петербург', '190013', 'г. Санкт-Петербург, ул. Введенского канала, д.7, БЦ «Фарватер», оф. 415', '+7 (812) 425-64-25')

		pre.
			+contact-card('Москва', '125009', 'г. Москва, ул. Тверская, д. 7, Бизнес-центр «Центральный Телеграф»', '8(800) 511-4993')


		
		
		pre.
			