extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		+hero-section('about/header-bg.webp',['Главная', 'Информация'], 'О компании', 'back-link')
		
		pre.
			+hero-section('about/header-bg.webp',['Главная', 'Информация'], 'О компании', 'back-link')