extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		section.hero
			.container
				.hero-content
					+brcr('Главная', 'Информация')
					.hero-title
						h1.h1 О компании
					.hero-link
						a(href="#!").back-link
							span.chevron-back
							p Назад
