extends ../layouts/layout-ui.pug

block content
	.container-dashboard

		//========== HEADER =========
		header.header
			include ../blocks/_header-top-menu
			pre.
				include ../blocks/_header-top-menu