extends ../layouts/layout-ui.pug
block variables

block content

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul
						li
							+flag-ui('cy')
							+flag-ui('cy')
							pre.
								+flag('cy')
						li
							a(href="#!").social-item
								img(src="../img/icons/skype.svg", alt="icon")
							pre.
								a(href="#!").social-item
									img(src="./img/icons/skype.svg", width="20" height="20" alt="icon")
						
						
						li
							.social
								a(href="#!").social-item
									img(src="../img/icons/skype.svg", alt="icon")
								a(href="#!").social-item
									img(src="../img/icons/vk.svg", alt="icon")
							pre.
								.social
									a(href="#!").social-item
										img(src="./img/icons/skype.svg", alt="icon")
									a(href="#!").social-item
										img(src="./img/icons/vk.svg", alt="icon")
						
						
						li.dark-bg
							svg.svg-logo
								use(href="../img/spriteSvg.svg#logo")
						li.dark-bg
							svg.svg-search
								use(href="../img/spriteSvg.svg#svg-search")

							pre.
								svg.svg-search
									use(href="./img/spriteSvg.svg#svg-search")
								
						li
							svg.svg-chevron-down
								use(href="../img/spriteSvg.svg#svg-chevron-down")

							pre.
								svg.svg-chevron-down
									use(href="./img/spriteSvg.svg#svg-chevron-down")

						li
							svg.svg-cross
								use(href="../img/spriteSvg.svg#svg-cross")

							pre.
								svg.svg-cross
									use(href="./img/spriteSvg.svg#svg-cross")

						li
							.icon-cross
							pre.
								.icon-cross
						li.dark-bg
							.btn-remove
							pre.
								.btn-remove
						
						li.dark-bg
							svg.svg-arrow
								use(href="../img/spriteSvg.svg#svg-arrow")

							pre.
								svg.svg-arrow
									use(href="./img/spriteSvg.svg#svg-arrow")

						li.dark-bg
							svg.svg-check
								use(href="../img/spriteSvg.svg#svg-check")

							pre.
								svg.svg-check
									use(href="./img/spriteSvg.svg#svg-check")
						li.dark-bg
							svg.svg-phone
								use(href="../img/spriteSvg.svg#svg-phone")

							pre.
								svg.svg-phone
									use(href="./img/spriteSvg.svg#svg-phone")
						
						li
							svg.svg-chevron
								use(href="../img/spriteSvg.svg#svg-chevron")

							pre.
								svg.svg-chevron
								use(href="./img/spriteSvg.svg#svg-chevron")
						li
							span.chevron-back
							pre.
								span.chevron-back

						li
							a(href="#!").back-link
								span.chevron-back
								span Назад
							pre.
								a(href="#!").back-link
									span.chevron-back
									span Назад
						li
							span.round-arrow
								svg.svg-arrow
									use( href='../img/spriteSvg.svg#svg-arrow')
							pre.
								span.round-arrow
									svg.svg-arrow
										use( href='./img/spriteSvg.svg#svg-arrow')

						li.dark-bg
							
							svg.svg-minus
								use( href='../img/spriteSvg.svg#svg-minus')
							pre.
								
								svg.svg-minus
									use( href='./img/spriteSvg.svg#svg-minus')

						li
							
							svg.svg-plus
								use( href='../img/spriteSvg.svg#svg-plus')
							pre.
								svg.svg-plus
									use( href='./img/spriteSvg.svg#svg-plus')

						li
							svg.svg-quote
								use( href='../img/spriteSvg.svg#svg-quote')
							pre.
								svg.svg-quote
									use( href='./img/spriteSvg.svg#svg-quote')
						li
							svg.svg-cap
								use(href='../img/spriteSvg.svg#svg-cap')
							pre.
								svg.svg-cap
									use( href='./img/spriteSvg.svg#svg-cap')
						li
							svg.svg-pin
								use(href='../img/spriteSvg.svg#svg-pin')
							pre.
								svg.svg-pin
									use( href='./img/spriteSvg.svg#svg-pin')
						li
							svg.svg-globus
								use(href='../img/spriteSvg.svg#svg-globus')
							pre.
								svg.svg-globus
									use( href='./img/spriteSvg.svg#svg-globus')
						li
							svg.svg-table
								use(href='../img/spriteSvg.svg#svg-table')
							pre.
								svg.svg-table
									use( href='./img/spriteSvg.svg#svg-table')
						li
							svg.svg-bar
								use(href='../img/spriteSvg.svg#svg-bar')
							pre.
								svg.svg-bar
									use( href='./img/spriteSvg.svg#svg-bar')