extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h1 Карточка информационная
		//======single card =======
		.info-card
			.info-card__img
				img.wh-100.lazy(src="../img/main-page/edu1.webp", alt=" img")
			a(href="#!").info-card__text
				p.txt-20 Каникулы с изучением языков
				span.round-arrow
					svg.svg-arrow
						use(href="../img/spriteSvg.svg#svg-arrow")
		
		.serv-card
			.serv-card__img
				img.wh-100.lazy(src="../img/main-page/edu1.webp", width="482" alt=" img")
			.serv-card__text
				a(href="#!").txt-20 Каникулы с изучением языков
				p Построение образовательного маршрута, выбор школы, подготовка, поступление и курирование в процессе учебы 
			
				a(href="#!").round-arrow
					svg.svg-arrow
						use(href="../img/spriteSvg.svg#svg-arrow")
			pre.
				+serv-card('main-page/edu1', 'Каникулы с изучением языков',' Построение образовательного маршрута, выбор школы, подготовка, поступление и курирование в процессе учебы ')