include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 UI классы

				.container-dashboard__content
					ul
						li
							pre.
								.hide-mobile    - скрыть на экранах от 0 - 767(включит)
								
								.block-1023 - скрыт до 1024(включит), далее блок
								.flex-1023 - скрыт до 1024(включит), далее флекс
								
								.block-1024 - блок до 1024(включит), далее скрыт
								.flex-1024 - флекс до 1024(включит), далее скрыт

								аналогичные классы для 1279 и 1280						
						
						li
							h3.txt-center Текст по центру
							pre.
								h2.txt-center Текст по центру
						hr
						li
							h3.txt-upper Текст Uppercase
						pre.
							h3.txt-upper Текст Uppercase
						
						hr
						p ФЛЕКС классы
						li .flex-row,.flex-center-y, .flex-center-x, .flex-center,.flex-justify,.flex-col,  
						hr
						h3 Флекс-шапка секции. Блок с кнопками скрывается на экранах < 1024px
						.header-group
							h2.h2(style="margin-bottom: 0") Статьи об обучении
							
							.btns-group
								a(href="#!").btn--slim.btn-white Все новости
								a(href="#!").btn--slim.btn Все статьи
						pre.
							.header-group
								h2.h2 Статьи об обучении
								
								.btns-group
									a(href="#!").btn--slim.btn-white Все новости
									a(href="#!").btn--slim.btn Все статьи
						hr
						li .w-100{width:100%!important;}

						hr
						li  
							h3 Отступы
							pre.
								.mb-20, -40 -48 -60 -80
								.mt-20, 40, 48, 60, 80
								pt-100
								mt-auto
							

						hr
						li 
							h3 Для изображений
							pre.
								img.wh-100
								.img-zoom - ховер масштабирование
						hr
						li
							h3 Обертка для кнопки по центру
