include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Вспомогрательные классы

				.container-dashboard__content
					ul
						li .flex-row,.flex-center-y, .flex-center-x, .flex-center, 	.flex-col,.flex-justify

							p ФЛЕКС классы


						hr
						li .w-100{width:100%!important;}

						hr
						li  .mb-20

						hr
						li Класс для отступа в 100 пикс сверху 
							pre.
								.pt-100{ 
									padding-top: 100px;
									@media (max-width: 767px) {
									padding-top: 80px;
									}
								}

							
						hr
						li 
							h3 Класс для сетки в две колонки  от 768 пикс
							.two-columns
								h1 Левая колонка
								h1 Правая колонка

							pre.
								.two-columns
									h1 Левая колонка
									h1 Правая колонка

						hr
						li 

							pre.
								
				