extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h1 Карточка Этап работы
		+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
		pre.
			+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )

		.process-cards
			+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('02','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('03','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('04','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('05','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('06','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
