extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h1 Карточка Этап работы
		+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
		pre.
			+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )

		.process-cards
			+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('02','Определение текущего положения', 'Языковое тестирование, первичная проработка вариантов, определение критериев планирования' )
			+process-card('03','Долгосрочное планирование', 'Разработка образовательного маршрута, подбор учебного заведения' )
			+process-card('04','Подготовка и поступлению', 'Сбор, оформление и отправка документов, согласование формальностей. Подготовка студента к поступлению' )
			+process-card('05','Визирование', 'Заполнение визовой анкеты, подготовка сопроводительных документов, анализ рисков' )
			+process-card('06','Курирование', 'Сопровождение в процессе учебы. Контроль успеваемости, работа с тьюторами, решение бытовых вопросов' )
