extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h2 Карточка отзыва
		+review-card({
			img: 1, name:'Александр Ференц', range:'Генеральный директор ГК «АК-Сервис»', tags:['среднее_образование', 'родитель'], scool:'Ringling College of Art', loc:'США', txt: 'Я работаю с командой Allterra Education на протяжении 6 лет. За это время я успел сам побывать студентом и поучить английский в Санта'})

		+review-card({
			img: 1, name:'Александр Ференц', scool:'Ringling College of Art', loc:'Великобритания', txt: 'Я работаю с командой Allterra Education на протяжении 6 лет. За это время я успел сам побывать студентом и поучить английский в Санта'})(class=" review--short")
		pre.
			+review-card({
				img: 1, name:'Александр Ференц', scool:'Ringling College of Art', loc:'Великобритания', txt: 'Я работаю с командой Allterra Education на протяжении 6 лет. За это время я успел сам побывать студентом и поучить английский в Санта'})(class=" review--short")
		

block variables
	-var title = "Allterra";