extends ../layouts/layout-ui.pug
//- person(img, name, persLink, range, exper, tags, date, loc, txt, revSlider)
block content
	.container-dashboard(style="background-color:#f5f5f5; padding: 30px;")
		h2 Карточка Заведения
		.scool
			.scool-info
				.scool-picture
					img(src="./img/scools/scool-picture.webp", width="324"  height="212" alt="img")


block variables
	-var title = "Allterra";