extends ../layouts/layout-ui.pug

block content
	.container-dashboard(style="background-color:#f5f5f5; padding: 30px;")
		h2 Карточка Заведения
		.scool-card
			//====верхний ряд, видимый =====
			.scool-info
				//===== картинка =====
				.scool-picture
					img(src="../img/scools/scool-picture.webp", width="324"  height="212" alt="img")
					.rating-label 9.6
				//===== описание =====
				.scool-descrip
					.h5 Wildau Studienkolleg, Technical University of Applied Sciences Wildau
					//=== list ====
					ul.scool__list
						li
							i
								svg.svg-cap
									use( href='../img/spriteSvg.svg#svg-cap')
							span Частная школа совместного обучения
							
						li
							i
								svg.svg-pin
									use( href='../img/spriteSvg.svg#svg-pin')
							span Великобритания, Кроуторн

						li
							i
								svg.svg-globus
									use( href='../img/spriteSvg.svg#svg-globus')
							span Языки обучения: Английский
					//===price + buttons ===
					.scool-row
						//==== цена + программы ====
						.scool-row__group
							.price-block.price-block--16 от #[span 2000 &dollar;]/неделя
							button.show-scool-programs
								span Программы 
									span(4)
								i.changing-icon
						//=== ссылка Перейти ===
						.scool-row__link
							a(href="#!").btn.flex-row 
								span Перейти 
								span к учебному заведению

			//==== программы-выпадающая таблица====
			.scool-drop
				table.scool-table
					thead
						tr
							th.cell-name Программы
							th.cell-age Возраст
							th.cell-price Стоимость #[span.accent-txt €] | ₽
					tbody
						//===== single row ====
						tr
							td.cell-name INTO International Graduate Diploma
							td.cell-age 14-15
							//=====price cell =====
							td.cell-price
								a(href="#!").cell-price__btn #[span 36 315€]/2 недели
								//=====price cell drop=====
								.cell-price__drop

						//====== single row ====
						tr
							td.cell-name GCSE
							td.cell-age 16-17
							td.cell-price
								a(href="#!").cell-price__btn #[span 36 315€]/2 недели
								.cell-price__drop

						//====== single row ====
						tr
							td.cell-name A-Level
							td.cell-age 14-15
							td.cell-price
								a(href="#!").cell-price__btn #[span 36 315€]/месяц
								.cell-price__drop
						//====== single row ====
						tr
							td.cell-name IB
							td.cell-age 18-21
							td.cell-price
								a(href="#!").cell-price__btn #[span 36 315€]/1год
								.cell-price__drop

block variables
	-var title = "Allterra";