extends ../layouts/layout-ui.pug

block content
	.container-dashboard
		h2 Результат поиска
		
		
		//=====single item ====
		.search-result-item
			p #[strong Foundation в США: 5 вопросов и ответов]
			small Изменён 06.05.2024
			p Получить высшее образование в США после окончания средней школы в России — непростая задача. Прежде всего потому, что поступать в американский вуз, имея на руках только аттестат, нельзя. Необходимо обучение на программе подготовки. Популярный выбор иностранных студентов в США — программа Foundation, подробную информацию о которой вы найдете ниже.
			.flex-center-y
				small Путь:
				.links-path
					a(href="#!") Главная
					a(href="#!") Обучение в Австралии
		
		
		//=====single item ====
		.search-result-item
			p #[strong Foundation в США: 5 вопросов и ответов]
			small Изменён 06.05.2024
			p Получить высшее образование в США после окончания средней школы в России — непростая задача. Прежде всего потому, что поступать в американский вуз, имея на руках только аттестат, нельзя. Необходимо обучение на программе подготовки. Популярный выбор иностранных студентов в США — программа Foundation, подробную информацию о которой вы найдете ниже.
			.flex-center-y
				small Путь:
				.links-path
					a(href="#!") Главная
					a(href="#!") Обучение в Австралии 