include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Типографика

				.container-dashboard__content
					ul
						li
							.h1 Заголовок h1
							pre.
								.h1 Заголовок h1
						li
							.h2 Заголовок h2
							pre.
								.h2 Заголовок h2
						li
							.h3 Заголовок h3
							pre.
								.h3 Заголовок h3
						li
							.txt-20   Текст в 20px
							pre.
								.txt-20   Текст в 20px

						li
							.accent-txt Акцентный Текст
							pre.
								 .accent-txt Акцентный Текст
						li
							a(href="#!").accent-link Акцентная ссылка
							pre.
								a(href="#!").accent-link Акцентная ссылка