include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Типографика

				.container-dashboard__content
					ul
						li
							.h1 Заголовок h1
							pre.
								.h1 Заголовок 80px
						hr
						li
							.h2 Заголовок 48px-700-uppercase
							pre.
								Заголовок 48px-700-uppercase
						
						hr
						li
							.section-title Заголовок 48px -600
							pre.
								.section-title Заголовок 48px -600
						
						
						
						hr
						li
							.title-32  Text 32px - 600 -1.3
							pre.
								 .title-32  Text 32px - 600 -1.3
						hr
						li
							.title-16 Заголовок 16пикс на карточке блога
							pre.
								.title-16 Заголовок 16пикс на карточке блога
						hr
						li
							.h3 Заголовок h3
							pre.
								.h3 Заголовок 20px - upper -1.6
						
						hr
						li
							.txt-20   Текст в 20px
							pre.
								.txt-20   Текст в 20px -600

						hr
						li
							.accent-txt Акцентный Текст
							pre.
								 .accent-txt Акцентный Текст
						hr
						li
							a(href="#!").accent-link Акцентная ссылка
							pre.
								a(href="#!").accent-link Акцентная ссылка
						hr
						li
							.h4 Текст в 24пикс и жирность 600 lh-1.33
							pre.
								.h4 Текст в 24пикс и жирность 600 lh-1.33					
						
						hr
						li
							.h5 Текст в 18пикс и жирность 600 lh-1.6
							pre.
								.h5 Текст в 18пикс и жирность 600
						hr
						li
							.txt-18 Текст в 18пикс и жирность 400 lh-1.6
							pre.
								.txt-18 Текст в 18пикс и жирность 400 lh-1.6
						hr
						li
							.txt-opac 0.8 opacity text
							pre.
								.txt-opac 0.8 opacity text
						hr
						li
							h2.border-left Border left <br> text
							pre.
								.border-left Border left <br> text
						
						hr
						li
							.section-btn
								button.btn Кнопка внутри блока с отступом 48пикс сверху
							pre.
								.section-btn
									button.btn Кнопка внутри блока с отступом 48пикс сверху
						hr
						li
							.scroll-x
								h3 Враппер для гориз скрлла на экранах до 1024
							pre.
								.scroll-x
									h3 Враппер для гориз скрлла на экранах до 1024
