.accreditation{
	&__title{
		flex-shrink: 0;
		row-gap:98px;
		@media (max-width: 1023px) {
		margin-bottom: 40px;
		}
	}	
	.h2{
		width: 13ch;
		
	}
	&-cards{
		flex-grow: 1;
		@media(min-width:1440px){
			.flex-row{justify-content: flex-end;}
			
		}
	}
	&-content{
		align-items: stretch;
		column-gap: 140px;
		@media (max-width: 1279px) {
			column-gap: 63px;
		}
		
	}
	@media (max-width: 991px) {
		&__img{display: none;}
		&-content{display: block;}
		&__title{align-items: flex-start; }
		.h2{
			width: 100%; max-width: 390px;
			text-transform: lowercase;
			&::first-letter{text-transform: uppercase;}
		}
	}
}
