.article-content{
	h1, h2, h3, h4, h5, .title-32{
		margin-top: 48px;
		margin-bottom: 12px;
	}
	*+p{margin-top: 1em}
	.txt-img{margin-top: 48px;
	img{margin-top: 48px;}
		p>img{margin-top:0;}
	}
	img{margin-top: 48px;}
	// p>img{margin-block: 0}
}