.catalogy-page{
	padding-top: 48px!important;
	padding-bottom: 120px!important;
	.header-group{
		width: 100%;
		margin-inline: 0;
		.btn-bars, .btn-table{
			&:hover{opacity: .8;}
		}
		
	}
	&-article{
		
		.h3{text-transform:unset; }
		@media(min-width: 1440px){margin-top: 80px!important;}
	}
	article{
		
		&>.programs-table{margin-top: 12px;}
		&>*+*{margin-top: 12px;}
		ol, ul{margin-bottom:12px;}
		.scool-card +.scool-card{margin-top: 24px;}
		.two-columns +.two-columns{margin-top: 20px;}
		picture{
		   display: block;
		   margin-block: 40px;
	   }
	   .two-columns picture{margin-block: 0;}
	   img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	   }
	}
	.checker-content{
		margin-block: 24px;
	}
	.list-block li+li{margin-top: 12px;}
	@media (max-width: 767px) {
		padding-top: 32px!important;
		padding-bottom: 90px!important;
		article .scool-card+.scool-card {
				margin-top: 16px;
			}
	}
}
#cost-edu-secondary .two-columns{column-gap:25px;}
.catalogy-lists{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:48px;
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		gap: 32px;
	}
}
.catalogy-list .txt-20{
	margin-bottom: 12px;
}
.snippet_v2_mark_list_and_h4 .v2_title {
	font-weight: 600;
}

.prospects .services-list {
	margin-top: 32px;
	line-height: 1.8;
}

article.list-block p+p {
	margin-top: 12px;
}

article.list-block p+p,
article.scool-cards-wrapper p+p {
	margin-top: 12px !important;
}
section.list-block h3, section.list-block h4,
article.list-block h2,
article.list-block h3,
article.list-block h4,
article.scool-cards-wrapper h3, article.scool-cards-wrapper h4 {
	margin-top: 48px;
	margin-bottom: 12px;
}
article.list-block img, article.scool-cards-wrapper img{
	margin-block:48px;
	@media (max-width: 767px) {
			margin-block: 32px;
		}
}
.catalogy-page +.blog{background-color: #f0f3f9;}
.prospects .services-list .txt-20 {
	line-height: 1.4;
}
.additional-help-list .list-block p {
	text-transform: uppercase;
	color: #101724;
	opacity: 0.5;
	line-height: 1.71;
	margin-bottom: 12px;
	font-size: 14px;
}
article.list-block p+p {
	margin-top: 12px;
}

article.list-block h2,
article.list-block h3 {
	margin-top: 48px;
	margin-bottom: 12px;
	@media (max-width: 767px) {
	margin-top: 32px;
	}
}
.prospects .services-list{
	margin-top: 32px;
	@media (max-width: 767px) {
		margin-top: 24px;
	}
}
.prospects .h3{
	margin-bottom: 0;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(16, 23, 36, .1);
}
.checker-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
	.checker-block{
		padding: 20px;
		background-color: #f0f3f9;
		&>*+*{margin-top: 12px;}
		&:nth-child(4n+2), &:nth-child(4n+3){
			background-color: $bg-black;
			&>*{color: white!important;}
		}
	}
	@media (max-width: 1023px) {gap: 16px;}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		.checker-block{

			&:nth-child(4n+2),&:nth-child(4n+3) {
				background-color: #f0f3f9; 
				&>* {
					color: $text-dark!important;
				}
			}
			&:nth-child(2n){background-color: $bg-black;
				&>* {
					color: white !important;
				}
			}
		}	
	}
}
.consultation-phones{
	.three-columns{
		margin-top: 20px;
		@media (max-width: 1199px) {
		column-gap: 16px;
		.phone-card{padding: 16px;}
		}
	}
}
.phone-card{
	padding: 20px;
	&>*+*{margin-top: 10px;}
	background-color: $bg-black;
	transition: .3s; 
	p{
		color: $white;
		opacity: 0.4;
		font-size: 16px;
		line-height: 1.75;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 230px;
		
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 1.71;
		}
	}
	.txt-20{
		color: $white;
		white-space: nowrap;
		width: fit-content;
		position: relative;
		display: block;
		&:after{
			content:'';
			background: linear-gradient(270deg, #151515 25%, rgba(21, 21, 21, 0) 100%);
			width: 100px;
			height: 30px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			opacity: 1;
			transition: .1s; 
		}
		
	}
	&:hover{background-color: $main-accent;}
	&:hover .txt-20:after{
		opacity: 0;
	}
	&:hover p{opacity: 0.7;}
}
.helpful .accent-border{
	border-width: 3px;
	padding-bottom: 4px;
	margin-bottom: 20px!important;
}
.helpful-item{
	.h6{
		margin-bottom: 0;
	}
	p, a {
		font-size: 14px;
		line-height: 1.71;
	}
}
.helpful-item +.helpful-item{margin-top: 16px;}
