section.catalogy-page{
	padding-top: 48px!important;
	padding-bottom: 120px!important;
	.header-group{
		width: 100%;
		margin-inline: 0;
		.btn-bars, .btn-table{
			&:hover{opacity: .3;}
		}
	}
	&-article{
		&>*+*{margin-top: 48px;}
		.h3{text-transform:unset;}
	}
	article{
		scroll-margin-top: 80px;
		.h3, .h2, .h4{margin-bottom: 12px;}
		p{line-height: 1.75;}
		& + article{margin-top: 48px;}
		&>*+*{margin-top: 12px;}
		.two-columns +.two-columns{margin-top: 20px;}
		picture{
		   display: block;
		   margin-block: 40px;
	   }
	   .two-columns picture{margin-block: 0;}
	   img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	   }
	}
	.checker-content{
		margin-block: 24px;
	}
	@media (max-width: 767px) {
		padding-top: 32px!important;
		padding-bottom: 90px!important;
	}
}
#cost-edu-secondary .two-columns{column-gap:25px;}
.catalogy-lists{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:48px;
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		gap: 32px;
	}
}
.catalogy-list .txt-20{
	margin-bottom: 12px;
}
.prospects .services-list{
	margin-top: 32px;
	@media (max-width: 767px) {
		margin-top: 24px;
	}
}
.prospects .h3{
	margin-bottom: 0;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(16, 23, 36, .1);
}
.checker-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
	.checker-block{
		padding: 20px;
		background-color: #f0f3f9;
		&>*+*{margin-top: 12px;}
		&:nth-child(4n+2), &:nth-child(4n+3){
			background-color: $bg-black;
			&>*{color: white!important;}
		}
	}
	@media (max-width: 1023px) {gap: 16px;}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		.checker-block{

			&:nth-child(4n+2),&:nth-child(4n+3) {
				background-color: #f0f3f9; 
				&>* {
					color: $text-dark!important;
				}
			}
			&:nth-child(2n){background-color: $bg-black;
				&>* {
					color: white !important;
				}
			}
		}	
	}
}
.consultation-phones{
	.three-columns{
		margin-top: 20px;
		@media (max-width: 1199px) {
		column-gap: 16px;
		.phone-card{padding: 16px;}
		}
	}
}
.phone-card{
	padding: 20px;
	&>*+*{margin-top: 10px;}
	background-color: $bg-black;
	transition: .3s; 
	p{
		color: $white;
		opacity: 0.4;
		font-size: 16px;
		line-height: 1.75;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 230px;
		
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 1.71;
		}
	}
	.txt-20{
		color: $white;
		white-space: nowrap;
		width: fit-content;
		position: relative;
		display: block;
		&:after{
			content:'';
			background: linear-gradient(270deg, #151515 25%, rgba(21, 21, 21, 0) 100%);
			width: 100px;
			height: 30px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			opacity: 1;
			transition: .1s; 
		}
		
	}
	&:hover{background-color: $main-accent;}
	&:hover .txt-20:after{
		opacity: 0;
	}
	&:hover p{opacity: 0.7;}
}
.helpful .accent-border{
	border-width: 3px;
	padding-bottom: 4px;
	margin-bottom: 20px!important;
}
.helpful-item{
	.h6{
		margin-bottom: 0;
	}
	p, a {
		font-size: 14px;
		line-height: 1.71;
	}
}
.helpful-item +.helpful-item{margin-top: 16px;}