.contacts-row{
	padding: 30px;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06);
	@media (max-width: 1279px) {
		padding: 30px 20px;
	}
	@media (max-width: 767px) {
		padding: 20px;
	.h4{font-size: 20px;}
	.four-columns{row-gap: 20px;}
	}
}