.education{
	padding-top: 100px;
	padding-bottom: 0!important;
	position: relative;
	h1, .h1 {text-shadow: none;}
		
	@media (max-width: 1439px) {
			padding-top: 118px;
		}
	@media (max-width: 767px) {
	padding-top: 142px;
	}
	&-title{
		max-width: 1180px;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		@media (max-width: 374px) {
			max-width: 330px;
		}
	}
	&-title__btn{
		display: none;
		@media (max-width: 767px) {
		display: block;
		margin-top: 120px;
		}
	}
	.h1 span {
		border-bottom: 5px solid $main-accent;
		@media (max-width: 575px) {
		margin-top: 6px;
		}
		display: inline-block;
	}
	.h1 span{
		
		// display: inline-block;
		line-height: 1;
		@media (max-width: 767px) {
				font-weight: 600;
				line-height: inherit;
			}
	}
	&-info{
		margin-top: 114px;
		padding-bottom: 110px;
		color: $white;
		position: relative;
		background-color: $black;
		.h1{text-align: center;}
		@media(max-width:1364px){
			margin-top: 126px;
		}
		@media (max-width: 767px) {
		margin-top: 80px;
		padding-bottom: 90px;
		}
		.container{
			position: relative;
			z-index: 2;
		}
		&:before{
			content: '';
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			height: 300px;
			background-color: $white;
			@media (max-width: 1199px) {
				height: 238px;
			}
			@media (max-width: 767px) {
			 height: 164px;
			}

		}
		
		.h2{
			color: $white;
			width: min(780px, 80%);
			margin-bottom: 20px;
			font-weight: 600;
			@media (max-width: 767px) {
			width: min(780px, 100%);
			}
			
		}
		
	}
	&-banner{
		max-height: 600px;
		overflow: hidden;
		aspect-ratio: 31/15;
		position: relative;
		.btn-pause{
			position: absolute;
			bottom: 20px;
			right: 20px;
			z-index: 3;
			transition: .3s; 
		}
		min-height: 328px;
		img, video{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (max-width: 767px) {
			
			width: 100%;
		}
	}
	&-offer{
		margin-top: 120px;
		@media (max-width: 767px) {
		    margin-top: 80px;
		}
	}
	&-offer__text{
		line-height: 1.6;
		margin-bottom: 60px;
		max-width: 640px;
		opacity: 0.6;
		@media (max-width: 767px) {
		margin-bottom: 40px;
		line-height: 1.71;
		font-size: 14px;
		}
	}
}

.education-cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	@media (max-width: 767px) {
	max-width: 400px;
	margin: 0 auto;
	grid-template-columns:  1fr;
	
	}
}
.btn-pause {
	backdrop-filter: blur(16px);
	background: rgba(16, 23, 36, 0.5);
	display: inline-flex;
	position: relative;
	padding-left: 16px;
	min-width: 210px;
	height: 48px;
	line-height: 48px;
	pointer-events: none;
	&:hover {background: rgba(16, 23, 36, 0.8);}

	span {
		text-shadow: 0 3px 10px  rgba(0, 0, 0, 0.1);
		font-weight: 500;
		font-size: 14px;
		// line-height: 1.43;
		letter-spacing: -0.01em;
		color: $white;

	}

	.icon-pause {
		width: 16px;
		height: 16px;
		fill: transparent;
		
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%)
	}
	.svg-play{display: none;}
}
.btn-pause.active{
	.icon-pause{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3c!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3e%3csvg fill='%23ffffff' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 210 210' xml:space='preserve' stroke='%23ffffff'%3e%3cg id='SVGRepo_bgCarrier' stroke-width='0'/%3e%3cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3e%3cg id='SVGRepo_iconCarrier'%3e%3cpath d='M179.07,105L30.93,210V0L179.07,105z'/%3e%3c/g%3e%3c/svg%3e");
	}
	

}