.greeting{
	.aside-grid__content{
		.h4{margin-bottom: 28px;}
		
		p + p {margin-top: 28px;}
		&>p{padding-right: 40px;}
		@media (max-width: 767px) {
			.h4 {margin-bottom: 32px;}
			p+p {margin-top: 32px;}
		}
		
					
				
		
	}
}