.header{
	.header-flex{
		display: flex;
		align-items: center;
	}
	&-column{
		display: flex;
		align-items: center;
		column-gap:16px;
		margin-left: 100px;
	}
}
.logo{
	flex-shrink: 0;
}
.svg-logo{
	width: 105px;
	height: 32px;
}
/*************HEADER TOP*****************/
.header-top {
	background-color: $white;
	height: 48px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;

	.header-column {
		margin-left: 138px;
	}
}

.header-nav {
	margin-left: auto;

	&>ul {
		display: flex;
		align-items: center;
		column-gap: 40px;

		li a {
			color: $text-dark;
			font-size: 15px;
			line-height: 1.33;
			padding-block: 3px;
			transition: .3s;
		}
	}

	.drop-menu-li {
		position: relative;
		padding-right: 17px;

		&:before {
			content: '';
			display: block;
			width: 11px;
			height: 6px;
			position: absolute;
			top: 23px;
			right: 0;
			transition: .3s;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L4.70276 4.29135C5.15743 4.69549 5.84257 4.69549 6.29724 4.29135L10 1' stroke='%232DBFCA' stroke-width='1.5' stroke-linecap='round' /%3e%3c/svg%3e");
		}
	}

	.drop-menu-wrapper {
		position: relative;

		transform: translateY(12px);
		position: absolute;
		top: calc(100% - 10px);
		top: 100%;
		left: -24px;
		width: max-content;
		transition: .3s;
		@include shadow-border;
		max-height: 0;
		overflow: hidden;

		&>* {
			padding: 20px 24px;
		}

		img {
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
		}

		a {
			font-size: 16px;
			line-height: 1.75;

			&:hover {
				color: $main-accent;
			}
		}

		li+li {
			margin-top: 12px;
		}
	}

	.menu-li {
		padding-block: 14px;

		a {
			padding-block: 4px;
		}
	}

	.menu-li>a {
		opacity: 0.8;
		position: relative;

		&:before {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			bottom: 3px;
			background-color: $text-dark;
			opacity: 0;
			transition: .3s;
		}
	}

	.menu-li:hover>a {
		opacity: 1;

		&:before {
			opacity: 1;
		}
	}

	.drop-menu-li:hover .drop-menu-wrapper {
		transform: translateY(-2px);
		// opacity: 1;
		z-index: 2;
		max-height: unset;
	}

	.menu-li:hover:before {
		transform: rotate(180deg);
	}
}

.drop-menu-countries {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 40px;

	.drop-menu__col {
		min-width: 160px;



	}

	.drop-menu__col-title {
		margin-bottom: 16px;
	}

	.drop-menu__col-title,
	.drop-menu__col-title * {
		font-weight: 500;
		font-size: 13px;
		line-height: 1, 54;
		text-transform: uppercase;
		color: $text-dark;
		opacity: .6;
	}

	.drop-menu__col-list>*+* {
		margin-top: 4px;
	}
}

.contact-item {
	font-weight: 500;
	font-size: 15px;
	line-height: 1.33;
	color: #4c5360;
	white-space: nowrap;
	position: relative;
	padding-block: 3px;

	&:before {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		left: 0;
		position: absolute;
		width: 100%;
		bottom: 3px;
		background-color: $text-dark;
		opacity: 0;
		transition: .3s;
	}

	&:hover:before {
		opacity: 1;
	}
}
.header-nav.header-nav--white{
	a {
		color: $white;
		opacity: 1;
	}
	.menu-li>a{
		&:before{
			background-color: $white;
		}
	}
	.drop-menu-wrapper {
		background-color: $bg-black;
	}
}
.header-bottom {
	background-color: $bg-black;
	color: $white;
	min-height: 68px;
	padding-block: 12px;

	.header-nav>ul {
		column-gap: 30px;
	}

	
}