.hero{
	min-height: 455px;
	position: relative;
	padding-block: 24px 32px;
	display: flex;
	overflow: hidden;
	
	 &-title{
		max-width: 1030px;
		width: calc(100% - 40px);
		position: absolute;
		left: 20px;
		top: 50%;
		*{color: $white}
		
		transform: translateY(-60%);
		@media (max-width: 1279px) {
		 margin-bottom: 0;
		}
		@media (max-width: 767px) {
		transform: translateY(-50%);
		left: 16px;
		}
	}
	.container{
		position: relative;
		z-index: 1;
	}
	&-content{
		justify-content: space-between;
		height: 100%;
	}
	&:after{
		content:'';
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.back-link{
		color: $white;
		font-size: 14px;
		font-weight: 400;
		svg{color: $white;}
		span{border-bottom: 1px solid currentColor;}
		&:hover{
			opacity:.6;
		}
	}
	.hero-bottom>* {color: $white;}
}
.hero.hero--center{
	.hero-title{
		left: 50%;
		transform: translate(-50%, -60%);
		text-align: center;
		
		
	}
	.hero-bottom{
		text-align: center;
	}
}