.dynamic-menu__header.light-bg{
	padding: 20px 16px;
}
.inner-page--institute{
	h1{text-shadow: none; line-height: 1.29;}
	.aside-grid{column-gap: 20px;}
	// .breadcrumb{margin-bottom: 48px;}
		
}
.dynamic-menu.flex-col{
	row-gap: 32px;
}
.institute-slider{
	width: calc(100vw - 20px - 295px);
	max-width: 925px;
	aspect-ratio: 185 / 114;
	padding: 0;
	padding-bottom: 23px;
	
	.swiper-pagination-bullets{bottom: 0}
		.swiper-pagination-bullet{
			height: 3px;
			width: 16px;
			background-color: $bg-black;
			opacity: .2;
			margin-left: 2px;
			margin-right: 2px;
			transition: .3s;
			border-radius: 1px;
		}
		.swiper-pagination-bullet-active{opacity: 1; width: 48px;}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			
		}
	@media (max-width: 1279px) {
		width: calc(100vw - 20px - 280px);
	}
	@media (max-width: 1023px) {
		width: calc(100vw - 32px);
	}
}
.institute-benefits{
	padding: 30px 20px;
	@media (max-width: 767px) {
		padding: 20px 16px;
	}
}
.list-check.list-check--column{
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
		@media (max-width: 1279px) {
			grid-template-columns: 1fr 1fr;
			gap: 25px;
		}
		@media (max-width: 767px) {
			grid-template-columns: 1fr;gap: 20px;
		}
		li{
			flex-direction: column;
			row-gap:10px;
		}
		li + li{margin-top: 0;}
	}
}
.info-table{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap:20px;
	row-gap:24px;
	line-height: 1.71;
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		row-gap: 16px;
	}
	.h6{
		margin-bottom: 0;
		color: $text-dark;
		line-height: 1.75;
		@media (max-width: 767px) {
		 font-size: 14px;
		}
	}
	.txt-14{
		text-transform: uppercase;
		color: $text-dark;
		opacity: .5;
	}
}
/****************/
.programs-table{
	position: relative;
	z-index: 2;
	&-row.t-header-mobile{
		display: none;
		@media (max-width: 767px) {
		  display: flex;
		  column-gap:10px;
		 
		  padding-block: 0;
		  padding-bottom: 24px;
		  .cell-price{
				justify-content: flex-start;
				align-items: center;
				text-align: left;
				column-gap:10px;
		  } 
		 
		}
	}
	&-row.t-header{
		&>*{
			font-size: 14px;
			text-transform: uppercase;
			opacity: .5;
			padding-top: 0;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	&-row{
		display: flex;
		align-items: center;
		column-gap:16px;
		border-bottom: 1px solid #f4f4f4;
		.cell-title {
			display: none;
			font-size: 14px;
			line-height: 1.71;
			opacity: .5;
			font-weight: 400;
			color: $text-dark;
		}
				
			
		@media (max-width: 767px) {
			display: block;
			.cell-title {display: block;} 
			&>*[class^="cell-"]{width: 100%;}
			padding-block: 20px;
		}
	}
	.cell-name{
		font-weight: 600;
		width: 46%;
		p{
			line-height: 1.71;
		}
		@media (max-width: 1199px) {width: 33%;}
		@media (max-width: 1023px) {
			width: 40%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	.cell-name,.cell-age, .cell-link, .cell-price{
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 40px;
		flex-shrink: 0;
		padding-block: 12px;
		
		@media (max-width: 767px) {
			padding-block: 4px;
			align-items: flex-start;
			font-size: 14px!important;text-align: right;
			
		}
		
	}
	.cell-age{
		width: 110px;
		text-align: center;
		// justify-content: center;
		color: $dark-grey;
	}
	.cell-link{
		width: 114px;
		
		@media (max-width: 767px) {
			padding-block: 20px;
			.btn-accent, a{width: auto;margin-left: auto;}
		}
	}
	.cell-price{
		flex-shrink: 1;
		flex-grow: 1;
		position: relative;
		
		.cell-price__btn{
			display: flex;
			align-items: center;
			column-gap:6px;
		}
		a span{font-weight: 600;}
		.cell-price__drop{
			box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
			background: $white;
			border:1px solid transparent;
			position: absolute;
			left: -24px;
			top: 100%;
			z-index:3;
			display: none;
			ul{
				margin: 16px;
				li{
					font-size: 14px;
				}
				li.active{
					color: $main-accent;
				}
			}
			li +li {margin-top: 12px;}
			@media (max-width: 767px) {
			left: auto;
			right: 0;
			}
		}
	}
	.cell-price.active{
		.cell-price__drop{display: block;}
		.cell-price__btn svg{transform: rotate(180deg);}
	}
}
.map{
	width: 100%;
	height: 355px;
	margin-block: 48px;
	@media (max-width: 1279px) {
		height: 275px;
	}
}
.virtual-tour-wrapper{
	width: 100%;
	height: 604px;
	iframe{
		display: block;
		object-fit: cover;
	}
	@media (max-width: 1279px) {
		height: 418px;
	}
	@media (max-width: 767px) {
		height: 192px;
	}
}