.provide{
	&-title{
		text-align: center;
		
		.section-title{
			margin-bottom: 16px;
		}
		
	}
	&-card{
		padding:32px 48px 40px;
		min-height: 232px;
		.h4{margin-bottom: 16px;}
		p{
			line-height: 1.75;
		}
		@media (max-width: 1279px) {
			padding: 30px 20px;
			min-height: 248px;
		}
		@media (max-width: 767px) {
			padding: 24px 16px;
			min-height: unset;
			p{line-height: 1.71; font-size: 14px;}
		}
	}
	@media (max-width: 767px) {
	.btns-group .btn{width: min(360px, 100%)}
		&-title{text-align: left;}
	}
}
