.provide{
	&-title{
		text-align: center;
		
		.section-title{
			margin-bottom: 16px;
		}
		
	}
	&-card{
		padding:32px 48px 40px;
		min-height: 232px;
		.h4{margin-bottom: 16px;}
		p{
			line-height: 1.75;
		}
	}
}