.talk-content{
	padding-top: 48px;
	p, ol, ul{line-height: 1.78;}
	p:has(strong){
		font-size: 18px;
	}
	p {margin-block: 8px;}
	&__block +.talk-content__block {margin-top: 48px;}
	p>img, figure>img, blockquote{margin-block: 48px;}
	p>img,
	figure>img{
		height: 443px;
		object-fit: cover;
	}
	@media (max-width: 1279px) {
		p>img,
		figure>img {
			height: 484px;
			
		}
	}
	@media (max-width: 767px) {
		padding-top: 40px;
		p>img,
			figure>img {
				height: auto;
				max-height: 330px;
				min-height: 165px;
		
			}
		&__block+.talk-content__block {
			margin-top: 24px;
		}
	
		p>img,
		figure>img,
		blockquote {
			margin-block: 24px;
		}
	}
	@media (max-width: 479px){
		p>img,
		figure>img {
			
			height: 165px;
	
		}
	}
	
}