//========== ACCREDITATION ============
section.accreditation
	.container
		.accreditation-content.flex-justify
			//======== LEFT COLUMN =====
			.accreditation__title.flex-col
				h2.h2 Аккредитации нашей компании
				
				//===== rabbit image=====
				.accreditation__img
					img.lazy(src="./img/rabbit.webp", width="221" height="303" alt="img")
			
			//======== RIGHT COLUMN =====
			.accreditation-cards
				.flex-row
					+accredit-card('logo1.webp', 'Allterra Education ', 'входит в список агентств, рекомендованных Британским Советом для профессиональной консультации по учебе в Великобритании')
					+accredit-card('logo2.webp', 'Allterra Education ', ' является официальным представителем более 300 ведущих  частных школ Великобритании в рамках ассоциации British Boarding  Schools Network')
				.flex-row
					+accredit-card('logo3.webp', 'Allterra Education ', ' – член организации ICEF; наши специалисты прошли  профессиональную подготовку и получили международный статус ICEF Trained  Advisors')
					+accredit-card('logo4.webp', 'Allterra Education ', 'успешно сотрудничает с международной ассоциацией Quality Education, в которую входят лучшие языковые школы и колледжи  планеты')