section.all-services
	.container
		h2.section-title Услуги Allterra Education по поступлению в школу

		+services-list([
			{title: 'Подбор школы и программы обучения', txt:'Проводим собеседование и тестирование. Определяем критерии подбора школы, ищем максимально подходящие варианты. Составляем с родителями шорт-лист (1-3 учебных заведения)	'},
			{title:'Подготовка к поступлению', txt:'Создаем профайл ученика с акцентом на сильные стороны. Заполняем все необходимые документы, регистрируем на экзамены, подбираем тьюторов для подготовки к обучению за рубежом'},
			{title:'Зачисление в школу', txt:'Получаем ответы от школ и определяемся с финальным выбором. Согласовываем условия оплаты, контролируем получение документов, заказываем школьную форму и экипировку для занятий'},
			{title:'Визирование и подготовка к отъезду', txt:'Оформляем учебную визу: заполняем и проверяем документы, готовим к собеседованию в посольстве. Отслеживаем статус заявления, высылаем инструкции по сбору вещей и прохождению границы, заказываем трансфер'},
			{title:'Курирование во время обучения', txt:'Следим за успеваемостью и посещением уроков, помогаем наладить контакт со школой, решаем бытовые вопросы. Организуем визиты для семьи и друзей. Остаемся на связи 24/7, чтобы родители были спокойны'},
			
			])