//=====================ARTICLE CONTENT ================
section.article
	.container
		.column-grid
			.column-grid__col.article-menu
				.article-menu-title Содержание статьи:
				+backlitMenu([
					{anchor: '#anchor1', name: 'Что такое портфолио?'},
					{anchor: '#anchor2', name: 'Что должно содержать портфолио?'},
					{anchor: '#anchor3', name: 'Каким размером должно быть портфолио и как лучше показать свои работы?'},
					{anchor: '#anchor4', name: 'Cколько примеров работ должно быть включено?'},
					{anchor: '#anchor5', name: 'Alterra Education'},
					{anchor: '#anchor6', name: 'Нужно ли включать скетчбуки?'},
					{anchor: '#anchor7', name: 'Насколько важно мое портфолио?'},
					{anchor: '#anchor8', name: 'Стоит ли включать в портфолио сами работы?'},
					{anchor: '#anchor9', name: 'Подробнее о колледже моды'},
					{anchor: '#anchor10', name: 'Каким образом оценивается портфолио?'},
					{anchor: '#anchor10', name: 'Расписание мероприятия'}

					])
				
			.column-grid__content.txt-body.article-content
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
				
				//====================== #anchor1 ============
				#anchor1.anchor.title-32 Что такое портфолио?
				p В частности, повышение уровня гражданского сознания представляет собой интересный эксперимент проверки приоретизации разума над эмоциями. А ещё сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Мы вынуждены отталкиваться от того, что сложившаяся структура организации предполагает независимые способы реализации системы массового участия. Но постоянный количественный рост и сфера нашей активности требует анализа соответствующих условий активизации.
				
				//====================== #anchor2 ============
				#anchor2.anchor.title-32 Что должно содержать портфолио?
				p Повседневная практика показывает, что реализация намеченных плановых заданий не оставляет шанса для экономической целесообразности принимаемых решений. Таким образом, новая модель организационной деятельности не даёт нам иного выбора, кроме определения вывода текущих активов. С другой стороны, граница обучения кадров позволяет выполнить важные задания по разработке дальнейших направлений развития. 
				
				p Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий, в своём классическом представлении, допускает внедрение вывода текущих активов. Однозначно, акционеры крупнейших компаний, вне зависимости от их уровня, должны быть указаны как претенденты на роль ключевых факторов.
				.txt-img.two-columns
					.txt-img__txt
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat. Id porta nibh venenatis cras sed felis eget velit. Vivamus at augue eget arcu dictum varius duis at. Dictum sit amet justo donec enim. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. 

						p Ut porttitor leo a diam sollicitudin tempor id. Aliquam sem et tortor consequat id porta nibh. Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis
					img(src="./img/article-page/img1.webp",width="610" alt="img")

				//====================== #anchor3 ============
				#anchor3.anchor.title-32 Каким размером должно быть портфолио и как лучше показать свои работы?
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
				p
					img(src="./img/main-page/faq-img.webp", alt="img")
				//====================== #anchor4 ============
				#anchor4.anchor.title-32 Cколько примеров работ должно быть включено?
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
				
				//====================== #anchor5 ============
				#anchor5.anchor.title-32 Alterra Education
				+list-block('Небольшие классы — 10-15 человек.', 'Современное оснащение: научные лаборатории, творческие мастерские, спортивные объекты, творческие студии и т. д.', 'Сотрудничество с университетами, совместные программы по искусству, STEM и другим направлениям.', 'Большой выбор внеклассных занятий: верховая езда, гольф, цифровые медиа, астрономия, кулинария, робототехника, программирование на Python и многое другое.', 'Преподаватели имеют больше автономии, могут адаптировать программу и учебные материалы под конкретные потребности учеников.', 'Больший выбор образовательных программ: AP, IB, A-Levels и др.', 'Возможность проживать в пансионе в течение всего года. ')

				#anchor6.anchor.title-32 Нужно ли включать скетчбуки?
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
