//=====================ARTICLE CONTENT ================
section.article
	.container
		.aside-grid.aside-grid--1279
			.aside-grid__col.dynamic-menu#sticky-menu
				.dynamic-menu__header
					.h6 Содержание статьи:
					svg.svg-chevron-down
						use(href="./img/spriteSvg.svg#svg-chevron-down")
				.dynamic-menu__list
					+backlitMenu([
						{anchor: '#anchor1', name: 'Что такое портфолио?'},
						{anchor: '#anchor2', name: 'Что должно содержать портфолио?'},
						{anchor: '#anchor3', name: 'Каким размером должно быть портфолио и как лучше показать свои работы?'},
						{anchor: '#anchor4', name: 'Cколько примеров работ должно быть включено?'},
						{anchor: '#anchor5', name: 'Alterra Education'},
						{anchor: '#anchor6', name: 'Нужно ли включать скетчбуки?'},
						{anchor: '#anchor7', name: 'Насколько важно мое портфолио?'},
						{anchor: '#anchor8', name: 'Стоит ли включать в портфолио сами работы?'},
						{anchor: '#anchor9', name: 'Подробнее о колледже моды'},
						{anchor: '#anchor10', name: 'Каким образом оценивается портфолио?'},
						{anchor: '#anchor11', name: 'Расписание мероприятия'}

						])
				
			.aside-grid__content
				.custom-text
					p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
					
					//==== Выводы ====
					//- include ../blocks/_article1
					//====================== #anchor1 ============
					//- include ../blocks/_article-anchor1.pug
					//====================== #anchor2 ============
					//- include ../blocks/_article-anchor2.pug
					
					p Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий, в своём классическом представлении, допускает внедрение вывода текущих активов. Однозначно, акционеры крупнейших компаний, вне зависимости от их уровня, должны быть указаны как претенденты на роль ключевых факторов.
					.txt-img.two-columns
						.txt-img__txt
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat. Id porta nibh venenatis cras sed felis eget velit. Vivamus at augue eget arcu dictum varius duis at. Dictum sit amet justo donec enim. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. 

							p Ut porttitor leo a diam sollicitudin tempor id. Aliquam sem et tortor consequat id porta nibh. Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis
						img.lazy(src="./img/article-page/img1.webp", width="610"  alt="img")

					//====================== #anchor3 ============
					//- include ../blocks/_article-anchor3.pug
					//====================== #anchor4 ============
					//- include ../blocks/_article-anchor4.pug
					//====================== #anchor5 ============
					//- include ../blocks/_article-anchor5.pug					
					//====================== #anchor6 ============
					//- include ../blocks/_article-anchor6.pug
					//====================== #anchor7 ============
					//- include ../blocks/_article-anchor7.pug
					//====================== #anchor8 ============
					//- include ../blocks/_article-anchor8.pug
					//====================== blockquote ============
					blockquote
						p Всегда советуйтесь по содержанию портфолио. Каждое из них очень индивидуально и отражает именно тот этап творческого пути, на котором студент находится в данный момент
					
					//====================== #anchor 9 ============
					//- include ../blocks/_article-anchor9.pug
							
					//====================== #anchor 10 ============
					//- include ../blocks/_article-anchor10.pug
					//- include ../blocks/_article-inner-menu.pug
					//- include ../blocks/_article-cards.pug
					
					//- include ../blocks/_article-anchor11.pug
				
					//========== swiper slider =======*/
					.article-swiper.swiper
						.swiper-wrapper
							.swiper-slide
								picture
									source(srcset='./img/article-w375.webp' media='(max-width: 767px)'  type='image/webp')
									source(srcset='./img/article-w375@2x.webp' media='(max-width: 767px) and (min-resolution: 192dpi)' type='image/webp')
									source(srcset='./img/article@2x.webp' media='(min-resolution: 192dpi)' width='905' height='510' type='image/webp')
									img.lazy.wh-100(src='./img/article.webp' width='905' height='510' alt='image')
					
							.swiper-slide
								picture
									source(srcset='./img/article-poster-w375.webp' media='(max-width: 767px)'  type='image/webp')
									source(srcset='./img/article-poster-w375.webp' media='(max-width: 767px) and (min-resolution: 192dpi)' type='image/webp')
									source(srcset='./img/article-poster.webp' media='(min-resolution: 192dpi)' width='905' height='510' type='image/webp')
									img.lazy.wh-100(src='./img/article-poster.webp' width='905' height='510' alt='image')
						//====pagination=====
						.swiper-pagination
					
					//==========================*/
					.process-cards-columns
						+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
						+process-card('02','Определение текущего положения', 'Языковое тестирование, первичная проработка вариантов, определение критериев планирования' )
						+process-card('03','Долгосрочное планирование', 'Разработка образовательного маршрута, подбор учебного заведения' )
						+process-card('04','Подготовка и поступлению', 'Сбор, оформление и отправка документов, согласование формальностей. Подготовка студента к поступлению' )
						+process-card('05','Визирование', 'Заполнение визовой анкеты, подготовка сопроводительных документов, анализ рисков' )
						+process-card('06','Курирование', 'Сопровождение в процессе учебы. Контроль успеваемости, работа с тьюторами, решение бытовых вопросов' )
					
					//===========VIDEO============
					//- include ../blocks/_article-youtube.pug
					
						
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat. Id porta nibh venenatis cras sed felis eget velit. Vivamus at augue eget arcu dictum varius duis at
					
					//====staticstic ===
					.statistics-content.bg-white
						//====single item =======
						.statistics-item
							span Помогаем поступить
							p С 2008
							span года
						//====single item =======
						.statistics-item
							span Успешно зачислили
							p >1200
							span студентов
						//====single item =======
						.statistics-item
							span Довольных клиентов
							p >99&nbsp;%
							span среди поступающих
							
						//====single item =======
						.statistics-item
							span Нам доверяют
							p >100
							span студентов ежегодно
					
					//=======FEEDBACK======
					//- include ../blocks/_article-feedback.pug
					
					//===review slider =====
					.article-review
						//======== slider-content =======
						.article-review-slider.review-slider.swiper
							.swiper-wrapper
								//===== single slide ========
								.swiper-slide
									.review-card
										+person-review('review/author1','Александр Ференц','Ringling College of Art', '', '', '','date', 'США', 'Я работаю с командой Allterra Education на протяжении 6 лет. За это время я успел сам побывать студентом и поучить английский в Санта-Барбаре. Обе мои дочери были рады попасть в универс', 'Читать далее', 'slider')

								//=====single slide ========
								.swiper-slide
									.review-card
										+person-review('review/author2','София','Sidcot School', '', '', '','date', 'Великобритания', 'Я могу рекомендовать компанию Allterra Education всем, кто планирует отправлять ребенка в Великобританию.', '', 'slider')
								
								
								//===== single slide ========
								.swiper-slide
									.review-card
										+person-review('review/author3','Захар Богданов',"Queen Ethelburga's Collegiate", '', '', '','date', 'Австралия', 'Два года в школе пролетели незаметно, я завел очень много друзей и смог значительно улучшить свой английский.', '', 'slider')
								//=====single slide ========
								.swiper-slide
									.review-card
										+person-review('review/author4','Иван Рябинин',"Giggleswick School", '', '','','date', 'Германия', 'Все критерии, по которым мы выбирали школу, совпали.', '', 'slider')
						//===== swiper navigation========
						.slider-nav
							.swiper-button-next
							.swiper-button-prev
					
					//==== слайдер ПЛЮСЫ + МИНУСЫ ===
					.lists-swiper.swiper
						.swiper-wrapper
							.swiper-slide
								.shadow-card
									.h3.txt-upper Плюсы
									ul.list-mark
										li Небольшие классы — 10-15 человек. 
										li Современное оснащение: научные лаборатории, творческие мастерские, спортивные объекты, творческие студии и т. д.
										li Сотрудничество с университетами, совместные программы по искусству, STEM и другим направлениям.
										li Большой выбор внеклассных занятий: верховая езда, гольф, цифровые медиа, астрономия, кулинария, робототехника, программирование на Python и многое другое.
										li Преподаватели имеют больше автономии, могут адаптировать программу и учебные материалы под конкретные потребности учеников.
										li Больший выбор образовательных программ: AP, IB, A-Levels и др.
										li Возможность проживать в пансионе в течение всего года. 
					
							.swiper-slide
								.shadow-card
									.h3.txt-upper МИНУСЫ
									ul.list-cross
										li Небольшие классы — 10-15 человек.
										li Современное оснащение: научные лаборатории, творческие мастерские, спортивные объекты, творческие студии и т. д.
										li Сотрудничество с университетами, совместные программы по искусству, STEM и другим направлениям.
										li Большой выбор внеклассных занятий: верховая езда, гольф, цифровые медиа, астрономия, кулинария, робототехника, программирование на Python и многое другое.
										li Преподаватели имеют больше автономии, могут адаптировать программу и учебные материалы под конкретные потребности учеников.
										li Больший выбор образовательных программ: AP, IB, A-Levels и др.
										li Возможность проживать в пансионе в течение всего года. 
						
						.lists-swiper-next.swiper-button-next
						.lists-swiper-prev.swiper-button-prev
					
					
					//=======аккредитации ====
					.article-accreditation
						.article-accreditation-left
							.h2.txt-upper.accent-border Аккредитации  allterra education
						
						.article-accreditation-cards
							+accredit-card('logo1.webp', 'Allterra Education ', 'входит в список агентств, рекомендованных Британским Советом для профессиональной консультации по учебе в Великобритании')
							+accredit-card('logo2.webp', 'Allterra Education ', ' является официальным представителем более 300 ведущих  частных школ Великобритании в рамках ассоциации British Boarding  Schools Network')
							+accredit-card('logo3.webp', 'Allterra Education ', ' – член организации ICEF; наши специалисты прошли  профессиональную подготовку и получили международный статус ICEF Trained  Advisors')
							+accredit-card('logo4.webp', 'Allterra Education ', 'успешно сотрудничает с международной ассоциацией Quality Education, в которую входят лучшие языковые школы и колледжи  планеты')
					
					//=======FAQ=======
					.article-faq.faq
						//=====content======
						//====== LEFT COLUMN =====
						.faq-column
							.h2.accent-border Frequently  Asked Question
							.faq-contacts
								p.h5 Не нашли ответы на свои вопросы?
								p.txt-opac Напишите нам: #[a(href="mailto:contact@allterra.ru").accent-link contact@allterra.ru]

						//====== Right COLUMN =====
						.faq-acordion
							include ../blocks/_acordion.pug
							.faq-contacts
								p.h5 Не нашли ответы на свои вопросы?
								p.txt-opac Напишите нам: #[a(href="mailto:contact@allterra.ru").accent-link contact@allterra.ru]

					
					.article-boss
						
					//===========ARTICLE FOOTER =====
					.article-footer.txt-body
						p #[strong Оригинал статьи на #[a(href="www.website.com").accent-link www.website.com]]
						p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu
						
				
				
				
				
				
				//===========ARTICLE FOOTER =====
				.article-footer.txt-body
					p #[strong Оригинал статьи на #[a(href="www.website.com").accent-link www.website.com]]
					p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu
					.hash-tags.mt-48
						a(href="#!").accent-link #hashtag1 
						a(href="#!").accent-link #hashtag2 
						a(href="#!").accent-link #hashtag3 
						a(href="#!").accent-link #hashtag4
					
					.social.mt-48
						a(href="#!").social-item
							img.lazy(src="./img/icons/skype.svg", alt="icon")
						a(href="#!").social-item
							img.lazy(src="./img/icons/facebook.svg", alt="icon")
						a(href="#!").social-item
							img.lazy(src="./img/icons/vk.svg", alt="icon")
