section.article
	.container
		.column-grid
			.column-grid__col
			.column-grid__content.txt-body.article-content
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
				
				.title-32 Что такое портфолио?
				
				p В частности, повышение уровня гражданского сознания представляет собой интересный эксперимент проверки приоретизации разума над эмоциями. А ещё сторонники тоталитаризма в науке в равной степени предоставлены сами себе. Мы вынуждены отталкиваться от того, что сложившаяся структура организации предполагает независимые способы реализации системы массового участия. Но постоянный количественный рост и сфера нашей активности требует анализа соответствующих условий активизации.

				.title-32 Что должно содержать портфолио?
				p Повседневная практика показывает, что реализация намеченных плановых заданий не оставляет шанса для экономической целесообразности принимаемых решений. Таким образом, новая модель организационной деятельности не даёт нам иного выбора, кроме определения вывода текущих активов. С другой стороны, граница обучения кадров позволяет выполнить важные задания по разработке дальнейших направлений развития. 
				
				p Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий, в своём классическом представлении, допускает внедрение вывода текущих активов. Однозначно, акционеры крупнейших компаний, вне зависимости от их уровня, должны быть указаны как претенденты на роль ключевых факторов.
				.txt-img.two-columns
					.txt-img__txt
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat. Id porta nibh venenatis cras sed felis eget velit. Vivamus at augue eget arcu dictum varius duis at. Dictum sit amet justo donec enim. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. 

						p Ut porttitor leo a diam sollicitudin tempor id. Aliquam sem et tortor consequat id porta nibh. Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis
					img(src="./img/article-page/img1.webp",width="610" alt="img")

				.title-32 Каким размером должно быть портфолио и как лучше показать свои работы?
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.
				p
					img(src="./img/main-page/faq-img.webp", alt="img")
				.title-32 Cколько примеров работ должно быть включено?
				p Et malesuada fames ac turpis. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Imperdiet sed euismod nisi porta lorem mollis. Eleifend donec pretium vulputate sapien nec sagittis. Imperdiet massa tincidunt nunc pulvinar sapien. Etiam non quam lacus suspendisse faucibus interdum. Vestibulum lectus mauris ultrices eros in cursus. Commodo nulla facilisi nullam vehicula ipsum a arcu.