//======= Руководство ========
section.chief.light-bg
	.container
		h2.section-title Руководство компании
		.chief-cards.two-columns-1024
			//========= single card ===========
			.chief-card
				+person('boss/boss1','Гречко Владимир Ильич','grechko@allterra.ru', 'Генеральный директор', 'Опыт работы 27 лет')
			.chief-card
				+person('boss/boss2','Бякишева Марина Леонидовна','grechko@allterra.ru', 'Генеральный директор', 'Опыт работы 27 лет')
			