//======= Руководство ========
section.bosses.light-bg
	.container
		h2.section-title Руководство компании
		.bosses-cards.two-columns-1024
			//========= single card ===========
			+person-card(1, 'Гречко Владимир Ильич')
			
			//========= single card ==========
			+person-card(2, 'Бякишева Марина Леонидовна')



		