section.catalogy-page
	.container
		.aside-grid.aside-grid--1023.gap-20
			//=====left column ====
			.aside-grid__col.filters.dynamic-menu
				+aside-filters('Выберите интересующие вас <br> учебные заведения:')
			
			//==== right column ====
			.aside-grid__content
				include ../blocks/_inner-menu
				
				.scool-cards-wrapper.pt-40
					.header-group
						.h3 Учебные заведения
						//===== toggles =====
						.btns-group
							a(href="#!").btn-bars
								svg.svg-bar
									use(href='./img/spriteSvg.svg#svg-bar')
							a(href="#!").btn-table.active
								svg.svg-table
									use(href='./img/spriteSvg.svg#svg-table')
					+scool-card
					+scool-card2
					+scool-card
					+scool-card2
					+scool-card