section.catalogy-page
	.container
		.aside-grid.aside-grid--1023.gap-20
			//=====left column ====
			.aside-grid__col.filters.dynamic-menu
				include _aside-filters
			
			//==== right column ====
			.aside-grid__content
				include ../blocks/_inner-menu