.catalogy-page
	.container
		.aside-grid.aside-grid--1023.gap-20
			//=====left column ====
			.aside-grid__col.filters.dynamic-menu
				+aside-filters('Выберите интересующие вас <br> учебные заведения:')
			
			//==== right column ====
			.aside-grid__content
				include ../blocks/_inner-menu
				//====== cards section====
				section.scool-cards-wrapper.pt-40
					.header-group
						.h3 Учебные заведения
						//===== toggles =====
						.btns-group
							a(href="#!").btn-bars
								svg.svg-bar
									use(href='./img/spriteSvg.svg#svg-bar')
							a(href="#!").btn-table.active
								svg.svg-table
									use(href='./img/spriteSvg.svg#svg-table')
					+scool-card
					+scool-card2
					+scool-card
					+scool-card2
					+scool-card
					
					//=====btn + pagination =====
					.justify-group.mt-40
						button(type="button").btn-br-white.h-40 Показать еще
						//=====пагинация====
						.pagination
							a(href="#!").page-num.prev.disable
							a(href="#!").page-num 1
							a(href="#!").page-num 2
							a(href="#!").page-num.active 3
							a(href="#!").page-num ...
							a(href="#!").page-num 22
							a(href="#!").page-num.next

				//====== section=====
				section.catalogy-page-article
					.catalogy-lists
						.catalogy-list
							.txt-20 Преимущества
							+list-block('Всестороннее развитие личности', 'Подготовка к топовым вузам', '500+ частных школ-пансионов', 'Самые высокие результаты IB')
						.catalogy-list
							.txt-20 Программы обучения
							+list-block('GCSE', 'A-Levels', 'IB', 'US High school')
						.catalogy-list
							.txt-20 Стоимость обучения
							+list-block('Средняя школа: от £23 000', 'Старшая школа: от £23 000')
					.text-block
						p В каталоге программ Allterra Education подробно описаны направления обучения и уровни образования за рубежом, которые пользуются популярностью и обеспечивают получение необходимых квалификаций и дипломов. Представленные здесь школы, университеты, детские лагеря и языковые курсы проверены многолетним опытом сотрудничества с нашим агентством. Благодаря постоянным контактам с руководством учебных заведений и отзывам учеников, мы всегда уверены в своих рекомендациях для новых студентов Allterra Education.
						p Кроме рейтинговых и всемирно известных образовательных центров, мы сотрудничаем с сотнями государственных и частных зарубежных учебных заведений, которые дают качественное и востребованное образование. Поступить в такие школы и университеты за рубежом гораздо легче, чем в Итон, MIT, Кембридж или Мюнхенский технический университет, но в них так же гарантировано качественное образование и великолепные карьерные перспективы.
				
					//====== Перспективы=====
					.prospects#prospects
						h2.h3 Перспективы
						+services-list([
							{title: 'Поступление в лучшие вузы', txt:'Выпускники средних школ Великобритании имеют высокие шансы на поступление не только в известные национальные университеты, но и в учебные заведения США, Европы и Азии, ведь британские дипломы признаются по всему миру. Благодаря британской программе A-Levels старшеклассники могут изучать только предметы, которые пригодятся для поступления, и лучше подготовиться к экзаменам'},
							{title:'Трудоустройство после выпуска', txt:'Ещё во время обучения многие студенты проходят стажировки, которые находят с помощью карьерных центров в университете. После окончания вуза иностранцы могут получить специальную визу Graduate route visa и остаться в Великобритании на два-три года для поиска постоянной работы'},
							{title:'Быстрое обучение', txt:'Британские студенты тратят значительно меньше времени на получение высшего образования. Продолжительность программ бакалавриата составляет три года, магистратуры – всего 1 год'}
							
							])
					//====image====
					.img-banner__picture
						picture
							source(srcset="./img/catalogy/catalogy-mobile.webp", media="(max-width: 767px)")
							
							img.lazy(src="./img/catalogy/catalogy.webp", width="925" height="540" alt="image")
					
					//========условия поступления ====
					.checker
						h2.h3 Вступительные требования
						.checker-content
							//===single block ===
							.checker-block
								.txt-20 Бакалавриат
								+list-block('Диплом A-Levels или Foundation (или 1 курс бакалавриата в России)', 'IELTS 6.5', 'Средний балл в аттестате не ниже 4.0', 'Мотивационное письмо')
							//===single block ===
							.checker-block
								.txt-20 Магистратура
								+list-block('Законченное высшее образование', 'IELTS 6.5', 'Опыт работы (опционально)', 'Рекомендации', 'Мотивационное письмо', 'Средний балл в аттестате не ниже 4.0')
							//===single block ===
							.checker-block
								.txt-20 Бакалавриат
								+list-block('Диплом A-Levels или Foundation (или 1 курс бакалавриата в России)', 'IELTS 6.5', 'Средний балл в аттестате не ниже 4.0', 'Мотивационное письмо')
							//===single block ===
							.checker-block
								.txt-20 Магистратура
								+list-block('Законченное высшее образование', 'IELTS 6.5', 'Опыт работы (опционально)', 'Рекомендации', 'Мотивационное письмо', 'Средний балл в аттестате не ниже 4.0')
						
						.text-block.mt-40
							p Не знаете, с чего начать при подборе центра языковой подготовки? 	#[a.accent-link(href="#!") Свяжитесь с нашим онлайн-консультантом.] Специалист Allterra Education в индивидуальном порядке подберёт для вас удобные и выгодные варианты изучения иностранного языка в приоритетной стране.
				
				//====== importance-choice ====
				section.importance-choice#importance-choice
					h2.h3 Почему важно правильно подобрать учебное заведение
					.text-block
						p  Выбор учебного заведения за границей — важный шаг. Каждая школа Великобритании и каждый университет США имеют свои традиции и особенности обучения. Эксперты по международному образованию Allterra Education помогут вам выбирать вариант, который максимально соответствует интересам, потребностям, способностям и характеру будущего студента.
						p Правильный выбор упрощает поступление в желаемую школу или университет, учитывая сильные стороны поступающего. Наконец, если учебное заведение за рубежом вам действительно подходит, учиться в нём будет максимально комфортно.
						p При подборе вуза или школы за рубежом мы учитываем и позицию учебного заведения в мировых рейтингах и результаты, которые демонстрируют выпускники. Это важно для практического применения полученного образования и первых шагов в карьере молодого специалиста. <br> Поиск и анализ информации требует значительных затрат времени. В каталоге учебных заведений Allterra Education представлены школы, университеты и языковые курсы за рубежом, которые проверены многолетним сотрудничеством и отличными результатами выпускников.
				
				//====== importance-choice ====
				section.feature-education#feature-education
					h2.h3 Особенности образования в разных странах
					.text-block 
						p  Образование за границей служит фундаментом для успешной международной карьеры, но только в том случае, если вы правильно выбрали страну обучения. Образовательные системы в Европе и США складывались веками, и каждая из них имеет свои особенности, ценности и традиции. Например, сравнивая школы США со школами Швейцарии, вы найдёте совершенно разные подходы к обучению. При этом и школы, и университеты этих стран традиционно входят в число лучших в мире.
				
				//====== education in Switzerland ====
				section.feature-education#education-switzerland
					h2.h3 Обучение в Швейцарии
					.text-block
						p Максимальное разнообразие учебных программ лежит в основе обучения в школах Швейцарии. В зависимости от того, в каком кантоне находится школа, можно найти и немецкий Abitur, и французский бакалавриат, а также международный курс International Baccalaureate (IB), который позволяет получать высшее образование за рубежом в большинстве европейских стран. В дополнение многие швейцарские школы имеют статус международных и предлагают американские и британские программы обучения.
						p В университетах Швейцарии наблюдается то же разнообразие. Учёба возможна на четырёх языках — английском, немецком, французском или итальянском. Наполнение учебных программ каждый из вузов Швейцарии продумывает самостоятельно, поэтому индивидуальный стиль обучения — визитная карточка всех швейцарских учебных заведений.
					//====image====
					.img-banner__picture
						picture
							source(srcset="./img/catalogy/catalogy-mobile.webp", media="(max-width: 767px)")
							
							img.lazy(src="./img/catalogy/catalogy.webp", width="925" height="540" alt="image")