//============ CONTACTS ================
section.contacts.contacts--popup.dark-bg
	.container
		.dark-opacity.txt-center
			p.h3.txt-upper Остались вопросы?
			p.txt-16 Ваш менеджер Allterra Education поможет разобраться
			
			button(type="submit").btn-white.mt-40 Получить консультацию	