section.contacts-main
	.container
		//======contacts-row ====
		.contacts-row.bx-sh
			.h4 Общие контакты
			.four-columns.mt-20
				.contact-group
					span.contact-name Телефон
					a(href="tel:88005114993") 8(800) 511-49-93

				.contact-group
					span.contact-name Электронная почта:
					a(href="mailto:contact@allterra.ru").accent-link contact@allterra.ru

				.contact-group
					span.contact-name Skype:
					a(href="skype:@All-Terra").accent-link @All-Terra

				.contact-group
					span.contact-name Группа в VK:
					a(href="#!").accent-link vk.com/club54046555
		
		//======contacts-row ====
		.contacts-cards.two-columns.mt-80
			+contact-card('Москва', '125009', 'г. Москва, ул. Тверская, д. 7, Бизнес-центр «Центральный Телеграф»', '8(800) 511-49-93')
			+contact-card('Санкт-Петербург', '190013', 'г. Санкт-Петербург, ул. Введенского канала, д.7, БЦ «Фарватер», оф. 415', '+7 (812) 425-64-25')
			+contact-card('Москва', '125009', 'г. Москва, ул. Тверская, д. 7, Бизнес-центр «Центральный Телеграф»', '8(800) 511-49-93')