section.cooperation
	.container-narrow
		.custom-text
			p Приглашаем к совместной работе коллег и единомышленников из разных сфер деятельности. К Вашим услугам – наш многолетний опыт в сфере обучения за рубежом, прочные деловые связи с образовательными центрами за границей, отзывчивость и оперативность наших сотрудников.
			p Мы гарантируем интересные профессиональные задачи и взаимовыгодное сотрудничество.

			h4 Руководителям школ и колледжей, директорам частных образовательных центров:
			ol
				li Групповые поездки для Ваших учеников, в сопровождении Ваших преподавателей в одну из 28 стран мира.
					
				li Организация визитов в учебные заведения за границей для обмена опытом.
				li Содействие в подписании договоров об академическом партнерстве с иностранными учебными заведениями - обмен, double или joint degree и т.д.
				li Организационная поддержка олимпиад и конкурсов
				li Гостевые визиты, открытые лекции и мастер-классы наших партнеров на английском языке.
				li Информационная поддержка.

			h4 Преподавателям
			p Педагоги - это люди, имеющие самое непосредственное отношение к обучению за границей. Ведь для того, чтобы отправиться на учебу за рубеж, нужен язык. Хотя бы самый минимальный. И роль преподавателя в этом процессе очень важная, если не определяющая.

			p Мы предлагаем Вам выбрать тот формат сотрудничества, который представляется Вам интересным.
			
			ol
				li Организация групповых поездок Ваших учеников за границу. Мы - подбираем программы с изучением языка в странах Европы и Америки с учетом Ваших пожеланий; обеспечиваем организационное сопровождение и визовую поддержку.Вы - набираете группу детей в возрасте от 8 до 17 лет и отправляетесь с ними в путешествие в качестве сопровождающего. Тематика поездок - любая, по запросу. Комплектация групп - от 10 человек. Направления: Англия, Шотландия, Ирландия, Кипр, Мальта, Франция, Италия, Швейцария, Испания, Германия, Чехия.

				li Организация Вашего обучения за рубежом, с учетом Ваших профессиональных интересов и задач. Мы сотрудничаем с ведущими языковыми школами Англии и Ирландии, специализирующимися на курсах для преподавателей, и с удовольствием подберем для Вас подходящую программу. Оставьте заявку и наш менеджер свяжется с Вами в течение дня.
			h4 Университетам
			ol
				li Презентация государственной стипендиальной программы "Глобальное образование" на правах официального партнера
				li Организация визитов в учебные заведения за границей для обмена опытом.
				li Содействие в подписании договоров об академическом партнерстве - обмен, double или joint degree и т.д.
				li Открытые лекции и мастер-классы наших партнеров на английском языке.
				li Предоставление базы для учебной и производственной практики Ваших студентов.
			p Мы рады предоставить талантливым и мотивированным студентам возможность пройти практику в нашей компании. Приоритет обучающимся на направлениях 035700.62 "Лингвистика" (профиль "Перевод и переводоведение"), 080200.62 «Менеджмент» (профиль «Управление международной деятельностью»), 080200.68 «Менеджмент» (программы «Управление международными образовательными проектами» и «Менеджмент и маркетинг в международном сотрудничестве»).

			p В работе необходим высокий уровень английского языка (Advanced) и компьютерная грамотность. Отбор производится по итогам тестирования и прохождения интервью. Самым способным предоставляем возможности для написания дипломного проекта и дальнейшее трудоустройство.
		//===========ARTICLE FOOTER =====
		.article-footer.txt-body
			
			p По вопросам сотрудничества Вы можете написать на #[a(href="mailto:contact@allterra.ru").accent-link contact@allterra.ru ] или позвонить нам по тел. #[a(href="tel:8007006435").accent-link 8 (800) 700-6435], контактное лицо - #[strong Марина Бякишева.]



