//======= COUNTRIES ===========
section.countries
	.container
		//==== строка с меню и кнопкой ======
		.countries-row.flex-justify
			//=====ссылки к якорям на странице =====
			.countries-menu.flex-center-y
				a(href="#en-cntr").accent-link Англоговорящие
				
				a(href="#euro-cntr").accent-link Европа
					
				a(href="#asia-cntr").accent-link Азия
					
			
			//======= Получить консультацию ==========
			a(href="#!").btn-accent Получить консультацию
		
		//=========== BLOCK ENGL ===========
		article.two-columns-1280#en-cntr
			
			//=====left columns=====
			.country-desk
				.country-desk__header.flex-center-y
					img(src="./img/countries/1.webp", width="212" height="212"  alt="alt")
					
					.country-desk__txt
						.h3 Англоговорящие страны
						p.txt-16 2683 успешных поступления
				.txt-body.mb-48
					.txt-20.mb-20 Самое популярное направление для образования за рубежом
					p Ежегодно в США, Австралию, Великобританию и Канаду приезжают на учебу 3 млн иностранных студентов. Здесь самый большой выбор программ на английском, лучшие условия для нетворкинга и старта международной карьеры.
				
				.country-desk__footer.flex-center-y
					p.title.accent-txt 127
					p.txt-16 вузов из мирового рейтинга топ-300 расположены в англоязычных странах

			//=====right columns=====
			.country-flags
				+flag-link('uk', 'Великобритания', 306)
				+flag-link('usa', 'США', 136)
				+flag-link('irl', 'Ирландия', 35)
				+flag-link('can', 'Канада', 30)
				+flag-link('aus', 'Австралия', 12)
				+flag-link('malta', 'Мальта', 1)

		//=========== BLOCK EUROPE ===========
		article.two-columns-1280#euro-cntr
			
			//=====left columns=====
			.country-desk
				.country-desk__header.flex-center-y
					img(src="./img/countries/2.webp", width="212" height="212"  alt="alt")
					
					.country-desk__txt
						.h3 Европа
						p.txt-16 734 успешных поступления
				.txt-body.mb-48
					.txt-20.mb-20 Классика, проверенная временем
					p В Европе можно получить фундаментальное образование или выбрать вуз с ориентацией на рынок труда. Европейские дипломы признаются во всем мире, а выпускники владеют минимум двумя иностранными языками.
				
				.country-desk__footer.flex-center-y
					p.title.accent-txt 86
					p.txt-16 вузов из мирового рейтинга топ-300 расположены в Европе

			//=====right columns=====
			.country-flags
				+flag-link('swet', 'Швейцария', 45)
				+flag-link('spain', 'Испания', 38)
				+flag-link('de', 'Германия', 61)
				+flag-link('fr', 'Франция', 24)
				+flag-link('netherl', 'Нидерланды', 18)
				+flag-link('fin', 'Финляндия', 26)
				+flag-link('ital', 'Италия', 19)
				+flag-link('austria', 'Австрия', 7)
				+flag-link('czech', 'Чехия', 3)
				+flag-link('cy', 'Кипр', 13)
				+flag-link('ru', 'Россия', 11)
				+flag-link('bulg', 'Болгария', 1)
				+flag-link('port', 'Португалия', 2)
				+flag-link('belg', 'Бельгия', 2)
				+flag-link('hun', 'Венгрия', 2)
				+flag-link('slov', 'Словакия', )
				+flag-link('serb', 'Сербия', 2)
				+flag-link('latv', 'Латвия', 4)

		//=========== BLOCK ASIA ===========
		article.two-columns-1280#asia-cntr
			
			//=====left columns=====
			.country-desk
				.country-desk__header.flex-center-y
					img(src="./img/countries/3.webp", width="212" height="212"  alt="alt")
					
					.country-desk__txt
						.h3 Азия
						p.txt-16 307  успешных поступления
				.txt-body.mb-48
					.txt-20.mb-20 Страны с высокими темпами развития, где образование  играет ключевую роль 
					p ОАЭ, Сингапур, Южная Корея и другие страны Азии сейчас на пике популярности. Только в ОАЭ 40+ кампусов американских и британских вузов. Здесь можно получить современное образование полностью на английском языке.
				
				.country-desk__footer.flex-center-y
					p.title.accent-txt 72
					p.txt-16 вуза из мирового рейтинга топ-300 расположены в  Азии

			//=====right columns=====
			.country-flags
				+flag-link('sing', 'Сингапур', 1)
				+flag-link('oae', 'ОАЭ', 52)
				+flag-link('thail', 'Таиланд', 6)
				+flag-link('kor', 'Корея', 15)
				+flag-link('malasia', 'Малайзия', 22)
				+flag-link('china', 'Китай', 11)
				+flag-link('turk', 'Турция', 9)
				+flag-link('phil', 'Филлипины', 1)
