//======= COUNTRIES ===========
section.countries
	.container
		//==== строка с меню и кнопкой ======
		.countries-row.flex-justify
			//=====ссылки к якорям на странице =====
			.countries-menu.flex-center-y
				a(href="#en-cntr").accent-link Англоговорящие
				
				a(href="#euro-cntr").accent-link Европа
					
				a(href="#asia-cntr").accent-link Азия
					
			
			//======= Получить консультацию ==========
			a(href="#!").btn-accent Получить консультацию
		
		//=========== BLOCK ENGL ===========
		article.two-columns-1280#en-cntr
			
			//=====left columns=====
			.country-desk
				.country-desk__header.flex-center-y
					img(src="./img/countries/1.webp", width="212" height="212"  alt="alt")
					
					.country-desk__txt
						.h3 Англоговорящие страны
						p.txt-16 2683 успешных поступления
				.txt-body.mb-48
					.txt-20.mb-20 Самое популярное направление для образования за рубежом
					p Ежегодно в США, Австралию, Великобританию и Канаду приезжают на учебу 3 млн иностранных студентов. Здесь самый большой выбор программ на английском, лучшие условия для нетворкинга и старта международной карьеры.
				
				.country-desk__footer.flex-center-y
					p.title.accent-txt 127
					p.txt-16 вузов из мирового рейтинга топ-300 расположены в англоязычных странах

			//=====right columns=====
			.country-flags
				+flag-link('cy', 'Великобритания', 306)
				+flag-link('usa.webp', 'Великобритания', 136)
				+flag-link('ireland.webp', 'Ирландия', 35)
				+flag-link('canada.webp', 'Канада', 30)
				+flag-link('aust.webp', 'Австралия', 12)
				+flag-link('malta.webp', 'Мальта', 1)

		//=========== BLOCK EUROPE ===========
		article.two-columns-1280#euro-cntr
			
			//=====left columns=====
			.country-desk
				.country-desk__header.flex-center-y
					img(src="./img/countries/2.webp", width="212" height="212"  alt="alt")
					
					.country-desk__txt
						.h3 Европа
						p.txt-16 734 успешных поступления
				.txt-body.mb-48
					.txt-20.mb-20 Классика, проверенная временем
					p В Европе можно получить фундаментальное образование или выбрать вуз с ориентацией на рынок труда. Европейские дипломы признаются во всем мире, а выпускники владеют минимум двумя иностранными языками.
				
				.country-desk__footer.flex-center-y
					p.title.accent-txt 86
					p.txt-16 вузов из мирового рейтинга топ-300 расположены в Европе

			//=====right columns=====
			.country-flags
				+flag-link('switzerland.webp', 'Швейцария', 45)
				+flag-link('spain.webp', 'Испания', 38)
				+flag-link('germany.webp', 'Германия', 61)
				+flag-link('france.webp', 'Франция', 24)
				+flag-link('netherlands.webp', 'Нидерланды', 18)
				+flag-link('finland.webp', 'Финляндия', 26)
				+flag-link('italy.webp', 'Италия', 19)
				+flag-link('flag_austria.webp', 'Австрия', 7)
				+flag-link('czech_republic.webp', 'Чехия', 3)
				+flag-link('030-cyprus.webp', 'Кипр', 13)
				+flag-link('russia_1.webp', 'Россия', 11)
				+flag-link('bulgaria.webp', 'Болгария', 1)
				+flag-link('portugal_flag.webp', 'Португалия', 2)
				+flag-link('belgium_flag.webp', 'Бельгия', 2)
				+flag-link('hungary_flag.webp', 'Венгрия', 2)
				+flag-link('slovakia_flag.webp', 'Словакия', )
				+flag-link('serbia_flag.webp', 'Сербия', 2)
				+flag-link('flag_-Latvia.webp', 'Латвия', 4)

		//=========== BLOCK ASIA ===========
		article.two-columns-1280#asia-cntr
			
			//=====left columns=====
			.country-desk
				.country-desk__header.flex-center-y
					img(src="./img/countries/3.webp", width="212" height="212"  alt="alt")
					
					.country-desk__txt
						.h3 Азия
						p.txt-16 307  успешных поступления
				.txt-body.mb-48
					.txt-20.mb-20 Страны с высокими темпами развития, где образование  играет ключевую роль 
					p ОАЭ, Сингапур, Южная Корея и другие страны Азии сейчас на пике популярности. Только в ОАЭ 40+ кампусов американских и британских вузов. Здесь можно получить современное образование полностью на английском языке.
				
				.country-desk__footer.flex-center-y
					p.title.accent-txt 72
					p.txt-16 вуза из мирового рейтинга топ-300 расположены в  Азии

			//=====right columns=====
			.country-flags
				+flag-link('Singapore-_flag.webp', 'Сингапур', 1)
				+flag-link('oae_flag_big.webp', 'ОАЭ', 52)
				+flag-link('tailand_flag.webp', 'Таиланд', 6)
				+flag-link('y_korea.webp', 'Корея', 15)
				+flag-link('malaysia_flag.webp', 'Малайзия', 22)
				+flag-link('china_flag.webp', 'Китай', 11)
				+flag-link('flag_turkey.webp', 'Турция', 9)
				+flag-link('filippines_flag.webp', 'Филлипины', 1)
