section.education-stages.light-bg
	.container
		h2.h2 Этапы работы
		//========TABS ========
		
		.education-stages__tabs.custom-tabs
			
			//========= tab btns =====
			.scroll-wrapper
				.custom-tabs__btns.mb-20
					button.tab-btn.active(data-tab-btn="1")
						span 1
						span Построение образова&shy;тельного маршрута
					button.tab-btn
						span 2
						span Подготовка к поступлению
					button.tab-btn
						span 3
						span Зачисление
					button.tab-btn
						span 4
						span Визирование
					button.tab-btn
						span 5
						span Подготовка к отъезду
					button.tab-btn
						span 6
						span Курирование	

			//========= tab content =====
			.custom-tabs__content
				//========stage #1 =======
				.custom-tab.active
					.text-block
						p.txt-20 Анализ ситуации
						p На первом этапе работы мы знакомимся со студентом и проводим консультацию по особенностям получения образования за границей. Вместе определяем страну, цель и контрольные точки образовательного маршрута.
					
					.text-block
						p.txt-20 Индивидуальный подбор учебных заведений и программ обучения
						p Каждый раз поиск ведется по уникальному запросу, с учетом пожеланий заказчика и личностных особенностей студента.
						
						.list-block
							ul
								li  Находим варианты с высокими шансами на поступление
								li  Выясняем наличие свободных мест
								li  Уточняем вступительные требования и сроки
								li  Согласовываем индивидуальные условия
				//========stage #2 =======
				.custom-tab
					.text-block
						p.txt-20 Подготовка к поступлению в школу и вуз за рубежом
						p Выбрав учебные заведения и определившись со сроками, мы строим для нашего студента индивидуальный план подготовки
						
						.list-block
							ul
								li  Проверяем текущий уровень знаний;
								li  Организуем занятия математикой, английским, подготовку к экзаменам ISEB, Ukiset, SAT, GMAT с лучшими педагогами;
								li  Контролируем темп и прогресс в усвоении материала, чтобы быть уверенными в результате
				//========stage #3 =======	
				.custom-tab
					.text-block
						p.txt-20 Поступление в учебное заведение
						p На ключевом этапе со студентом работает личный куратор. Он координирует процесс сбора документов, уточняет информацию в приемной комиссии, следит за соблюдением сроков.
						p Куратор ведет всю коммуникацию с учебным заведением, действуя в Ваших интересах. Если для поступления нужно пройти собеседование, мы организуем подготовку, чтобы Вы отлично смотрелись на интервью.
						p Отлаженная технология и контроль качества позволяет нам добиваться исключительных результатов даже при поступлении в топовые школы и университеты
						
						.list-block
							ul
								li  Проверяем текущий уровень знаний;
								li  Организуем занятия математикой, английским, подготовку к экзаменам ISEB, Ukiset, SAT, GMAT с лучшими педагогами;
								li  Контролируем темп и прогресс в усвоении материала, чтобы быть уверенными в результате3
				//========stage #4 =======
				.custom-tab
					.text-block
						p.txt-20 Получение студенческой визы
						p Мы оказываем комплексную поддержку на этапе оформления визы, от первичной оценки шансов до получения паспорта в посольстве:
						
						.list-block
							ul
								li  Анализируем кейс заявителя, визовую историю и возможные риски;
								li  Разрабатываем стратегию успешного получения визы;
								li  Помогаем собрать комплект документов, в том числе правильно оформить переводы на иностранный язык;
								li  Заполняем визовую анкету;
								li Записываем на подачу и личное интервью, если необходимо.
							p Наши специалисты следят за изменениями в законодательстве и тщательно проверяют все заявки, обращая внимание на детали
				//========stage #5 =======
				.custom-tab
					.text-block
						p.txt-20 Подготовка к отъезду в учебное заведение
						p Мы помогаем эффективно организовать процесс сборов: отправляем в школу медицинскую информацию, составляем список вещей, заблаговременно заказываем учебники и школьную форму, смотрим билеты на каникулы.
						p Мы расскажем, чего ждать в первые дни и как действовать, если появятся вопросы. Перед вылетом каждый ученик получает подробное руководство, включая инструкции по прохождению границы
				//========stage #6 =======
				.custom-tab
					.text-block
						p.txt-20 Решение бытовых вопросов и помощь в учебе
						p Профессиональное сопровождение необходимо, чтобы ребенок получил от обучения за рубежом максимальную пользу и положительные эмоции. Мы помогаем вести коммуникацию со школой, организовать дополнительные уроки, занятия на каникулах, визиты родителей
						p Представляем интересы семьи в спорных ситуациях и оказываем необходимую поддержку.
					.text-block
						p.txt-20 Опекунская служба
						p В Великобритании для наших клиентов работает собственная опекунская служба. Мы предоставляем услугу опекунства на высоком профессиональном уровне, в соответствии со стандартами AEGIS.
						p Ученики британских школ всегда могут обратиться за помощью к своим кураторам в Лондоне и других городах Великобритании

		.section-btn
			a(href="#feedback").btn Получить консультацию