//========= EDUCATION ========
section.education
	.education-title
		h1.h1 ОБРАЗОВАНИЕ ЗА РУБЕЖОМ  с  #[span.accent-border Allterra&nbsp;Education]
		.education-title__btn
			a(href="#feedback").btn-accent Консультация


	//=====  EDUCATION INFO =======
	.education-info
		.container
		
			.education-banner#video-box
				video#video.lazy( muted autoplay playsinline)
					source(src="./img/main-page/header-video.mp4", type="video/mp4")
				button.btn-pause#video-btn
					span Приостановить видео
					i.icon-pause
			.education-offer
				h2.h2 Среднее образование за&nbsp;рубежом станет основой
				p.education-offer__text Качественное среднее образование гарантирует место в хороших зарубежных вузах, закладывает необходимые знания ребенку для дальшейшего образования, работы и жизни
				
				//========== EDUCATION CARDS ============
				.education-cards
					//======single card =======
					.info-card
						.info-card__img
							+pic-short('main-page/edu1', 400, 300, 'wh-100')
						a(href="#!").info-card__text
							p.txt-20 Каникулы с изучением языков
							span.round-arrow
								svg.svg-arrow
									use(href="./img/spriteSvg.svg#svg-arrow")
										
					//======single card =======
					.info-card
						.info-card__img
							+pic-short('main-page/edu2', 400, 300, 'wh-100')
						a(href="#!").info-card__text
							p.txt-20 Поступление в среднюю школу
							span.round-arrow
								svg.svg-arrow
									use( href='./img/spriteSvg.svg#svg-arrow')

					//======single card =======
					.info-card
						.info-card__img
							+pic-short('main-page/edu3', 400, 300, 'wh-100')
						a(href="#!").info-card__text
							p.txt-20 Поступление в университет
							span.round-arrow
								svg.svg-arrow
									use( href='./img/spriteSvg.svg#svg-arrow')