//============== FAQ ================
section.faq
	.container
		//=====content======
		.faq-content.pt-100.two-columns-1024
			//====== LEFT COLUMN =====
			.faq-column
				h2.h2 Frequently #[span Asked] #[span Question]
				.faq-contacts
					p.h5 Не нашли ответы на свои вопросы?
					p.txt-opac Напишите нам: #[a(href="mailto:contact@allterra.ru").accent-link contact@allterra.ru]
			
			//====== Right COLUMN =====
			.faq-acordion
				include ../blocks/_acordion.pug
				.faq-contacts
					p.h5 Не нашли ответы на свои вопросы?
					p.txt-opac Напишите нам: #[a(href="mailto:contact@allterra.ru").accent-link contact@allterra.ru]