//=============FOOTER============
footer.footer.light-bg
	.container
		.footer-row.two-columns
			//=======nav lists=====
			.footer-nav.two-columns
				//=======sincle list ======
				nav
					a(href="#!") О компании
					a(href="#!") Услуги
					a(href="#!") Вакансии
					a(href="#!") Каникулы
					a(href="#!") Университеты
					a(href="#!") Как выбрать программу
				//=======sincle list ======
				nav
					a(href="#!") Обращение директора
					a(href="#!") Сотрудничество
					a(href="#!") Partner`s zone
					a(href="#!") Школы
					a(href="#!") Контакты
			
			//====== footer-contacts =======
			.footer-contacts.two-columns
				//=======contacts col ====
				.footer-contacts__col
					.contact-group
						p.contact-name Телефон
						a(href="tel:88005114993") 8(800) 511-4993
					.contact-group
						p.contact-name Время работы
						p с 10:00 до 19:00 (пн-пт)
					.social
						a(href="#!").social-item
							img(src="./img/icons/skype.svg", alt="icon")
						a(href="#!").social-item
							img(src="./img/icons/vk.svg", alt="icon")

				//=======contacts col ====
				.footer-contacts__col
					
					address.contact-group
						p
							strong Москва
							| #[br] ул. Тверская, д. 7  #[br]
							a(href="#!").accent-link На карте
					
					address.contact-group
						p
							strong Санкт-Петербург
							| #[br] ул. Введенского канала, 7  #[br]
							a(href="#!").accent-link На карте

		.footer-bottom.flex-center-y
			.accreditation-short.flex-center-y
				.accredit-logo
					img(src="./img/accredit/logo1.webp", height="60" alt="img")
				.accredit-logo
					img(src="./img/accredit/logo2.webp", height="60" alt="img")
				.accredit-logo
					img(src="./img/accredit/logo3.webp", height="60" alt="img")
				.accredit-logo
					img(src="./img/accredit/logo4.webp", height="60" alt="img")
			
			a(href="#!").grey-link Политика конфиденциальности