section.greeting
	.container
		.aside-grid
			//=====left column ====
			.aside-grid__col
				+person('boss/boss1','Гречко Владимир Ильич','grechko@allterra.ru', 'Генеральный директор', 'Опыт работы 27 лет')(class="short-card")
				
			//==== right column ====
			.aside-grid__content.txt-body
				.h4 #[strong Уважаемые господа!] Здесь я хочу рассказать Вам о том, что мы думаем о своей работе и о том, как мы относимся к своим клиентам.
				p #[strong От чего зависит судьба человека?] От череды случайностей и стечения обстоятельств? Или от того, нашел ли он себя в этой жизни? Научится ли человек делать выбор, бороться с трудностями, принимать правильные решения?

				p Ответы на эти вопросы во многом зависят от родителей – людей, которые всегда рядом, которые любят и заботятся. Но даже родители не всесильны. Невозможно все знать и уметь. И ключевым моментом в такой ситуации становится выбор конкретных специалистов для ребенка: докторов, учителей, тренеров и… консультантов по обучению за рубежом.

				p Мы прекрасно понимаем Вас потому, что сами родители. Так же, как и Вы, мы искали школы и спортивные секции, так же учили своих детей за границей.

				p Компания «Альтера Эдьюкейшн» - #[strong это люди, объединенные общим мировоззрением]. У нас нет случайных людей или тех, кто «ходит на работу». Мы не нанимаем на работу «персонал». У нас работают люди, которые относятся к Вашей проблеме как к своей.
				//======== blockquote =======
				blockquote(cite="")
					p Имея многолетний опыт работы в сфере образования за рубежом и высокую квалификацию&nbsp;каждого сотрудника, мы гарантируем Вам доступ ко всем возможным вариантам обучения, содействие при поступлении и курирование в течение всего процесса обучения.
				
				
				p Мы понимаем, для кого мы работаем. Люди, стремящиеся получить лучшее образование для себя или своих детей, постоянно в движении – каждый день меняют себя и окружающий их мир к лучшему.

				p И очень важно, чтобы идущие рядом были единомышленниками, а не обузой. Не отнимали время и силы, а помогали и поддерживали. Поэтому, прежде всего, мы стремимся понять, кто является нашим клиентом. Что им движет, и к чему он стремится. Весь наш опыт и #[strong наши знания будут в Вашем распоряжении].

				p В зависимости от того, на каком этапе образования Вы находитесь, мы вместе с Вами выберем программу обучения или разработаем образовательную траекторию, которая наилучшим образом обеспечит достижение поставленных целей с минимально возможными ограничениями.

				p Все остальное – технические моменты. Куда и когда отправиться учиться, мы с Вами определим в процессе сотрудничества.

				p Именно сотрудничества! Получение образования – длительный, сложный и трудоемкий процесс. И все это время #[strong мы будем рядом]. Вместе с Вами будем следить за результатами учебы, обеспечивая необходимый уровень поддержки, как в учебе, так и в быту
				//======== blockquote =======
				blockquote(cite="")
					p Наша конечная цель – получение нашими клиентами такого уровня образования, который позволит им заниматься любимым делом, легко получить желаемую работу или добиться успехов в бизнесе, обеспечит широту выбора и высокий уровень жизни
				
				//====== inner-menu ====
				.inner-menu.color-block
					h3 Также в разделе «О компании»:
					a.active(href="#!") Об Allterra Education
					a(href="#!") Все услуги
					a(href="#!") Сотрудничество
					a(href="#!") Вакансии
					a(href="#!") Контакт
					a(href="#!") Partner's zone