section.how-enroll-new
	.container
		.how-enroll-img
			img(src="./img/scools/board-new.webp", alt="img")
		.how-enroll__content
			h2.h3  Как поступить в школу за границей?
			p Для успешного поступления следует предпринять ряд действий: 
			ul
				li выбрать страну;
				li решить, в каком возрасте ваш ребенок начнет учебу;
				li понять, какой тип школы ему подходит;
				li выучить язык и подготовиться к сдаче экзаменов
			p #[strong Все это важно сделать #[span  правильно и вовремя ] ]
			a(href="#!").btn-accent Узнайте больше