//========image banner ========
a(href="#!").img-banner.p-block-100
	picture.img-banner__picture
		source(srcset="./img/main-page/faq-img-tablet.webp", media="(max-width: 767px)" width="767" height="164"  type="image/webp")
		source(srcset="./img/main-page/faq-img-tablet@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)"  type="image/webp" width="767" height="164")
		source(srcset="./img/main-page/faq-img@2x.webp", media="(min-resolution: 192dpi)"  type="image/webp" width="1240" height="220")
		img.lazy(src="./img/main-page/faq-img.webp", width="1240" height="220" alt="image")