//=====================ARTICLE CONTENT ================
section.institute-article
	.container
		.aside-grid.aside-grid--1023
			.aside-grid__col.dynamic-menu.flex-col#institute-menu
				.dynamic-menu__header.light-bg
					.h4 360 Institute of Management
					svg.svg-chevron-down
						use(href="./img/spriteSvg.svg#svg-chevron-down")
				.dynamic-menu__list
					+backlitMenu([
						{anchor: '#anchor1', name: 'Описание'},
						{anchor: '#anchor2', name: 'Программы'},
						{anchor: '#anchor3', name: 'Расположение'},
						{anchor: '#anchor4', name: 'Оснащение'},
						{anchor: '#anchor5', name: 'Проживание'},
						{anchor: '#anchor6', name: 'Виртуальный тур'},
						{anchor: '#anchor7', name: 'Дополнительно'},
						{anchor: '#anchor8', name: 'Как поступить'}
						])
				
				.dynamic-menu__banner.block-1024
					img(src="./img/institute/institute-logo.webp", width="295" height="295" alt="logo")
			
			//======= right column ======
			.aside-grid__content.offset-top-48
				h1.section-title 360 Institute of Management | Институт менеджмента 360
				//====== institute slider====
				article.institute-slider.swiper
					.swiper-wrapper
						//====== slider =======
						.swiper-slide
							picture
								source(srcset="./img/institute/1-mob.webp", media="(max-width: 767px)")
								img.lazy(src="./img/institute/1.webp", width="925" height="545" alt="image")
						//======slider =======
						.swiper-slide
							picture
								source(srcset="./img/institute/1-mob.webp", media="(max-width: 767px)")
								img.lazy(src="./img/institute/1.webp", width="925" height="545" alt="image")
						//======slider =======
						.swiper-slide
							picture
								source(srcset="./img/institute/1-mob.webp", media="(max-width: 767px)")
								img.lazy(src="./img/institute/1.webp", width="925" height="545" alt="image")
					//======slider pagination =====
					.swiper-pagination

				//========= institute-benefits ========
				article.institute-benefits.light-bg
					+list-check('Программы&nbsp;профессионального развития', 'Курсы английского языка', 'Гибкий график обучения', 'Расположение рядом с&nbsp;деловым районом Дубая')(class="list-check--column")
				
				//========= institute-info ========

				article.institute-info
					.info-table
						//=====item====
						.info-table__col
							.txt-14 Расположение
							.h6 Дубай
						//=====item====
						.info-table__col
							.txt-14 Тип
							.h6 Институт дополнительного профессионального образования
						//=====item====
						.info-table__col
							.txt-14 Год основания
							.h6 2023
						//=====item====
						.info-table__col
							.txt-14 Рейтинг
							.h6 9.00/10
						//=====item====
						.info-table__col
							.txt-14 Языки обучения
							.h6 Английский, Испанский, Немецкий, Датский
						//=====item====
						.info-table__col
							.txt-14 Возраст
							.h6 9-15
						//=====item====
						.info-table__col
							.txt-14 Тип проживания
							.h6 Резиденция
						//=====item====
						.info-table__col
							.txt-14 Кол-во учеников
							.h6 500
				//======== border list ====
				article.border-block
					+list-block('Программы профессионального развития', 'Курсы английского языка', 'Гибкий график обучения', 'Расположение рядом с деловым районом Дубая')
				
				//===== institute-programs =====
				article.institute-programs
					.programs-table#programs-table
						//===== ROW HEADER====
						.programs-table-row.t-header
							.cell-name
								p Программы
							.cell-age
								p Возраст
							.cell-price
								p Стоимость
							.cell-link
								
						//===== TOGGLE CURRENCY FOR MOBILE ====
						.programs-table-row.t-header-mobile
							.cell-price
								span.cell-title Валюта отображения
								p #[span.pay-cur €]|#[span.pay-cur.active ₽]
							
						//===== ROW ====
						.programs-table-row
							.cell-name
								span.cell-title Программы
								p General English Course
							.cell-age
								span.cell-title Возраст
								p 9
							.cell-price
								span.cell-title Стоимость
								.cell-price__btn
									a(href="#!") #[span 11 702,21₽] / 1 месяц
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								.cell-price__drop
									ul
										li.active 11 702,21₽/ 1 месяц
										li 580 839,68₽ / 3 месяца
										li 580 839,68₽ / 6 месяцев
										li 580 839,68₽ / 1 год
							.cell-link
								a(href="#!").btn-accent.h-40 Смотреть
						//===== ROW ====
						.programs-table-row
							.cell-name
								span.cell-title Программы
								p Профессиональные тренинги
							.cell-age
								span.cell-title Возраст
								p 16
							.cell-price
								span.cell-title Стоимость
								.cell-price__btn
									a(href="#!") #[span 11 702,21₽] / 1 месяц
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								.cell-price__drop
									ul
										li.active 11 702,21₽/ 1 месяц
										li 580 839,68₽ / 3 месяца
										li 580 839,68₽ / 6 месяцев
										li 580 839,68₽ / 1 год
							.cell-link
								a(href="#!").btn-accent.h-40 Смотреть

						//===== ROW ====
						.programs-table-row
							.cell-name
								span.cell-title Программы
								p Professional Development Programme (Students and Working Professionals)
							.cell-age
								span.cell-title Возраст
								p 16
							.cell-price
								span.cell-title Стоимость
								.cell-price__btn
									a(href="#!") #[span 11 702,21₽] / 1 месяц
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								.cell-price__drop
									ul
										li.active 11 702,21₽/ 1 месяц
										li 580 839,68₽ / 3 месяца
										li 580 839,68₽ / 6 месяцев
										li 580 839,68₽ / 1 год
							.cell-link
								a(href="#!").btn-accent.h-40 Смотреть