
section.news-page
	.container
		.aside-grid.aside-grid--1023.gap-20
			//=====left column ====
			.aside-grid__col.filters.dynamic-menu
				//====== filters header ===
				.filters-header.dynamic-menu__header
					.h4 Выберете отзывы, интересующие вас
					svg.svg-chevron-down
						use(href="./img/spriteSvg.svg#svg-chevron-down")
					
				//====== filters content ===
				.filters-drop.dynamic-menu__list
					.filters-body
						//========ВЫБРАННЫЕ ФИЛЬТРЫ =======
						.filters__selected
							button(type="button").filters-reset.grey-link Сбросить все
							.filters-group
								.filters-group__title Уровень образования
								.filters-group__label
									p Языковые курсы
									button(type="button").btn-remove
							
							.filters-group
								.filters-group__title Страна
								.filters-group__label
									p Испания
									button(type="button").btn-remove

						//=========СПИСОК ГРУПП ФИЛЬТРОВ =======
						
						//=====ОДНА ГРУППА ======
						.filters-group
							.filters-group__title Страна
							.filters-group__list
								a(href="#!") Австралия
								a(href="#!") Великобритания
								a(href="#!") Германия
								a(href="#!") Ирландия
								a(href="#!") Испания
								a(href="#!") Италия
											
			//==== right column ====
			.aside-grid__content.flex-col
				.news-cards.three-columns
					+blog-card(1, 'Статья', 'Как написать мотивационное письмо в&nbsp;университет?')
					+blog-card(2, 'Статья', 'Экономическое образование в США')
					+blog-card(9, 'Новость', 'Техническое образование в Германии')
					+blog-card(10, 'Новость', 'Обучение на промышленного дизайнера за границей')
					+blog-card(11, 'Новость', 'В какой стране лучшее образование?')
					+blog-card(12, 'Новость', 'IELTS или TOEFL: что лучше для поступления в университет')
				
				//===============BANNER ==============
				a(href="#!")
					picture.img-banner__picture
						source(srcset="./img/main-page/faq-img-tablet.webp", media="(max-width: 767px)" width="767" height="164"  type="image/webp")
						source(srcset="./img/main-page/faq-img-tablet@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)"  type="image/webp" width="767" height="164")
						source(srcset="./img/main-page/faq-img@2x.webp", media="(min-resolution: 192dpi)"  type="image/webp" width="1240" height="220")
						img.lazy(src="./img/main-page/faq-img.webp", width="1240" height="220" alt="image")
				//==============CARDS BLOCK ==============
				.news-cards.three-columns
					+blog-card(13, 'Статья', 'MBA в США: особенности обучения, преимущества и недостатки, подготовка')
					+blog-card(14, 'Статья', 'PSHE, CAS и другие: необычные предметы в зарубежных школах')
					+blog-card(15, 'Новость', 'Система высшего образования в Англии')
					+blog-card(16, 'Новость', 'ОТехническое образование в Германии')
					+blog-card(2, 'Новость', 'IELTS или TOEFL: что лучше для поступления в университет')
					+blog-card(1, 'Новость', 'Как написать мотивационное письмо в университет?')
				//===============BANNER ==============
				a(href="#!")
					picture.img-banner__picture
						source(srcset="./img/main-page/faq-img-tablet.webp", media="(max-width: 767px)" width="767" height="164"  type="image/webp")
						source(srcset="./img/main-page/faq-img-tablet@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)"  type="image/webp" width="767" height="164")
						source(srcset="./img/main-page/faq-img@2x.webp", media="(min-resolution: 192dpi)"  type="image/webp" width="1240" height="220")
						img.lazy(src="./img/main-page/faq-img.webp", width="1240" height="220" alt="image")
				
				//==============CARDS BLOCK ==============
				.news-cards.three-columns
					+blog-card(13, 'Статья', 'MBA в США: особенности обучения, преимущества и недостатки, подготовка')
					+blog-card(14, 'Статья', 'PSHE, CAS и другие: необычные предметы в зарубежных школах')
					+blog-card(15, 'Новость', 'Система высшего образования в Англии')
					+blog-card(16, 'Новость', 'ОТехническое образование в Германии')
					+blog-card(10, 'Новость', 'IELTS или TOEFL: что лучше для поступления в университет')
					+blog-card(1, 'Новость', 'Как написать мотивационное письмо в университет?')
				
				
				//=====pagination =======
				.pagination
					a(href="#!").page-num.prev.disable
					a(href="#!").page-num 1
					a(href="#!").page-num 2
					a(href="#!").page-num.active 3
					a(href="#!").page-num ...
					a(href="#!").page-num 22
					a(href="#!").page-num.next