section.cooperation
	.container-narrow
		.custom-text
			p We are glad that you are considering working with us.

			p Allterra Education is a leading education abroad consultancy based in Russia. Launched by industry professionals in 2013, we’ve grown to become the company with an acquired distinctiveness.

			p Please learn more about our team, services and possible cooperation options.
			
			.video
				video(playsinline)
					source(src="./video/Partner_s_zone.mp4" type="video/mp4")
	include ../sections/_bosses.pug
	.container-narrow
		.custom-text
			h2 THE TEAM
			p Our full-time advisors have years of experience in education abroad consulting (5 is the minimum) and a lot of professional training. They are backed by teams of sales and marketing specialists, customer success managers, digital editors and IT.

			p Our team is our asset. Many of us studied abroad and developed a truly global perspective.

			p We fully share our students' thirst for knowledge and commitment to personal growth.


			h2 THE CLIENTELE
			p Our customers are top executives and business owners based in Russia and CIS. They look mostly for intensive English language training, boarding schools and universities for their children.

			p We have lots of amazing cases – a bright Oxbridge candidate with an unfortunate exam result, a SEN student applying to Harvard, an Olympic athlete looking for a top business school, a lawyer dreaming of a medical career. We have a record of helping students like that to achieve their goals (and even surpass them).

			p We pride ourselves on being located in St. Petersburg, the Russian capital of culture. Our corporate identity and customer mix are very much influenced by our city of origin.

			p You will love our students – they are motivated, intelligent and make a great contribution to a school's community.


			h2 STUDY DESTINATIONS
			p Our portfolio includes 40+ countries: we recruit for institutions based in Europe, North America, Middle East and South-East Asia.

			p Based on the total number of students enrolled into full-time studies, our European top-5 is made of the UK, Germany, Spain, Ireland and France.

			p We invest heavily into new partnerships in the Middle East and Asia, and in 2022 this reached new frontiers. Our key markets include UAE, Malaysia, Singapore, China and South Korea.


			h2 ACCREDITATIONS
			p We have 11 I international accreditations including ICEF (2013-2022), EnglishUK, Quality English and the British Boarding Schools Network.

			p Our consultants are vetted by the British Council and work in compliance with their code of conduct.

			h2 SERVICES
			h3 Consulting
			p The stage includes pre-screening (student's motivation, academic performance, and reliability), and diagnostic assessment. We help our customers to compare educational systems, choose a study destination, build a shortlist of options and a working road map.

			h3 Admission to boarding schools & universities
			p We provide advice on supporting documents and the process itself, help to apply in a timely manner and to prepare to any exam. Also, as British Council certified agency we invigilate the entry tests in our office.

			h3 Pre-departure guidance
			p We help to complete the visa application and provide post-guarantee support in an unlikely case of refusal. We also provide guidance on steps before arrival and arrange the students’ journey in compliance with current covid regulations.

			h3 Guardianship
			p Our guardians in the UK tackle all the problems that might occur during the study process and provide an extra level of care and support for the students, as well as a piece of mind for their parents.


			h2 OUR PARTNERS
			p We work with excellent schools and universities in Europe and Northern America, and this is the area we are most interested in developing further.

			p We don't aim to have as many business links as we can - we prefer to build long-term relationships with selected partners that share our vision and work in the same niche.

			p Our partners benefit from:
			ul
				
				li careful students’ pre-screening
				li responsible business approach
				li effective marketing solutions.


			p If you would like to discuss our cooperation, please send your enquiry to contact@allterra.ru or fill the form below.

			p If you would like to explore the marketing opportunities we offer, order a copy of our media kit or talk to a member of staff please send your enquiry to marketing@allterra.ru.


			h2 OUR DIFFERENCE
			ul
				li We rely on highly trained staff who serve the needs of the most demanding audience

				li We respect rules and ethical norms

				li We love what we do, and our clients and partners benefit from it.

