section.cooperation
	.container-narrow
		.custom-text
			p We are glad that you are considering working with us.

			p Allterra Education is a leading education abroad consultancy based in Russia. Launched by industry professionals in 2013, we’ve grown to become the company with an acquired distinctiveness.

			p Please learn more about our team, services and possible cooperation options.
			
			.video
				video
					source(src="./video/Partner_s_zone.mp4" type="video/mp4")