section.process-stages.light-bg
	.container
		h2.section-title Порядок работы с #[span.accent-border  Allterra&nbsp;Education]
		.process-cards
			+process-card('01','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('02','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('03','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('04','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('05','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )
			+process-card('06','Консультирование', 'Знакомство, определение целей, интересов и предпочтений. Первичная консультация' )