section.provide
	.container
		//==== title group =====
		.provide-title.mb-60
			h2.section-title Как мы обеспечиваем результат
			.txt-18 Успех наших клиентов складывается из нескольких составляющих.
		
		//======cards wrapper ====
		.provide-cards.two-columns
			//====single card =====
			.provide-card(style="background-color:#eff3fb;")
				.h4 Отношение
				p Мы понимаем важность стоящей перед вами задачи, и знаем, что вы приходите к нам за профессиональными знаниями и добросовестным отношением к работе. Мы ценим ваше доверие и действуем в ваших интересах
			//====single card =====
			.provide-card(style="background-color:#edf8f4;")
				.h4 Команда
				p Каждый, кто прикасается к вашей задаче в Allterra Education, разделяет такой подход. Каждый наш сотрудник имеет высокую квалификацию, отличное образование и продолжает учиться, чтобы быть в форме
			//====single card =====
			.provide-card(style="background-color:#f6effb;")
				.h4 Правила
				p Никакой импровизации и неожиданностей. Мы работаем в строгом соответствии с правилами международных организаций, учебных заведений и визовых служб
			//====single card =====
			.provide-card(style="background-color:#f7f7da;")
				.h4 Сотрудничество
				p Для достижения наилучшего результата мы всегда в тесном контакте с нашими клиентами