section.hero.hero--light
	.container
		+brcr('Главная', 'Отзывы об образовании', 'Папа нашего студента о выборе школы в Англии, важности мелочей и работе с Allterra')
		.limit-title
			h1.h2.tt-none Папа нашего студента о выборе школы&nbsp;в&nbsp;Англии, важности мелочей и&nbsp;работе с Allterra
//========= review content =====
section.single-review
	.container-narrow
		.person-card.light-bg
			+person('review/author4','Иван Рябинин','Giggleswick School', '', '', ['#среднее_образование', '#родитель'], 'date', 'США')
		//==== right column ====
		.aside-grid__content.txt-body
			time.review-data(datetime="2024-03-12") 02.04.2022
			
			p #[strong - Иван, помните ли Вы, с каким запросом обратились к нам?]
			p У нас сформировалась идея школы за рубежом, но представления были пространные, по факту, информации было мало, мало вводных.
			p Нужна была компания, которая сможет полноценно проконсультировать и провести аудит.
			p #[strong - Почему Allterra Education?]
			p Вас рекомендовала одноклассница Платона, у которой все получилось очень хорошо, были другие положительные отзывы – и так мы вообще без конкурса остановились на Allterra.
			p Ксения с самого начала и до конца вела нас как проект.