section.hero.hero--light
	.container
		+brcr('Главная', 'Отзывы об образовании', 'Папа нашего студента о выборе школы в Англии, важности мелочей и работе с Allterra')
		.block-1279
			.person-card.light-bg
				+person('review/author4','Иван Рябинин','Giggleswick School', '', '', ['#среднее_образование', '#родитель'], 'date', 'США')
		.limit-title
			h1.h2 Папа нашего студента о выборе школы в Англии, важности мелочей и работе с Allterra
//========= review content =====
section.single-review
	.container-narrow
		.block-1280
			.person-card.light-bg
				+person('review/author4','Иван Рябинин','Giggleswick School', '', '', ['#среднее_образование', '#родитель'], 'date', 'США')
		
		//==== right column ====
		.talk-content
			.talk-content__block
				p #[strong - Иван, помните ли Вы, с каким запросом обратились к нам?]
				p У нас сформировалась идея школы за рубежом, но представления были пространные, по факту, информации было мало, мало вводных.
				p Нужна была компания, которая сможет полноценно проконсультировать и провести аудит.
			.talk-content__block
				p #[strong - Почему Allterra Education?]
				p Вас рекомендовала одноклассница Платона, у которой все получилось очень хорошо, были другие положительные отзывы – и так мы вообще без конкурса остановились на Allterra.
				p Ксения с самого начала и до конца вела нас как проект.
			
			.talk-content__block
				p #[strong – Почему Великобритания?]
				.simple-ol
					ol
						li Англоязычная страна
						li глобально ближе к Штатам
						li понятный европейский уклад жизни
						li уровень образования.
				p Огромное количество знакомых Платона учатся в Англии. Мы изначально настраивались на эту атмосферу, среду. У нас даже не было мыслей относительно другой страны.
			
			figure
				img.lazy(src="./img/review/single-review.webp", width="885" alt="img")
			
			.talk-content__block
				p #[strong – Как Вы выбирали школу, на что обращали внимание?]
				p У нас был long list из 10 школ. Giggleswick первая подтвердила, что готова принять Платона.
				p Лично мне понравилась удалённость от Лондона: нет соблазнов, деревенская местность, спокойно. Плюс, это вообще достаточно известная школа.

			.talk-content__block
				p #[strong – Какой совет Вы могли бы дать тем, кто присматривается к английскому образованию, но еще в начале пути?]
				p Во-первых, как можно раньше начинать коммуникацию с вами.
				p Во-вторых, как можно больше выяснять подробности.
				p Приведу пример. В Англии с отоплением не все хорошо, это известный факт. Школа в историческом здании. Зимой температура в комнате +14. Отопление включали перед сном, на час-полтора, и на то же время утром перед подъёмом.
				p Платон привыкал и высказывал, что ему холодно.
				p Это не хорошо и не плохо. В Англии местные на это внимание не обращают. Они зимой гуляют в шортах. Спасибо Ксении, что давала рекомендации из опыта, но, знаете, не все можно предвосхитить.
			blockquote
				p Совет тем, кто отправляет детей за рубеж – формулировать максимально много вопросов, мелких, крупных, каких угодно. Любые детали важны!
				p У кого есть возможность, школы регулярно устраивают встречи, когда можно приехать пообщаться с учителями, посмотреть, как кто живёт, чем кормят. Платон тоже проводил такие экскурсии для родителей.
			.talk-content__block
				p #[strong – Довольны ли Вы сделанным выбором?]
				p Все критерии, по которым мы выбирали школу, они все совпали. Прикольно, что это такой Хогвартс, который много веков назад построен. Классная природа.
				p Есть все науки, которые нам нужны. Отопление – Платон уже привык.
				p Что ему не нравится, это активитис социальной направленности, и особенно походы в часовню. Они ходят туда независимо от вероисповедания, и пропускать нельзя. Неважно, кто ты – мусульманин, христианин или кришнаит. Я это понимаю абсолютно: это воспитание, единение, элемент социализации. Платон говорит, это бесполезно. Он бы лучше занимался побольше, а тут то садоводство, то волонтерство, то часовня эта.
			
			.talk-content__block
				p #[strong – В чем главное отличие российской системы образования от британской, на ваш взгляд?]
				p В России все-таки у нас гигантское, широкое образование как в школе, так и в вузе.
				p В Англии ключевое – это отсутствие общих предметов. Нет предметов, которые тебе не интересны. Есть специализация, причем требования по профильным предметам выше однозначно. Знаний требуется больше.
				p Школа длится 13 лет: 12-й класс по уровню примерно соответствует нашему выпускному классу, а 13-й – ближе к первому курсу вуза. Происходит такой separation по знаниям. Ты приходишь в университет полностью готовый там учиться.
			.talk-content__block
				p #[strong – По шкале от 1 до 10, насколько Вы довольны нашей работой?]
				p У меня только слова благодарности всей команде и особенно Ксении, которая нас вела от и до.
				p Точно готов рекомендовать компанию Allterra.
				p Гигантская разница по сравнению с той организацией, с которой познакомился в 2019 году. Совершенно другой опыт и профессиональный подход.
				p Как вы знаете, я тот самый максималист, поэтому оценю работу на 8, как сторонник максимального сервиса для клиентов.
			
			blockquote
				p Наша конечная цель – получение нашими клиентами такого уровня образования, который позволит им заниматься любимым делом, легко получить желаемую работу или добиться успехов в бизнесе, обеспечит широту выбора и высокий уровень жизни

			.decore-block.flex-row
				.decore-block__text
					.h3 Как поступить в среднюю школу зарубежом?
					p Выбор, подготовка, поступление и курирование во время учебы
					a(href="#!").btn.btn--slim Узнать больше
				.decore-block__img
					picture
						source(srcset="./img/review/boy@2x.webp", media="(min-resolution: 192dpi)"  type="image/webp" width="290")
						img.lazy(src="./img/review/boy.webp", width="290px" alt="img")
