section.greeting
	.container
		.aside-grid
			//=====left column ====
			.aside-grid__col
				.person.flex-col
					.person__img
						img.wh-100.lazy(src="./img/review/author4.webp", width="295" alt="photo")
					.flex-col
						p.person__name Иван Рябинин
						.tags-list
							a(href="#!") #среднее_образование
							a(href="#!") #родитель
						a(href="#!").accent-txt Giggleswick School
						p.pin-item США
			//==== right column ====
			.aside-grid__content.txt-body
				time.review-data(datetime="2024-03-12") 02.04.2022
				
				p #[strong - Иван, помните ли Вы, с каким запросом обратились к нам?]
				p У нас сформировалась идея школы за рубежом, но представления были пространные, по факту, информации было мало, мало вводных.
				p Нужна была компания, которая сможет полноценно проконсультировать и провести аудит.
				p #[strong - Почему Allterra Education?]
				p Вас рекомендовала одноклассница Платона, у которой все получилось очень хорошо, были другие положительные отзывы – и так мы вообще без конкурса остановились на Allterra.
				p Ксения с самого начала и до конца вела нас как проект.