//============ section =========
section.scool-content
	.container
		h2.section-title.block-1279 Как выбрать правильную школу для ребенка за рубежом?
		.two-columns
			.scool-content__txt.txt-body
				//========заголовок для десктоп версий =======
				h2.section-title.block-1280 Как выбрать правильную школу для ребенка за рубежом?
				p Ключевой этап, предшествующий поступлению в школу за рубежом, - определение особенностей, задач и талантов ребенка. После этого мы можем определить цель и построить дорожную карту из точки A в точку B, где точкой B может являться поступление в именитый университет или трудоустройство в компанию с большим конкурсом на место.
				p После прохождения этих этапов можно приступить к подбору школы. Этап включает формирование первичного списка школ, анализ результатов учеников, проверку вступительных требований и коммуникацию с представителями иностранных школ.
			.scool-content__img
				img(src="./img/scool.webp", alt="img" width="610")