
section
	.container
		.swiper.swiper-container
			.swiper-wrapper
				.swiper-slide
					p Text 1
				.swiper-slide
					p Text 2
				.swiper-slide
					p Text 3
				.swiper-slide
					p Text 4
				.swiper-slide
					p Text 5
				.swiper-slide
					p Text 6
				.swiper-slide
					p Text 7
				.swiper-slide
					p Text 8
		.tb-content-wrapper
			.tb-content 111
			.tb-content 222
			.tb-content 333
			.tb-content 444
			.tb-content 555
			.tb-content 666
			.tb-content 777
			.tb-content 888
//======= SLIDER COUNTRY + SCOOL =======
section.scool-tabs.custom-tabs.light-bg
	.container
		h2.section-title  География обучения c #[span.accent-border Allterra Education]
		
		//======= slider-content=======
		.scool-tabs-wrapper.white-bg
			.country-swiper-block
				.swiper.country-swiper
					.swiper-wrapper#firstBlock
						+slideFlag('uk', 'Великобритания')
						+slideFlag('swet', 'Швейцария')
						+slideFlag('de', 'Германия')
						+slideFlag('irl', 'Ирландия')
						+slideFlag('ital', 'Италия')
						+slideFlag('spain', 'Испания')
						+slideFlag('can', 'Канада')
						+slideFlag('netherl', 'Нидерланды')
						+slideFlag('usa', 'США')
						+slideFlag('fr', 'Франция')
					
				//=======SLIDER NAV ARROWS =========
				.slider-nav.slider-nav--grey
					.swiper-button-next
					.swiper-button-prev
			
			//======SINCLE ARTICLE ============
			.scool-tabs__articles
				.custom-tab.active
					article.scool-description
						.scool-description__text
							h2.h3 Великобритания
							//======= text======
							p Старейшая система образования, дающая глубокие знания по выбранным дисциплинам. Прямой путь в британский университет. Частные школы-пансионы с многовековой историей и современные международные колледжи. Британская программа A-levels или международная - IB. Профессиональные занятия спортом или любым из направлений искусств.  Проживание на кампусах школ или в приемных семьях, школы совместного или раздельного обучения для мальчиков и девочек.
							//======= button======
							a(href="#!").btn Узнать больше
						
						//======= image======
						.scool-description__img
							img.wh-100.lazy(src="./img/scools/1.webp", width="585"  alt="img")
				
				//======SINCLE ARTICLE ============
				.custom-tab
					article.scool-description
						.scool-description__text
							h2.h3 Швейцария
							//======= text======
							p Здесь учатся дети самых взыскательных родителей. Главная цель среднего образования в Швейцарии — индивидуальность, всестороннее развитие личности и здоровье. Выпускники швейцарских школ свободно говорят на нескольких языках, имеют друзей по всему миру и поступают в лучшие университеты.
							//======= button======
							a(href="#!").btn Узнать больше
						//======= image======
						.scool-description__img
							img.wh-100.lazy(src="./img/scools/1.webp", width="1160" height="440" alt="img")
					
				//======SINCLE ARTICLE ============
				.custom-tab
					article.scool-description
						.scool-description__text
							h2.h3 Германия
							//======= text======
							p Сложная и насыщенная программа немецкой средней школы Abitur - прямой и естественный путь в немецкий университет. Глубокие знания по основным школьным дисциплинам, большое количество предметов. Отличные возможности для занятий наукой, искусством или спортом, здоровое питание. Проживание на кампусе школ. Удобная логистика для жителей России и стран постсоветского пространства.
							//======= button======
							a(href="#!").btn Узнать больше
						//======= image======
						.scool-description__img
							img.wh-100.lazy(src="./img/scools/1.webp", width="1160" height="440" alt="img")