section.search-results
	.container
		.search-result-tags
			.cloud-tag
				span Студенческий обмен
				span.icon-cross
			.cloud-tag
				span трендыобучениязарубежом
				span.icon-cross
			a(href="#!") MBA,
			a(href="#!") Tennis Camp,
			a(href="#!") Village Camps Leysin,
			a(href="#!") USMLE,
			a(href="#!") английскийвсша,
			a(href="#!") вебинар,
			a(href="#!") Великобритания,
			a(href="#!") Высшее образование,
			a(href="#!") Глобальноеобразование,
			a(href="#!") ЕС,
			a(href="#!") летняябизнесшкола,
			a(href="#!") Стипендия,
			a(href="#!") программыиллюстрации,
			a(href="#!") Поступлениевуниверситет,
			a(href="#!") США,
			a(href="#!") Языковые курсы

		.flex-header
			.h3 Найдено 722 результата
			.sort
				.sort__name Сортировать по:
				.sort__btns
					label.sort-type
						input(type="radio" name="sort-item")
						span релевантности
					label.sort-type
						input(type="radio" name="sort-item" checked)
						span дате
		
		//=====single item ====
		.search-result-item
			p #[strong Foundation в США: 5 вопросов и ответов]
			small Изменён 06.05.2024
			p Получить высшее образование в США после окончания средней школы в России — непростая задача. Прежде всего потому, что поступать в американский вуз, имея на руках только аттестат, нельзя. Необходимо обучение на программе подготовки. Популярный выбор иностранных студентов в США — программа Foundation, подробную информацию о которой вы найдете ниже.
			.flex-center-y
				small Путь:
				.links-path
					a(href="#!") Главная
					a(href="#!") Обучение в Австралии
		
		
		//=====single item ====
		.search-result-item
			p #[strong Foundation в США: 5 вопросов и ответов]
			small Изменён 06.05.2024
			p Получить высшее образование в США после окончания средней школы в России — непростая задача. Прежде всего потому, что поступать в американский вуз, имея на руках только аттестат, нельзя. Необходимо обучение на программе подготовки. Популярный выбор иностранных студентов в США — программа Foundation, подробную информацию о которой вы найдете ниже.
			.flex-center-y
				small Путь:
				.links-path
					a(href="#!") Главная
					a(href="#!") Обучение в Австралии 
		
		//===== pagination ====
		.pagination
			a(href="#!").page-num.prev.disable
			a(href="#!").page-num 1
			a(href="#!").page-num 2
			a(href="#!").page-num.active 3
			a(href="#!").page-num ...
			a(href="#!").page-num 22
			a(href="#!").page-num.next