section.services
	.container-narrow
		.custom-text
			p Allterra Education оказывает своим клиентам профессиональные услуги в сфере международного образования.

			p Мы специализируемся на среднем и высшем образовании за рубежом, помогаем подготовиться к поступлению в школы и вузы, а также тем, кто планирует посвятить свою жизнь искусству или дизайну.

			p Подробнее о том, как мы это делаем, можно прочитать на соответствующих страницах:
			
			//====== inner-menu ====
			.inner-menu.color-block
				h3 Также в разделе «О компании»:
				a.active(href="#!") Об Allterra Education
				a(href="#!") Все услуги
				a(href="#!") Сотрудничество
				a(href="#!") Вакансии
				a(href="#!") Контакт
				a(href="#!") Partner's zone
