section.services
	.container-narrow
		.custom-text
			p Allterra Education оказывает своим клиентам профессиональные услуги в сфере международного образования.

			p Мы специализируемся на среднем и высшем образовании за рубежом, помогаем подготовиться к поступлению в школы и вузы, а также тем, кто планирует посвятить свою жизнь искусству или дизайну.

			p Подробнее о том, как мы это делаем, можно прочитать на соответствующих страницах:

