section.specialization.light-bg
	.container
		h2.section-title.mb-60 Что делает Allterra Education
		.specialization-descrip
			.two-columns
				.specialization-text
					.txt-italic
						p #[strong Специализация] – среднее и высшее образование за рубежом
					
					p Имеем уникальный опыт подготовки и поступления на высококонкурентные факультеты вузов, а также в средние школы для музыкантов, художников и спортсменов. Помогаем правильно сформулировать задачу, выбрать оптимальную стратегию, пройти программы подготовки и сопровождаем в процессе учебы
				
					.specialization-list
						.h3 Наши студенты поступают в:
						.list-check
							+list-check('Лучшие, рейтинговые средние школы и частные школы-пансионы Великобритании, США, Швейцарии и Германии', 'Сильнейшие технические вузы мира', 'Медицинские факультеты', 'Университеты искусств','Спортивные академии')
				.specialization-image
					img.wh-100.lazy(src="./img/about/about.webp", width="610" alt="alt")

		//============= SERVICE CARDS =============
		.service-cards.four-columns
			+serv-card('about/card1', 'Среднее образование',' Построение образовательного маршрута, выбор школы, подготовка, поступление и курирование в процессе учебы')
			+serv-card('about/card2', 'высшее образование',' Выбор специальности и вуза, подготовка документов, поступление и получение студенческой визы')

			+serv-card('about/card3', 'Языковые лагеря и курсы',' Детские лагеря за рубежом и языковые курсы для взрослых, подготовка к поступлению в...')

			+serv-card('about/card4', 'Постдипломное образование и MBA',' Выбор вуза, подготовка и поступление на MBA, в ординатуру, магистратуру...')
