//============ STATISTICS ===================
section.statistics.dark-bg
	.container
		//=======wrapper======
		.statistics-content
			//====single item =======
			.statistics-item
				span.txt-18 Работаем <br> c
				p.num 2008
				span.txt-18 года
			//====single item =======
			.statistics-item
				span.txt-18 Успешно зачислили <br> более
				p.num 1200
				span.txt-18 студентов
			//====single item =======
			.statistics-item
				span.txt-18 Довольных клиентов <br> более
				.flex-row
					p.num 99 
					p %
				
			//====single item =======
			.statistics-item
				span.txt-18 Нам доверяют  <br>  более
				p.num 100
				span.txt-18 студентов ежегодно