//============ STATISTICS ===================
section.statistics.dark-bg
	.container
		//=======wrapper======
		.statistics-content
			//====single item =======
			.statistics-item
				span.txt-18 Работаем <br> c
				p 2008
				span.txt-18.txt-opac года
			//====single item =======
			.statistics-item
				span.txt-18 Успешно зачислили <br> более
				p 1200
				span.txt-18.txt-opac студентов
			//====single item =======
			.statistics-item
				span.txt-18 Довольных клиентов <br> более
				p 99%
				
			//====single item =======
			.statistics-item
				span.txt-18 Нам доверяют  <br>  более
				p 100
				span.txt-18.txt-opac студентов ежегодно