//============ STATISTICS ===================
section.statistics.dark-bg
	.container
		//=======wrapper======
		.statistics-content
			//====single item =======
			.statistics-item
				span Работаем <br> c
				p.num 2008
				span года
			//====single item =======
			.statistics-item
				span Успешно зачислили <br> более
				p.num 1200
				span студентов
			//====single item =======
			.statistics-item
				span Довольных клиентов <br> более
				.flex-row
					p.num 99 
					p %
				
			//====single item =======
			.statistics-item
				span Нам доверяют  <br>  более
				p.num 100
				span студентов ежегодно