section.cooperation
	.container-narrow
		.custom-text
			p Если Вы активны, образованны, заинтересованы в работе в сфере зарубежного образования - мы предлагаем Вам стать частью нашей команды.
			
			h2 Приглашаем на работу менеджера по обучению за рубежом
			p Требования к соискателям: возраст от 23 лет, законченное высшее образование. Опыт работы в образовательном агентстве от 1 года. 
			p #[strong Деловые навыки:]
			.list-block
				ul
					li свободный английский язык (Advanced);
					li ПК на уровне уверенного пользователя;
					li умение работать с клиентами;
					li навык работы с большими объемами информации.

			p Вашими преимуществами будут: знание второго иностранного языка, личный опыт проживания и обучения за границей, наличие языковых (IELTS, TOEFL, CAE, CPE, BEC) и профессиональных (ITAC, Canada Course, EducationUK) сертификатов.

			p Личные качества: общительность, стрессоустойчивость, ориентированность на результат, дисциплинированность, доброжелательность, отличная память.
			
			p #[strong Обязанности:]
			.list-block
				ul
					li подбор образовательных программ для клиентов компании;

					li оформление документов;

					li визовое сопровождение.

					li Продвижение услуг компании:

					li общение с партнерами - зарубежными учебными заведениями;

					li подготовка рекламных макетов;

					li работа с потенциальными клиентами;

					li участие в выставках.

			p #[strong Профессиональное развитие:] повышение квалификации за рубежом, международные конференции, ознакомительные поездки. Возможен карьерный рост до позиции руководителя направления (языковые/академические программы).

			p #[strong Условия работы:]
			.list-block
				ul
					li с понедельника по пятницу с 10:00 до 19:00;

					li выходные дни (выставки, промо-мероприятия) по необходимости,

					li командировки.

					li В высокий сезон возможен ненормированный рабочий день.


			p #[strong Оформление: по ТК РФ], испытательный срок 2 месяца.

			p #[strong Заработная плата] – достойная Вашей квалификации; формируется из постоянного оклада и бонусов по итогам работы, устанавливается по прохождении испытательного срока.

			p Мы ищем не "менеджера", а единомышленника, человека, который разделяет наши взгляды и ценности, любит учиться сам и хочет расти вместе с нами. Если у Вас нет опыта работы в образовательном агентстве, но есть все остальные компетенции и огромное желание учиться - напишите нам сопроводительное письмо на русском и английском языках, мы их внимательно читаем.

			p Пожалуйста, высылайте Ваши резюме по электронной почте marina@allterra.ru
			
			//====== inner-menu ====
			.inner-menu.color-block
				h3 Также в разделе «О компании»:
				a.active(href="#!") Об Allterra Education
				a(href="#!") Все услуги
				a(href="#!") Сотрудничество
				a(href="#!") Вакансии
				a(href="#!") Контакт
				a(href="#!") Partner's zone