//============WHY US =============
section.why-us
	.container
		h2.section-title Почему клиенты доверяют #[br] Allterra Education
		.why-us__subtitle
			p.h4 Allterra Education – это образовательный консалтинг высокого уровня
			p.txt-18 С первой консультации и до окончания обучения мы работаем для обеспечения наилучшего результата.