//============WHY US =============
section.why-us
	.container
		h2.section-title Почему клиенты доверяют #[br] Allterra Education
		.why-us__subtitle
			p.h4 Allterra Education – это образовательный консалтинг высокого уровня
			p.txt-18 С первой консультации и до окончания обучения мы работаем для обеспечения наилучшего результата.
		
		//===== our guarantees ========
		.guarantees-block.light-bg
			.title-32 Нашим клиентам гарантированы
			.two-columns
				//==========single card =======
				.guarant-card
					span 1
					.guarant-card__txt
						.h5 Опыт экспертов в международном образовании
						p Профильное образование, длительный опыт работы, личные контакты с руководителями сотен лучших учебных заведений мира
				.guarant-card
					span 1
					.guarant-card__txt
						.h5 Опыт экспертов в международном образовании
						p Профильное образование, длительный опыт работы, личные контакты с руководителями сотен лучших учебных заведений мира
				.guarant-card
					span 1
					.guarant-card__txt
						.h5 Опыт экспертов в международном образовании
						p Профильное образование, длительный опыт работы, личные контакты с руководителями сотен лучших учебных заведений мира
				.guarant-card
					span 1
					.guarant-card__txt
						.h5 Опыт экспертов в международном образовании
						p Профильное образование, длительный опыт работы, личные контакты с руководителями сотен лучших учебных заведений мира
