//============WHY US =============
section.why-us
	.container
		h2.section-title Почему клиенты доверяют #[br] Allterra Education
		.why-us__subtitle
			p.h4 Allterra Education – это образовательный консалтинг высокого уровня
			p.txt-18 С первой консультации и до окончания обучения мы работаем для обеспечения наилучшего результата.
		
		//===== our guarantees ========
		.guarantees-block.light-bg
			.title-32 Нашим клиентам гарантированы
			.two-columns
				//==========single card =======
				.guarant-card
					span 1
					.guarant-card__txt
						.h5 Опыт экспертов в международном образовании
						p Профильное образование, длительный опыт работы, личные контакты с руководителями сотен лучших учебных заведений мира
				.guarant-card
					span 2
					.guarant-card__txt
						.h5 Актуальные знания профильных специалистов
						p Регулярные стажировки, участие в отраслевых мероприятиях (IСEF, Alphe, StudyWorld, IALC, MEI, WEBA) и тренинги по профильным знаниям и визовому законодательству
				.guarant-card
					span 3
					.guarant-card__txt
						.h5 Прозрачность деятельности на всех этапах
						+list-block('Прямая стоимость программ обучения от учебных заведений, открытые источники информации, логичная и понятная последовательность шагов на пути к конечной цели.', 'Мы всегда доступны для живого общения.', 'Наши офисы находятся в Москве и Санкт-Петербурге.', 'В Великобритании работает собственная опекунская служба для наших студентов', 'С клиентами из других стран и регионов России мы успешно работаем онлайн')
				.guarant-card
					span 4
					.guarant-card__txt
						.h5 Надежность, подтвержденная международными организациями
						p Allterra Education входит в число агентств, рекомендованных в качестве консультанта Британским Советом, и является официальным представителем более 300 ведущих частных школ Великобритании в рамках ассоциации British Boarding Schools Network
					a(href="#!").btn Узнать больше
