// @font-face{
// 	font-family: 'Inter';
// 	src: url('../fonts/Inter-Regular.woff2') format('woff2');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Inter';
// 	src: url('../fonts/Inter-Medium.woff2') format('woff2');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Inter';
// 	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
// 	font-weight: 600;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'Inter';
// 	src: url('../fonts/Inter-Bold.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Inter';
// 	src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
// 	font-weight: 800;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Roboto';
// 	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Roboto';
// 	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: $text-dark;
	font-family: $font-family;
	font-size: 16px;
	background-color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;

}
.header-nav--test .menu-li a{
	font-family: 'BWHaasGroteskWeb','BWHaasGroteskWeb-fallback',Helvetica,Arial,sans-serif;
}
.lock{
	
	overflow: hidden;
	@media(min-width:1280px){
		.header-top,
		.header-bottom, .header + *{padding-right: 17px;}
	}
}
a,
a:hover {
	text-decoration: none;
	color: $bg-black;
}
a[href^="tel:"],
a[href^="mailto:"] {
	white-space: nowrap;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input,
button{border: none;}
button:focus,
input:focus,textarea:focus{outline: none;}
button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
input::placeholder, textarea::placeholder{
	font-family: inherit;
	font-size: inherit;
}
.container,.container-narrow {
	width: min(1280px, 100%);
	padding-inline: 20px;
	margin: 0 auto;

	@media (max-width: 1023px) {
		padding-inline: 16px;
	}
}
.container-narrow,
.limit-title {
	width: min(925px, 100%);

	@media (max-width: 1279px) {
		width: 100%;
		padding-inline: 32px;
	}

	@media (max-width: 767px) {
		padding-inline: 16px;
	}
}
.limit-title{
	margin: 60px auto 0;
}
@mixin shadow-border{
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
	background: $white;
	
}
.bx-sh{
	background-color: $white;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}
address {
	font-style: normal;
}
.flex-item{
	display: flex;
	align-items: center;
	column-gap:8px;
	svg,img{
		flex-shrink: 0;
		object-fit: contain;
	}
}

.flex-row,.flex-center-y, .flex-center-x, .flex-center,.flex-justify,
.flex-col, .flex-gap,.flex-header, .hero-content,.hash-tags,.links-path, .country-link {
	display: flex;
	align-items: flex-start;
}

.flex-justify, .flex-header{justify-content: space-between;}
.flex-center-x,
.flex-center{
	justify-content: center;
}
.flex-center-y,.flex-center,.flex-justify,.links-path,.hash-tags,
.country-link{
	align-items: center;
}
.hash-tags{
	gap:5px;
	row-gap:8px;
	flex-wrap: wrap;
}
.flex-col,.hero-content{
	flex-direction: column;
	&>*{width: 100%;}
}
.flex-header {
	margin-bottom: 50px;
	align-items: flex-end;

	&>* {
		margin-bottom: 0;
	}

	.flex-header .btns-group {
		display: flex;
	}

	@media (max-width: 1023px) {
		.btns-group {
			display: none !important;
		}
	}
	@media (max-width: 767px) {
	  flex-direction: column;
	  align-items: flex-start;
	  row-gap:24px;
	}
}
.w-100{
	width: 100% !important;
}

.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-48 {
	margin-bottom: 48px;
	@media (max-width: 767px) {
	margin-bottom: 32px;
	}
}
.mb-60 {
	margin-bottom: 60px !important;

	@media (max-width: 767px) {
		margin-bottom: 40px !important;
	}
}
.mb-80 {
	margin-bottom: 80px;

	@media (max-width: 767px) {
		margin-bottom: 48px;
	}
}

.mt-20 {
	margin-top: 20px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-48 {
	margin-top: 48px;

	@media (max-width: 767px) {
		margin-top: 32px;
	}
}

.mt-60 {
	margin-top: 60px !important;

	@media (max-width: 767px) {
		margin-top: 40px !important;
	}
}
.mt-80{
	margin-top: 80px;
	@media (max-width: 767px) {
		margin-top: 48px ;
	}
}

.mt-auto{margin-top: auto;}
.pt-100{ 
	padding-top: 100px;
	@media (max-width: 767px) {
	padding-top: 80px;
	}
}
img.wh-100 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-zoom{
	*[class*="__img"]{overflow: hidden;}
	img{transition: .5s; }
	&:hover img{
		transform: scale(1.1);
	}
}

.dark-bg{
	background-color: $bg-black;
	padding-block: 100px;
	color: $white;
}
.light-bg{background-color: #f0f3f9;}
.light-bg,.dark-bg{
	padding-block: 100px;
	@media (max-width: 767px) {
		padding-block: 80px;
	}
}

section + section{padding-top: 100px;}
section:has(+ .dark-bg),section:has(+ .light-bg){
	padding-bottom: 100px;
}
.main{
	section:last-child:not(.light-bg),
	section:last-child:not(.dark-bg) {
		padding-bottom: 100px;
		@media (max-width: 767px) {
		padding-bottom: 80px;
		}
	}
}
.inner-page {
	section+section {
		padding-top: 80px;
	}
	
	section:has(+ .dark-bg),
	section:has(+ .light-bg),
	section:last-child:not(.light-bg),
	section:last-child:not(.dark-bg) {padding-bottom: 80px;}
	@media (max-width: 767px) {
		section+section {
			padding-top: 48px;
		}

		section:has(+ .dark-bg),
		section:has(+ .light-bg),
		section:last-child:not(.light-bg),
		section:last-child:not(.dark-bg) {
			padding-bottom: 48px;
		}
	}
}

@media (max-width: 767px) {
	section+section {
		padding-top: 80px;
	}

	section:has(+ .dark-bg) {
		padding-bottom: 80px;
	}
}


.hide-mobile{
	@media (max-width: 767px) {
	display: none!important;
	}
}
