@font-face{
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: $text-dark;
	font-family: $font-family;
	font-size: 16px;
	background-color: $white;
	-webkit-font-smoothing: antialiased;
}

a,
a:hover {
	text-decoration: none;
	color: $bg-black;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.container {
	width: min(1280px, 100%);
	padding-inline: 20px;
	margin: 0 auto;

	@media (max-width: 1023px) {
		padding-inline: 16px;
	}
}
@mixin shadow-border{
	box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
	background: $white;
	
}
.flex-item{
	display: flex;
	align-items: center;
	column-gap:8px;
	svg,img{
		flex-shrink: 0;
		object-fit: contain;
	}
}