/*.breadcrumbs*/
.breadcrumb {
	// margin-bottom: 40px;
	ul {
		display: flex;
		flex-wrap: wrap;
	}
}
.hero.hero--light .breadcrumb{
	margin-bottom: 48px;
	@media (max-width: 767px) {
	margin-bottom: 40px;
	}
}
.breadcrumb>li {
	position: relative;
	display: inline;
	line-height: 143%;
	font-size: 14px;
	
	a {	color: $white;}
	
	

	&:last-child>* {
		color: rgba(255, 255, 255, 0.6);
		pointer-events: none;
		cursor: default;
	}

	&:last-child:hover>* {
		border: 0;
	}

	&:hover>* {
		border-bottom: 1px solid $white;
	}

}

.breadcrumb>li+li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #fff;
}
.hero.hero--light {
	.breadcrumb {

		li+li:before,
		a {
			color: $text-dark;
		}

		li:last-child>* {
			color: rgba(16, 23, 36, 0.6);
		}
		

	}
}
.links-path{
	flex-wrap: wrap;
	gap:4px;
	a{
		color: $main-accent; 
		position: relative;
		font-size: 14px;
		line-height: 1.71;	
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}

}
.links-path a+a:before,
.sort .sort-type + .sort-type:before{
	content: "/\00a0";
	opacity: .4;
	color: $bg-black;
} 