/***BUTTONS***/
.btn-accent, .btn-icon, .btn,.btn-br,.btn-white, .btn-br-white{
	padding-inline: 36px;
	display: inline-flex;
	column-gap:8px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	font-family: $font-family;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.33;
	transition: .3s; 
	text-align: center;
	height: 64px;
	line-height: 44px;
	color: $white;
	@media (max-width: 1023px) {
		height: 60px;
	}
}
.btn,.btn-br{
	background-color: $bg-black;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06);
	&:hover{
		background-color: #1f1f1f;
		color: $white;
	}
	&:focus {
		background-color: #1f1f1f;
		color: rgba(255,255,255, .7);
		svg {color: rgba(255, 255, 255, .7);}
	}
}
.btn-accent{
	
	background: $main-accent;
	&:hover{
		background: #19abb6;
		color: $white;
	}
	&:focus {
		background: #19abb6;
		color: rgba(255,255,255, .7);
		svg{color: rgba(255, 255, 255, .7)}
	}
}
.btn-icon{
	width: 44px;
	height: 44px;
	flex-shrink: 0;
	padding: 8px;
	@media (max-width: 1023px) {
		width: 36px;
		height: 36px;
	}
}
.btn-br{
	border: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
	font-weight: 400;
	&:focus{
		border: 1px solid rgba(255, 255, 255, 0.8);
	}
}

.btn-white {
	background-color: #fff;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06);
	color:$text-dark;
	&:hover{
		color:rgba(16, 23, 36, .5) ;
	}
}
.btn-br-white{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	background: $white;
	border: 1px solid $text-dark;
	color: $bg-black;
}


.btn-accent,
.btn,
.btn,
.btn-white{
@media (max-width: 767px) {
		width: min(360px, 100%);

	}
}
*[class^="btn-"].btn--slim{
	height: 52px;
	padding-inline:24px;
	min-width: 137px;
	@media (max-width: 767px) {
		min-width: 54px;
		height: 52px!important;
	}
	
}
.btn-white.btn--slim{box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);}
.center-button {
	display: flex;
	justify-content: center;
	column-gap: 20px;
	align-items: center;
	margin-top: 60px;

	@media (max-width: 767px) {
		margin-top: 40px;
	}
}

.btns-group , .social{
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social{
	justify-content: flex-start;
}
.btns-group{
	column-gap:20px;
	.btn-accent,
	.btn,
	.btn,
	.btn-white{
	@media (max-width: 767px) {
			width: auto;
	
		}
	}
}