/*GRIDS*/
.two-columns,
.two-columns-1024, .two-columns-1280 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
	}
}
.two-columns-1280{
	@media (max-width: 1279px) {
		grid-template-columns: 1fr;
	}
}
.two-columns-1024 {
	@media (max-width: 1023px) {

		grid-template-columns: 1fr;

	}
}
.grid-12 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 40px;

	@media (max-width: 1279px) {
		gap: 20px;
	}

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}

.three-columns{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:20px;
	@media (max-width: 767px) {
		gap:16px;
		grid-template-columns: 1fr;
	}
}
.four-columns,
.four-columns-767 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	@media (max-width: 1279px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		gap: 16px;
	}
}

.four-columns-767 {
	@media (max-width: 1049px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.aside-grid {
	display: grid;
	grid-template-columns: 295px 1fr;
	column-gap: 40px;
	row-gap: 40px;
	align-items: flex-start;

	@media (max-width: 1279px) {
		row-gap: 32px;
		grid-template-columns: 225px 3fr;
	}
	@media (max-width: 767px) {
		&__col {
			max-width: unset;
		}

		grid-template-columns: 1fr;
		gap: 40px;
	}
}
.aside-grid__content.flex-col{
	row-gap:48px;
	@media (max-width: 767px) {
		row-gap: 30px;
	}

}
.aside-grid.gap-20 {
	column-gap: 20px;
}

.aside-grid.aside-grid--1279 {

	@media (max-width: 1279px) {
		grid-template-columns: 1fr;

		.aside-grid__col {
			max-width: unset;
		}
	}
}
.aside-grid.aside-grid--1023 {

	@media (max-width: 1023px) {
		grid-template-columns: 1fr;

		.aside-grid__col {
			max-width: unset;
		}
	}
}