.svg-search,.svg-arrow, .svg-check, .svg-phone, .svd-minus {
	color: $white;
}
.svg-search, .svg-chevron-down,.svg-phone,.svg-chevron, .svg-minus, .svg-plus{fill: transparent;}
.svg-search{
	width: 18px;
	height: 19px;
}
.svg-chevron-down{
	width: 11px;
	height: 6px;
	color: $main-accent;
}
.svg-chevron{
	width: 7px;
	height: 14px;
	color: $main-accent;
}
.chevron-back{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.125 12.625L1.83365 7.79724C1.42951 7.34257 1.42951 6.65743 1.83365 6.20276L6.125 1.375' stroke='%232DBFCA' stroke-width='1.5' stroke-linecap='round' /%3e%3c/svg%3e");
	background-size: auto;

}
.svg-cross{
	width: 16px;
	height: 16px;
	color: $bg-black;
}
.svg-arrow{
	width: 16px;
	height: 13px;
}
.round-arrow{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: $bg-black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	transition: .3s; 
	&:hover{opacity: .8;}
	@media (max-width: 1023px) {
		width: 34px;
		height: 34px;
	}

}
.svg-check{
	width: 15px;
	height: 11px;
	
}
.svg-phone{
	width: 18px;
	height: 18px;
}
.back-link{
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.11;
	color: $text-dark;

	& > * {
		pointer-events: none;
	}
}
.svg-pause {
	width: 10px;
	height: 16px;
	fill: transparent;
}
.svg-minus{
	width: 18px;
	height: 2px;
	color: $white;
}
.svg-plus {
	width: 18px;
	height: 18px;
	color: $main-accent;
}