.svg-search,.svg-arrow, .svg-check, .svg-phone {
	color: $white;
}
.svg-search, .svg-chevron-down,.svg-phone{fill: transparent;}
.svg-search{
	width: 18px;
	height: 19px;
}
.svg-chevron-down{
	width: 11px;
	height: 6px;
	color: $main-accent;
}
.svg-cross{
	width: 16px;
	height: 16px;
	color: $bg-black;
}
.svg-arrow{
	width: 16px;
	height: 13px;
	
}
.svg-check{
	width: 15px;
	height: 11px;
	
}
.svg-phone{
	width: 18px;
	height: 18px;
}