.h1,
.h3,.section-title,
.title,
.txt-20 {
	font-weight: 600;
}
.section-title{
	font-size: 48px;
	line-height: 1.30;
	letter-spacing: -0.02em;
	margin-bottom: 48px;
	@media (max-width: 767px) {
	margin-bottom: 40px;
	}
}

.h1,
.h2 {
	font-size: 80px;
	line-height: 110%;
	letter-spacing: -0.03em;
	color: $text-dark;
}

.h1 {
	font-size: 80px;
	
	@media (max-width: 1024px) {
		font-size: 60px;

	}

	@media (max-width: 767px) {
		font-size: 40px;
		font-weight: 800;
	}
}
.title{
	
	font-size: 64px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	color: $white;
	@media (max-width: 1023px) {
		font-size: 48px;
		line-height: 1.25;
	}
	@media (max-width: 767px) {
		font-size: 32px;
		
	}
}
.h2 {

	font-size: 48px;
	line-height: 1.30;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-weight: 700;
	@media (max-width: 1023px) {
		font-size: 36px;
	}

	@media (max-width: 767px) {
		font-size: 26px;
	}
}
.title-32{
	font-weight: 600;
	font-size: 32px;
	line-height: 1.30;
	letter-spacing: -0.02em;
	
	@media (max-width: 767px) {font-size: 24px; }
}
.dark-bg .h1, .dark-bg .h2{
	color: $white;
}
.h3,.txt-20 {
	line-height: 1.6;
	font-size: 20px;
	letter-spacing: -0.01em;
	color: $bg-black;
	@media (max-width: 1023px) {
		font-size: 16px;
		line-height: 1.3;
	}
}
.h3{text-transform: uppercase;}
.txt-20 {
	color: $text-dark;
}
.h4{
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33;
	letter-spacing: -0.03em;
}
.h5{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: -0.01em;
	@media (max-width: 767px) {
	   font-size: 16px;
	}
}

.txt-18,
.txt-16,.txt-14{
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
.txt-18{font-size: 18px;}
.txt-14 {
	font-size: 14px;
	@media (max-width: 767px) {
		font-size: 12px;
	}
	
}
.txt-opac{
	opacity: 0.8;
	&>*{opacity:1;}
}
.accent-border{
	border-bottom: 5px solid $main-accent;
}
.border-left{
	padding-left: 24px;
	position: relative;
	&:before{
		content: '';
		display: block;
		width: 4px;
		position: absolute;
		background-color: $main-accent;
		top: 12px;
		bottom: 12px;
		left: 0;
	}
	@media (max-width: 767px) {
	padding-left: 16px;
	&:before{
		width: 3px;
		top: 0;
		bottom: 0;
	}
	}
}
.text-block {
	.txt-20 {
		margin-bottom: 6px;

		@media (max-width: 767px) {
			margin-bottom: 8px;
		}
	}

	.txt-20+* {
		margin-top: 0 !important;
	}

	p:not(.txt-20) {
		line-height: 1.8;
		margin-top: 1em;

		@media (max-width: 1023px) {
			font-size: 14px;
			line-height: 1.71;
		}
	}

	ul {
		margin-top: 16px;
	}
}

.text-block+.text-block {
	margin-top: 30px;

	@media (max-width: 767px) {
		margin-top: 20px;
	}
}

.list-block,.list-check {
	li {
		position: relative;
		display: flex;
		
		column-gap: 10px;
		line-height: 1.6;

		@media (max-width: 767px) {
			line-height: 1.71;
			font-size: 14px;
		}

		&:before {
			content: '';
			display: inline-block;
			flex-shrink: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid $main-accent;
			position: relative;
			top:8px;
		}
	}

	li+li {
		margin-top: 8px;
	}

}
.list-check{
	li{
		line-height: 1.75;
		align-items: flex-start;
		&+li {
				margin-top: 14px;
			}
		&:before {
			content: '';
			
			display: inline-block;
			flex-shrink: 0;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			border: 0;
			background-color: $main-accent;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.8333 1.83325L4.38542 9.33325L1 5.92416' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
			background-size:13px;
		}

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 1.71;
			&+li{
				margin-top: 12px;
			}
		}
	}
}
.section-btn {
	margin-top: 48px;

	@media (max-width: 767px) {
		margin-top: 40px;
	}
}

.scroll-x {
	@media (max-width: 1023px) {
		width: calc(50% + 50vw);
		overflow: hidden;
		overflow-x: auto;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

	}
}

.accent-txt, .accent-link{
	color: $main-accent;
}
.white-link{
	color: $white;
}
*.white-link, *.accent-link, *.grey-link{
	position: relative;
	width: fit-content!important;
	&:before{
		content:'';
		display: block;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		background-color: $main-accent;
		transition: .3s; 
	}
	&:hover{color: $main-accent;}
	&:hover:before{
		width: 100%;
	}
}
*.white-link:before{
	background-color: $white;
	width: 100%;
}
*.grey-link{
	color: rgba(16, 23, 36, 0.4);
	font-size: 14px;
	line-height: 1.71;
	&:before{
		background-color:  rgba(16, 23, 36, 0.4);
		width: 100%;
	}
	&:hover{color: rgba(16, 23, 36, 0.4);}
	&:hover:before{width: 0;}
}
*.white-link:hover{color: $white; opacity: 0.8;}
*.white-link:hover:before{width: 0;}

.contact-group{
	font-size: 16px;
	line-height: 1.75;
	color: rgba(16, 23, 36, 1);
	display: flex;
	flex-direction: column;
	.contact-name{
		color: rgba(16, 23, 36, 0.4);
	}
	@media (max-width: 767px) {
		font-size: 14px;
	}
}