.blog-card{
	display: block;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
	background: $white;
	width: min(295px, 100%);
	display: flex;
	flex-direction: column;
	&__img{
		width: 100%;
		height: 195px;
		background-image: url('../img/blog-placeholder.webp');
		img{width: 100%;height: 100%;}
		flex-shrink: 0;
	}
	&__meta{
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		line-height: 1.71;
		margin-bottom: 8px;
		opacity: 0.5;
		flex-shrink: 0;
	}
	&__text{
		padding: 16px;
		font-size: 14px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		.txt-16{margin-bottom: 36px; font-weight: 600;}
		.accent-link{margin-top: auto;}
		.txt-16{transition: .3s;}
	}
	&:hover{
		.txt-16{
			color: $main-accent;
		}
	}
}
