.person-card{
	padding: 30px;
	background-color: #fff;
	width: min(605px, 100%);
	flex-shrink: 0;
	.person{
		gap:30px;
		&__img {
			width: 150px;
			height: 200px;
			@media (max-width: 1279px) {
				width: 150px;
				height: 200px;
			}
			@media (max-width: 767px) {
				height: 150px;
			}
		}

		&__name {
			font-size: 20px;
			line-height: 1.6
		}
	}
	@media (max-width: 767px) {
	  padding: 20px 16px;
		.person{
		 	flex-direction: column;
			align-items: flex-start;
			gap:20px
	  		
		}
	}
}
.person{
	gap: 40px;
	font-size: 16px;
	line-height: 1.6;
	&__name {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 600;
	}
	&__img {
		width: 100%;
		aspect-ratio: 63 / 84;
		flex-shrink: 0;
		background-color: #f0f0f0;
		overflow: hidden;
		
		@media (max-width: 1279px) {
			aspect-ratio: 3 / 4;
		}
		@media (max-width: 767px) {
			width: 156px;
			aspect-ratio: 1;
		}
	}

	.flex-col {
		row-gap: 20px;
	}
	@media (max-width: 1279px) {
		gap: 20px;
		gap: 40px;
	}
	
	
}
.person.flex-col {
	p,a {font-size: 14px;}
	.person__name {font-size: 16px;}
	@media (max-width: 767px) {
		flex-direction: row;
		.person__name{font-size: 14px;}
		p, a{font-size: 12px;}
		.flex-col {
			justify-content: space-between;
		}
	}
}
.bosses-cards{
	column-gap: 20px;
	@media (max-width: 767px) {
	flex-direction: column;
	row-gap:16px;
	}
}