.chief-card{

	padding: 30px;
	background-color: #fff;
	width: min(605px, 100%);
	flex-shrink: 0;
	.person{
		&__info{column-gap:30px}
		&__photo {
			width: 150px;
			height: 200px;
			@media (max-width: 1279px) {
				width: 150px;
				height: 200px;
			}
			@media (max-width: 767px) {
				height: 150px;
			}
		}
		&__name {
			font-size: 20px;
		}
		&__details{
			justify-content: center;
			gap:20px;
		}
		
	}
	
}
.chief-card, .person-card{
	@media (max-width: 1279px) {
		padding: 30px 20px;
	}
	@media (max-width: 699px) {
	  padding: 20px 16px;
		.person__info{
		 	flex-direction: column;
			align-items: flex-start;
			gap:20px;	  		
		 }
	}
}
 .person-card{
	.person__links{
		@media (max-width: 699px) {
			justify-content: space-between;
		}
	}
 }

.chief-cards{
	column-gap: 20px;
	@media (max-width: 767px) {
	flex-direction: column;
	row-gap:16px;
	}
}