.custom-tabs{
	&__btns{
		display: flex;
		column-gap: 20px;
		@media (max-width: 1364px) {
			column-gap: 10px;
		}
		@media (max-width: 1023px) {
			width: fit-content;
			padding-right: 5px;
		}
	}
	.tab-btn{
		flex-shrink: 0;
		width: 90px;
		height: 90px;
		font-weight: 700;
		font-size: 40px;
		letter-spacing: -0.01em;
		color: #4c5360;
		justify-content:center;
		display: flex;
		align-items: center;
		transition: .2s;
		border: 1px solid white;
		background-color: $white;
		padding-inline: 25px;
		column-gap: 14px;
	
		&.active {
			flex-grow: 1;
			justify-content: flex-start;
			border: 2px solid $main-accent;
			box-shadow: 0 6px 16px  rgba(0, 0, 0, 0.06);
	
			span:first-child {
				color: $main-accent;
			}
	
			span+span {
				display: block;
				color: #101724;
			}
	
			@media (max-width: 1023px) {
				width: 238px;
				flex-shrink: 0;

			}
		}
		@media (max-width: 1439px){padding-inline: 20px;}
		@media (max-width: 1023px) {
			font-size: 30px;
			width: 56px;
			height: 56px;
			padding-inline: 14px;
			column-gap: 14px;
			span:first-child {min-width: unset};
			
		}
		span{
			pointer-events: none;
			
		}
		span:first-child{min-width: 40px;
			text-align: center;}
		span +span{
			display: none;
			font-weight: 600;
			font-size: 22px;
			letter-spacing: -0.01em;
			text-align:left;
			@media (max-width: 1023px) {font-size: 15px;}
			
		}

	}
	&__content{
		background-color: $white;
		padding: 44px 74px;
		box-shadow: 0 6px 16px  rgba(0, 0, 0, 0.06);
		@media (max-width: 1439px) {
			padding: 44px 32px;
		}
		@media (max-width: 1023px) {
			padding: 20px 18px 20px 16px;
		
		}
		
	}
	.custom-tab{
		display: none;
		&.active{display: block;}
		
	}
}