.decore-block{
	background-color: $main-accent;
	background-image: url('../img/review/bg-svg.svg');
	column-gap:20px;
	line-height: 1.75;
	align-items: stretch;
	margin-top: 80px;
	&__text{
		padding: 30px 0 32px 26px;
		width: 60%;
		flex-shrink: 0;
		p, .h3{
			color: $white;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
		}
		.h3{
			line-height: 1.25;
			letter-spacing: -0.03em;
			margin-bottom: 24px;
		}
		
		&>*+*{margin-top: 24px;}
	}
	&__img{
		position: relative;
		width: 443px;
		overflow: hidden;
		&:after{
			content: '';
			display: block;
			width: 423px;
			aspect-ratio: 1;
			border: 100px solid rgba(255,255,255, .1);
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			
		}
		img{
			position: absolute;
			top: 0;
			left: 53%;
			transform: translateX(-50%);
			z-index: 2;
		}
	}
	@media (max-width: 1279px) {
	    &__text{width: 47%;}
		&__img img{
			left:50%;
			width: 289px;
		}
			
	}
	@media (max-width: 767px) {
		margin-top: 60px;
		
	}
}