.filters{
	height: max-content;
	padding: 20px 16px;
	background-color: #f0f3f9;
	line-height: 1.41;
	font-size: 14px;
	&-reset{
		line-height: 1.41;
		color: $text-dark;
		opacity: 0.5;
	}
	&-header,&__selected, &-body,&-group__list{
		display: flex;
		flex-direction: column;
		row-gap:24px;
	}
	&-group__list li{ 
		display: flex;
		justify-content: space-between;
	}
	&-header{
		flex-direction: row;
		justify-content: space-between;
		column-gap:16px;
		align-items: center;
	}
	&-body {
		padding-top: 24px;
	}
	
	
	&-group__content, &-group{
		padding: 20px 10px;
		border: 1px solid $dark-grey-inactive;
		border-radius: 5px;
		max-height: 385px;
		&>*+*{margin-top: 8px;}
	}
	&-group__content {background-color: #f0f3f9; padding-right: 0;}
	
			
		
	&-group__content ul{
		max-height: 345px;
		li{padding-right: 12px;}
	}
	&-group__title{
		font-size: 12px;
		line-height: 1.67;
		text-transform: uppercase;
		color: $dark-grey;
		opacity: 0.5;
		// margin-bottom: 8px;
	}
	&-group__label{
		min-height: 40px;
		padding: 12px;
		background-color: $main-accent;
		display: flex;
		column-gap: 12px;
		justify-content: space-between;
		color: $white;
		font-size: 14px;
		line-height: 1.41;
		// margin-bottom: 8px;
		.btn-remove{
			opacity: .8;
			&:hover{opacity: 1;}
		}
	}
	
	&-group__list{
		max-height: 230px;
		margin-top: 12px;
		a{
			width: fit-content;
			transition: .3s;
			font-size: 14px;
		}
		span{font-size: 11px;  opacity: 0.4}
			
		row-gap:12px;
		a:hover{
			color: $main-accent;
		}
	}
	
	@media (max-width: 767px) {
	&-header .h4{font-size: 18px; line-height: 1.44; line-height: 144%;
		letter-spacing: -0.01em;}
	}
	@media (max-width: 767px) {
	  padding: 12px 16px;
	}
}
.filters-group__search {
	padding-right: 10px;
	display: none;
	input{
		width: 100%;
		font-size: 16px;
		color: $bg-black;
		font-family: $font-family;
		padding-inline: 16px;
		height: 40px;
		background-color: #fff;
		border: 1px solid #f0f3f9;
		outline: none;
	
		&::placeholder {
			color: rgba(21, 21, 21, .6);
		}
	}
}
.btn-more {
	margin-top: 12px;
	position: relative;

	.svg-chevron {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateX(-50%) rotate(0);
	}
}
.filters-group{

	li{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&:hover .filters-group__drop{display: block; top: -40px;}
	}
	.filters-group__drop{
		position: absolute;
		padding: 20px;
		padding-right: 0;
		z-index: 5;
		top: 0;
		right: 2px;
		width: 300px;
		transform: translateX(100%);
		transition: .3s; 
		li+li{margin-top: 12px;}
		display: none;
		
		li span{opacity: 0.4}
		@media (max-width: 767px) {
		display: none!important;
		}
		
	}
}