input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
}
.search-btn:hover {
  background: rgba(255, 255, 255, .1);
}
.form_field{
  position: relative;
  input, textarea, .message-field{
    display: block;
    width: 100%;
    font-size: 18px;
    color:$bg-black;
    font-family: $font-family;
    padding-inline: 20px;
    height: 70px;
    background-color: #f0f3f9;
    border: 1px solid #f0f3f9;
    outline: none;
    &::placeholder{
      color: rgba(21, 21, 21, .6);
    }
    
  }
  textarea{
    padding: 20px;
    height: 200px;
    resize: none;

  }
  label{
    display: block;
    position: relative;
  }
  @media (max-width: 767px) {
     input, textarea{
      padding-inline: 16px;
      height: 58px;
     }
  }
}
.form_field.error{
  input,textarea{
    border: 1px solid #ff0000;
  }
}
label.form-checkbox, label.form-radio {
  display: flex;
  column-gap: 16px;

  input[type="checkbox"], input[type="radio"]{
     appearance:none;
     width: 0.01em;
     height: 0.01em;
     position: absolute;
     left: 0;
     right: 0;
     opacity: 0;
  }
  input ~ .fake-checkbox, input~.fake-radio{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  @media (max-width: 1023px) {
    column-gap: 10px;
  input~.fake-checkbox, input~.fake-radio{
    width: 20px;
    height: 20px;
  }
  }
}
label.form-checkbox{
  input~.fake-checkbox{
    background-color: $main-accent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 1L5.0625 10L1 5.90909' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    background-size: 0;
    cursor:pointer;
     
  }
  input:checked~.fake-checkbox {
    background-size: auto;
  }

}
label.form-radio{
  input~.fake-radio{
    border-radius: 50%;
    border: 1px solid $dark-grey;
  }
    input:checked~.fake-radio {
      border: 4px solid $main-accent;
    }
}
.form_field +.form_field{margin-top: 15px;}
.form-confirm{
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(16, 23, 36, 0.8);
  @media (max-width: 991px) {
   font-size: 12px;
   
  }
}
.form__btn{margin-top: 32px;}
.form-opacity{
  backdrop-filter: blur(40px);
  background: rgba(16, 23, 36, 0.3);
  padding: 40px 64px 48px;
  color: $white;
  input, .message-field{
    height: 66px;
    color: $white;
    background: rgba(255, 255, 255, 0.1);
    &::placeholder{
      opacity: 0.4;
      color: $white;
    }
  }
  .form-confirm{
    color: rgba(255, 255, 255, 0.8);
    label.form-checkbox input~.fake-checkbox{
      background-color: #fff;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 1L5.0625 10L1 5.90909' stroke='%23101724' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    }
  }
  @media (max-width: 1279px) {
      padding: 40px 48px 48px;
  }
  @media (max-width: 767px) {
   padding: 32px 16px;
  }
}
.message-field[contentEditable=true]{
  padding-top: 18px;
  padding-bottom: 18px;
}
.message-field[contentEditable=true]:empty:before {
  content: attr(placeholder);
  opacity: 0.4;
  color: $white;
}