/*************HEADER TOP*****************/
.header-top{
	background-color: $white;
	height: 48px;
	display: flex;
	align-items: center;
}
.header-top__nav{
	flex-grow: 1;
	&>ul{
		display: flex;
		align-items: center;
		column-gap:42px;
		li:has(ul){
			position: relative;
			padding-right: 16px;
			&:before{
				content: '';
				display: block;
				width: 11px;
				height: 6px;
				position: absolute;
				top: 9px;
				right: 0;
				transition: .3s; 
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L4.70276 4.29135C5.15743 4.69549 5.84257 4.69549 6.29724 4.29135L10 1' stroke='%232DBFCA' stroke-width='1.5' stroke-linecap='round' /%3e%3c/svg%3e");
			}
		}
		li a{
			color: $text-dark;
			font-size: 15px;
			line-height: 1.33;
			padding-block: 3px;
			transition: .3s; 
		}
		li ul{
			position: relative;
			// z-index: -1;
			// opacity: 0;
			transform: translateY(20px);
			position: absolute;
			top: calc(100% - 10px);
			left: -24px;
			width: 228px;
			transition: .3s; 
			
			@include shadow-border;
			a{
				font-size: 16px;
				line-height: 1.75;
				&:hover{
					color: $main-accent;
				}
			}
			li +li{margin-top: 12px;}
		}
	}
	&>ul>li:hover > a{
		border-bottom: 1px solid $text-dark;;
	}
	li:hover ul{
		transform: translateY(0);
		opacity: 1;
		z-index: 2;
	}
	li:hover:before{
		transform: rotate(180deg);
	}
}