.header-search-modal{
	backdrop-filter: blur(6px);
	background: rgba(21, 21, 21, 0.4);
	padding: 20px;
	position: fixed;
	top: 116px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.header-search {
	padding: 24px;
	column-gap: 20px;
	background-color: $white;
	width: min(918px, 100%);
	.form_field {
		flex-grow: 1;
	}

	input[type="text"] {
		padding-right: 44px;
		height: 52px;

	}
	.btn-accent[type="submit"]{height: 52px;}
	.btn-icon {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;

	}
}