.header-search-popup{
	backdrop-filter: blur(6px);
	background: rgba(21, 21, 21, 0.4);
	padding: 20px;
	position: fixed;
	top: 116px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: hidden;
	display: none;
	.header-search-wrapper{height: 0; overflow: hidden;}
	&.active{
		display: flex;
		
		.header-search-wrapper{
			animation-name: fadeUp;
		    animation-duration: .2s;
		    animation-timing-function: linear;
		    animation-fill-mode: forwards;
			animation-delay: .1s;
		}
	}
	@media (max-width: 1279px) {top:68px;}
	@media (max-width: 576px) {
	  padding:0;
	}
		

	
}
@keyframes fadeUp{
	0%{height: 0;}
	100% {height: 100px;}
}
@media (max-width: 576px) {
@keyframes fadeUp {
		0% {
			height: 0;
		}

		100% {
			height: 192px;
		}
	}
}
.header-search-wrapper{
	width: min(918px, 100%);
}
.header-search {
	padding: 24px;
	column-gap: 20px;
	background-color: $white;
	
	
	.form_field {
		flex-grow: 1;
	}
	
	input[type="text"] {
		padding-right: 44px;
		height: 52px;
		&::placeholder{font-size: 15px;}

	}
	.btn-accent[type="submit"]{height: 52px;}
	.btn-icon {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;

	}
	@media (max-width: 576px) {
		padding-inline: 16px;
		flex-direction: column;
		row-gap:24px;
		&>*{width: 100%;}
		input[type="text"]{
			height: 60px;
			width: 100%;
		}

		.btn-accent[type="submit"] {
			height: 60px;
			width: 100%;
		}

	}
}