.height-dynamic{
	position: relative;
	overflow: hidden;
	max-height: 205px;
	transition: .5s;
	margin-block:32px;
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		height: 60px;
		z-index: 3;
		background: linear-gradient(to top, rgba(255, 255, 255, .95) 14%,  rgba(255, 255, 255, 0) );
	}
	
	.height-dynamic__btn{
		cursor: pointer;
		position: absolute;
		left: 0;
		right: 0;
		height: 20px;
		background-color: #fff;
		bottom: 0;
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 2px;
			background-color: $main-accent;
			top: 10px;
		}
		.flex-center{
			width: 40px;
			height: 20px;
			background-color: #fff;
			position: relative;
			z-index: 3;
			bottom: -5px;
		}
		.svg-chevron-down{
			width: 20px; 
			height:16px;
		}
	}
	@media (max-width: 767px) {
		max-height: 180px;
	}
}
.height-dynamic.active{
	&:after, .height-dynamic__btn{display: none;}
	
}
.programs-table.programs-table--simple{
	@media (max-width: 767px) {
		.cell-deskrip{font-size: 14px;}
		.programs-table-row{padding-block: 8px;}
	}
}