.inner-menu{
	border: 1px solid $light-grey;
	padding: 20px;
	@media (max-width: 767px) {
		padding: 20px 16px;
	}
	a{
		display: block;
		position: relative;
		display: flex;
		align-items: center;
		transition: .3s;
		width: fit-content;
		font-size: 14px;
		line-height: 1.43;
		& + a {margin-top: 8px;}
		&:after{
			content: '';
			display: inline-block;
			height: 1px;
			position: absolute;
			left: 16px;
			right: 0;
			bottom: 0;
			background-color: transparent;
			transition: .3s; 
		}
		&:before{
			content: '';
			display: inline-block;
			height: 12px;
			width: 6px;
			margin-right: 10px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 10.5L4.29135 6.79724C4.69549 6.34257 4.69549 5.65743 4.29135 5.20276L1 1.5' stroke='black' stroke-width='1.5' stroke-linecap='round' /%3e%3c/svg%3e");
			flex-shrink: 0;

			
		}
		&:hover{color: $dark-grey; }
		&:hover:after{
			background-color: $dark-grey;
		}
		&:active {color: $main-accent;}
		&:active:after {background-color: transparent;}
	}
}