/*=====СПИСКИ ========*/
.list-block,
.list-check {
	li {
		position: relative;
		display: flex;

		column-gap: 10px;
		line-height: 1.6;

		@media (max-width: 767px) {
			line-height: 1.71;
			font-size: 14px;
		}

		&:before {
			content: '';
			display: inline-block;
			flex-shrink: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid $main-accent;
			position: relative;
			top: 8px;
		}
	}

	li+li {
		margin-top: 8px;
	}

}

.list-check {
	li {
		line-height: 1.75;
		align-items: flex-start;

		&+li {
			margin-top: 12px;
		}

		&:before {
			content: '';
			top: 0;

			display: inline-block;
			flex-shrink: 0;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			border: 0;
			background-color: $main-accent;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.8333 1.83325L4.38542 9.33325L1 5.92416' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
			background-size: 13px;
		}

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 1.71;

		}
	}
}
blockquote {
	margin: 0;
	margin-top: 48px;
	padding: 36px 68px 36px 88px;
	position: relative;
	background-color: #f0f3f9;
	p{
		font-size: 18px!important;
	    line-height: 1.78!important;
	    letter-spacing: -0.03em!important;
	}
	font-style: italic;
	@media (max-width: 1279px) {
	padding: 38px 60px 36px 75px
	}

	@media (max-width: 767px) {
		p{
			font-size: 14px!important;
			line-height: 1.71 !important;
		}
		
		padding: 20px 16px 20px 38px;
		margin-block: 40px;

		&:before {
			top: 20px;
			left: 12px;
		}
	}

	&:before {
		content: '';
		width: 19px;
		height: 16px;
		position: absolute;
		top: 36px;
		left: 40px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.3' d='M0 15.5455V11.4545C0 10.2121 0.219697 8.89394 0.659091 7.5C1.11364 6.09091 1.76515 4.73485 2.61364 3.43182C3.47727 2.11364 4.51515 0.969696 5.72727 0L7.95455 1.93182C6.80303 3.26515 5.83333 4.75 5.04545 6.38636C4.27273 8.00758 3.88636 9.67424 3.88636 11.3864V15.5455H0ZM10.6591 15.5455V11.4545C10.6591 10.2121 10.8788 8.89394 11.3182 7.5C11.7727 6.09091 12.4242 4.73485 13.2727 3.43182C14.1364 2.11364 15.1742 0.969696 16.3864 0L18.6136 1.93182C17.4621 3.26515 16.4924 4.75 15.7045 6.38636C14.9318 8.00758 14.5455 9.67424 14.5455 11.3864V15.5455H10.6591Z' fill='%23101724' /%3e%3c/svg%3e");
	}
}
blockquote +*{
	margin-top: 48px;
}
.order-list {
	padding: 40px 48px 40px;
	box-shadow: 0 6px 16px  rgba(0, 0, 0, 0.06);
	background: $light-blue;
		@media (max-width: 767px) {
			padding: 20px 16px;
		}
}
.custom-text, .order-list{
	ol {
		counter-reset: point;
		list-style: none;


		li {
			margin-bottom: 10px;
			padding-left: 30px;
			position: relative;
			line-height: 1.75;
		}

		li:before {
			content: counter(point);
			counter-increment: point 1;
			font-size: 11px;
			position: absolute;
			left: 0;
			top: 4px;
			line-height: 22px;
			text-align: center;
			background: $bg-black;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			font-weight: 600;
			font-size: 12px;
			color: $white;
		}

	}
}
.custom-text ol li:before{
	background: $main-accent;
}
.simple-ol{
	ol {
		list-style-type: none;
		counter-reset: item;
	}

	li:before {
		content: counter(item) ') ';
		counter-increment: item;
	}
}
.stripes-list{
	display: flex;
	align-items: center;
	column-gap:20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:20px;
	li{
		padding: 20px;
		background: rgba(255, 255, 255, 0.15);
		color: $white;
		font-size: 16px;
		line-height: 1.75;
		font-weight: 500;
		.check-icon{
			margin-bottom: 12px;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: #fff;
			display: block;
			text-align: center;
			line-height: 24px;
			svg{color: $bg-black;}
		}
	}
}