/*==============MOBILE MENU===============*/
.mobile-menu-wrapper{
	position: fixed;
	z-index: 8;
	top: 67px;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(21, 21, 21, 0.4);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: flex-end;
	transform: translateX(110%);
	transition: .3s; 
	&.active{transform: translateX(0);}
	@media(min-width:1280px){display: none;}
}
.mobile-menu-content{
	padding: 38px 16px;
	width: min(360px, 100%);
	background-color: #fff;
	li a{
		font-size: 15px;
		line-height: 1.6;
		color: $text-dark
	}

}
.mobile-menu{
	padding-bottom: 20px;
	height: calc(100dvh - 108px);
	overflow-y: auto;
	li +li{margin-top: 24px;}

	.menu-item.drop-menu-li{
		&:after{
			transform: rotate(-90deg);
			top:7px;
		}
	}
	.drop-menu-wrapper{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: min(360px, 100%);
		background-color: white;
		z-index: 2;
		padding: 38px 16px;
		height: calc(100dvh - 68px);
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none;
		transform: translateX(110%);
		transition: .3s; 
		&.active{transform: translateX(0);}
		&::-webkit-scrollbar{
			display: none;
		}
	}
	.drop-menu__header{
		margin-bottom: 30px;
		.accent-link{font-size: 15px;}
		
	}
	.drop-menu__list{
		a{
			display: flex;
			padding-block: 6px;
		}
		a+a{margin-top: 6px;}
	}
	.three-columns-grid,.two-colums-grid{
		grid-template-columns: 1fr;
		row-gap:24px;
		.grid-column__title{margin-bottom: 13px;}
	}
	.three-columns-grid ,.two-colums-grid{
		.grid-column__list>*+* {
			margin-top: 15px;
		}
	}
}