.review-card{
	padding: 24px 20px 20px;
	.person__photo {
		width: 130px;
		height: 130px;
		flex-shrink: 0;
	}
	
	@media (max-width: 1023px) {
		.person{
			display: flex;
			flex-direction: column;
			&>*{width: 100%;}
						
		}
	.person__info{flex-shrink: 0;}
	.person__txt{flex-grow: 1;}
	.person__date,
		.pin-item {
			display: none;
		}

		.person__meta {
			display: flex;

			.person__date,
			.pin-item {
				display: block;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 16px;
		.person__photo{
			width: 100px;
			height: 100px;
		}
		.person__date, .pin-item, .accent-link, .person__range {
			font-size: 12px;
		}
		.person__txt{font-size: 14px; margin-top: 16px;}
		
	} 
}

.person{
	color: $text-dark;
	font-size: 16px;
	line-height: 1.6;
	height: 100%;
	&__info{
		column-gap:20px;
		display: flex;
	}
	&__photo{
		width: 150px;
		height: 200px;
		flex-shrink: 0;
	}
	
	&__details{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		
		justify-content: space-between;
		&>*{width: 100%;}
	}
	&__date, .pin-item{
		opacity: 0.4;
		
		flex-shrink: 0;
		margin-left: 16px;
	}
	&__name{
		font-weight: 600;
		font-size: 24px;
		// line-height: 1.33;
		letter-spacing: -0.01em;
		flex-grow: 1;
	}
	&__meta, &__links{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__txt{
		margin-top: 30px;
		p{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			
		}
		.accent-link {font-weight: 400; }
					
				
	}
	.accent-link{font-weight: 500;}

	&__meta{
		display: none;
		padding-top: 16px;
		.person__date, .pin-item{margin-left: 0;}
	}
	@media (max-width: 1023px) {
		&__txt {
			p {-webkit-line-clamp: 4;}
				
			
		}
	}
	@media (max-width: 767px) {
		&__name{font-size: 16px;}
		&__txt{font-size: 14px;}
			
		
		&__txt{
			p{-webkit-line-clamp: 6;}
		} 
	}
}
.tags-list {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	row-gap: 3px;
	opacity: .4;

	@media (max-width: 767px) {
		column-gap: 8px;

	}
}
