.review-card{
	padding: 24px 20px 20px;
	.person__photo {
		width: 130px;
		height: 130px;
		flex-shrink: 0;
	}
	.person__details{
		justify-content: flex-start;
	}
	.person__name{
		font-size: 20px;
		line-height: 1.4;
		font-weight: 600;
		margin-bottom: 4px;	
		@media (max-width: 767px) {
		font-size: 16px;
		}
	}
	.person__links{
		justify-content: flex-start;
		column-gap:12px;
		row-gap:4px;
		flex-wrap: wrap;
		.pin-item{margin-left: 0;}
		@media (max-width: 767px) {
		column-gap: 8px;
		}
		
	}
	.person__range{margin-bottom: 8px;}
	.person__info	.tags-list{
		margin-top: auto;
		@media (max-width: 767px) {
		display: none;
		}
	}
	.person__txt{margin-top: 16px;}
	.person__txt .tags-list{display: none; margin-bottom: 4px;}
	.person__info{
		flex-shrink: 0;
		
		.pin-item,.accent-link,.person__date,
		.person__range, .tags-list{
			font-size: 14px;
			line-height: 1.71;
			@media (max-width: 767px) {
			font-size: 12px;
			}
		}
	}

	@media (max-width: 1023px) {
		.person{
			display: flex;
			flex-direction: column;
			&>*{width: 100%;}
						
		}
	.person__txt{flex-grow: 1;}
	 .person__date{
			display: none;
		}

		.person__meta {
			.person__date {
				display: block;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 16px;
		.person__photo{
			width: 100px;
			height: 100px;
		}
		.person__date, .pin-item, .accent-link, .person__range {
			font-size: 12px;
		}
		.person__txt{font-size: 14px; margin-top: 16px;}
		.person__txt .tags-list {
			display: flex;
		}
		.person__details .person__date{display: none;}
		.person__txt	.person__date {display: block;}
	} 
}

.person{
	color: $text-dark;
	font-size: 16px;
	line-height: 1.6;
	height: 100%;
	&__info{
		column-gap:20px;
		display: flex;
	}
	&__photo{
		width: 150px;
		height: 200px;
		flex-shrink: 0;
	}
	
	&__details{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		
		justify-content: space-between;
		&>*{width: 100%;}
	}
	&__date, .pin-item{
		opacity: 0.4;
		
		flex-shrink: 0;
		margin-left: 16px;
	}
	&__name{
		font-weight: 600;
		font-size: 24px;
		// line-height: 1.33;
		letter-spacing: -0.01em;
		flex-grow: 1;
	}
	&__meta, &__links{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__txt{
		margin-top: 30px;
		p{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			
		}
		.accent-link {font-weight: 400; }
					
				
	}
	.accent-link{font-weight: 500;}

	&__meta{
		
		padding-top: 4px;
		.person__date{ display: none; margin-left: 0;}
	}
	@media (max-width: 1023px) {
		&__txt {
			p {-webkit-line-clamp: 4;}
				
			
		}
	}
	@media (max-width: 767px) {
		&__name{font-size: 16px;}
		&__txt{font-size: 14px;
			p{-webkit-line-clamp: 6;}
		} 
		.accent-link,
		.person__range,
		.persone__exper, .pin-item, .person__date {
			font-size: 12px;
		}
	}
}
.person.short-card{
	width: min(295px, 100%);
	.person__photo{
		aspect-ratio:59 / 75;
	    height: auto;
	}
	.person__info{
		flex-direction: column;
		&>*{width: 100%;}
		row-gap: 40px;
	}
	.person__name{font-size: 16px;}
	.person__range, .persone__exper{opacity: .6;}
	&>*{font-size: 14px;}
	.person__details{row-gap:20px;}
	@media (max-width: 767px) {
		width: 100%;
		.person__info{flex-direction: row;}
		.person__photo{
			width: 156px;
			height: 156px;;
		}
		.accent-link,
		.person__range,
		.persone__exper, .pin-item{
			font-size: 12px;
		}
	}
}
.person-card, .person.short-card{
	.person__links{
		flex-direction: column;
		align-items: flex-start;
		row-gap:12px;
		&>*+*{margin-left: 0;}
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}
}
.person-card{
	padding: 30px;
	.person__photo{
		width: 198px;
		height: auto;
		aspect-ratio: 1;
	}
	@media (max-width: 767px) {
		.person__details{
			&>*+*{margin-top: 6px;}
		}
		.person__date{display: none;}
		.person__links{flex-direction: row;}
	}
}
.tags-list {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	row-gap: 3px;
	opacity: .4;
	@media (max-width: 1023px) {
		font-size: 14px;
		}
	@media (max-width: 767px) {
		column-gap: 8px;
		font-size: 12px;

	}
}
