.scool-card{
	box-shadow: 0 14px 28px 0 rgba(22, 29, 43, 0.24), 0 6px 10px 0 rgba(22, 29, 43, 0.06), 0 0 1px 0 rgba(22, 29, 43, 0.08);
	background-color: $white;
	padding: 20px;
	margin-top: 24px;
	position: relative;
	
	.scool-picture{
		position: relative;
		width: 324px;
		flex-shrink: 0;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.h5{
		letter-spacing: normal;
		line-height: 1.56;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
	.rating-label{
		position: absolute;
		top: 16px;
		left: 16px;
	}
	.scool-info{
		display: flex;
		column-gap: 20px;
	}
	.scool-descrip{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.scool__list{
		font-size: 14px;
		line-height: 1.43;
		color: var(--dark-grey);
		padding-block: 15px;
		li+li{margin-top: 8px;}
		li{
			display: flex;
			align-items: center;
			column-gap:10px ;
			color: $dark-grey;
			i{
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				opacity: .5;
			}
		}
		
	}
	.scool-row__group{
		flex-shrink: 0;
		.price-block{margin-bottom: 4px;}
	}
	.scool-row__link .btn{
		height: 48px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.price-block{
	font-size: 14px;
	span{
		font-weight: 600;
		line-height: 1.5;
		color: $text-dark;
	}
}
.price-block.price-block--16{
	font-size: 16px;
}
.changing-icon{
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 3.71094L6.19279 7.97711C6.6505 8.39321 7.3495 8.39321 7.80721 7.97711L12.5 3.71094' stroke='%232DBFCA' stroke-width='1.2' stroke-linecap='round' /%3e%3c/svg%3e");
	background-size: 14px 12px ;
	transition: .3s; 
}
.active .changing-icon{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 1.5L10.5 10.5M1.50002 10.5L6.00002 6L10.5 1.5' stroke='%23596464' stroke-width='1.2' stroke-linecap='round' /%3e%3c/svg%3e");
	background-size: 12px 12px;
}
.show-scool-programs{
	font-size: 15px;
	font-family: $second-family;
	color: $main-accent;
	line-height: 1.33;
	display: flex;
	align-items: center;
	column-gap:8px;
	border-bottom: 1px solid transparent;
}
.scool-card.active .show-scool-programs{
	border-bottom: 1px solid var(--dark-grey);
	color: var(--dark-grey);
}
.scool-card.active .scool-row__link .btn {
	background-color: $main-accent;
	color: #fff;
	&:hover {
		background: #19abb6;
		color: $white;
	}

	&:focus {
		background: #19abb6;
		color: rgba(255, 255, 255, .7);

		svg {
			color: rgba(255, 255, 255, .7)
		}
	}
}
.scool-drop{
	transition: .3s; 
	background-color: #fff;
	.scool-table{
		width: 100%;
		padding-top: 12px;
		td, th{
			padding-top: 8px;
			padding-bottom: 8px;
			text-align: left;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.43;
			white-space: nowrap;
			@media (max-width: 767px) {
				font-size: 13px;
			}
		}
		th{color: rgba(89, 100, 100, 0.5);}
		
		tr td{
			border-top: 1px solid #F4F4F4;
		}
	}
	.cell-name{
		width: 40%;
		padding-right: 16px;
		P{
		overflow: hidden;
		text-overflow: ellipsis;
			
		}
		
		@media (max-width: 767px) {
			width: 30%;
			// p{width: 146px;}
		}
	}
	.cell-age {
		width: 25%;
		padding-right: 16px;
		color: $dark-grey;
		@media (max-width: 767px) {
		  width: 68px;
		}
	}
	.cell-price {
		width: 35%;
		.cell-price__btn>span{font-weight: 600;}
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.cell-price__btn{
		position: relative;
		width: fit-content;
		&:after{
			content: '';
			display: inline-block;
			width: 10px;
			height: 8px;
			margin-left: 6px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.33594 2.47412L4.46447 5.31824C4.7696 5.59563 5.23561 5.59564 5.54074 5.31824L8.66927 2.47412' stroke='%232DBFCA' stroke-linecap='round' /%3e%3c/svg%3e");
		}
	}
}
.scool-drop{
	overflow: hidden;
	max-height: 0;
}
@media (max-width: 1279px) {
	.scool-card{
		.scool-row__link .btn{height: 40px;}
		.scool-row__link .btn span + span{display: none;}
	}
}
@media (max-width: 767px) {
	.scool-card{
		padding: 0;
		height: 480px;
		overflow: hidden;
		overflow-y: auto;
		max-width: 330px;
		.scool-picture{
			width: 100%;
		}
		.scool-info{
			flex-direction: column;
		}
		.scool-descrip{
			width: 100%;
			padding: 16px;
		}
		.scool-row{
			flex-direction: row-reverse;
			position: relative;
			align-items: center;
			padding-top: 40px;
			.price-block{
				position: absolute;
				top: 0;
				left: 0;
				margin-bottom: 0;
			}
			.btn{padding-inline: 40px;}
		}
		.scool__list{
			padding-top: 11px;
			padding-bottom: 14px;
		}
		.scool-drop{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 3;
		}
	}
}
