
.serv-card{
	display: flex;
	flex-direction: column;
	width: min(482px, 100%);
	background-color: $white;
	&__img{
		width: 100%;
		aspect-ratio: 295 / 212;
		flex-shrink: 0;
	}
	&__text{
		padding: 20px;
		padding-top: 24px;
		box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.06);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		row-gap:12px;
		p{padding-bottom: 4px; line-height: 1.75;}
		.round-arrow{margin-top: auto;}
		.h3{transition: .3s; }
		.h3:hover{color: $main-accent;}
		@media (max-width: 767px) {
			p {
				padding-bottom: 8px;
				line-height: 1.71;
				font-size: 14px;
			}
		}
	}
}