//-Родителю над этим блоков добавлять класс .filters.dynamic-menu
mixin aside-filters(title)
	//====== filters header ===
	.filters-header.dynamic-menu__header
		.h4 !{title}
		svg.svg-chevron-down
			use(href="./img/spriteSvg.svg#svg-chevron-down")
		
	//====== filters content ===
	.filters-drop.dynamic-menu__list
		.filters-body
			//=====ОДНА ГРУППА ======
			.filters-group
				.filters-group__title Уровень образования
				.filters-group__list
					a(href="#!") Арт и Дизайн
					a(href="#!") Высшее образование
					a(href="#!") Каникулы
					a(href="#!") Подготовка к экзаменам
					a(href="#!") Среднее образование
					a(href="#!") Языковые курсы
			//=====ОДНА ГРУППА ======
			.filters-group
				.filters-group__title Страна
				.filters-group__list
					a(href="#!") Австралия
					a(href="#!") Великобритания
					a(href="#!") Германия
					a(href="#!") Ирландия
					a(href="#!") Испания
					a(href="#!") Италия
				
				//======= показать еще =======
				button(type="button").accent-link.btn-more Показать еще
					svg.svg-chevron-down
						use( href='./img/spriteSvg.svg#svg-chevron-down')
					
			//=====ОДНА ГРУППА ======
			.filters-group
				.filters-group__title Отзывы
				.filters-group__list
					a(href="#!") Родители
					a(href="#!") Дети