mixin blog-card(img, meta, txt)
	.blog-card.img-zoom
		.blog-card__img
			img.vh-100.lazy(src="./img/blog/"+ img+".webp", width="295" height="194" alt="img")
		a(href="#!").blog-card__text
			.blog-card__meta.txt-14
				span #{meta}
				time(datetime="2024-03-12") 12.03.2024
			h3.txt-16  !{txt}
			span.accent-link Читать	