mixin blogCardsSlider(title, titleSpan, whiteBtnClass = 'btn-white', sliderCards)
	//======== BLOG CARDS ========
	section.blog&attributes(attributes)
		.container
			//======= SECTION TOP ROW=======
			.header-group.w-100
				h2.h2 #{title} <br> #[span.accent-border #{titleSpan}]
				
				.btns-group
					a(href="#!" class="btn--slim " + whiteBtnClass) Все новости
					a(href="#!").btn--slim.btn Все статьи

			//======= SECTION SLIDER =======
			.slider-wrapper
				//======== slider-content =======
				.blog-cards-slider.swiper
					.swiper-wrapper
						//===== single slide ========
						.swiper-slide
							+blog-card(1, 'Статья', 'Как написать мотивационное письмо в&nbsp;университет?')(class="blog-card--full")
						
						//===== single slide ========
						.swiper-slide
							+blog-card(2, 'Новость', 'Экономическое образование в США')
						//===== single slide ========
						.swiper-slide
							+blog-card(3, 'Статья', 'Техническое образование в Германии')
						
						//===== single slide ========
						.swiper-slide
							+blog-card(4, 'Новость', 'IELTS или TOEFL: что лучше для поступления в университет')
						//===== single slide ========
						.swiper-slide
							+blog-card(1, 'Статья', 'Как написать мотивационное письмо в&nbsp;университет?')
						
						//===== single slide ========
						.swiper-slide
							+blog-card(2, 'Новость', 'Экономическое образование в США')
						//===== single slide ========
						.swiper-slide
							+blog-card(3, 'Статья', 'Техническое образование в Германии')
						
						//===== single slide ========
						.swiper-slide
							+blog-card(4, 'Новость', 'IELTS или TOEFL: что лучше для поступления в университет')

			
				//===== swiper navigation========
				.slider-nav
					.swiper-button-next
					.swiper-button-prev
				
				//========VISIBLE MOBILE =======
				.btns-group
					a(href="#!" class="btn--slim " + whiteBtnClass)  Все новости
					a(href="#!").btn--slim.btn Все статьи

mixin blogCardsSlider-inner(title)
	//======== BLOG CARDS ========
	section.blog&attributes(attributes)
		.container
			//======= SECTION TOP ROW=======
			
			h2.h2.tt-none.txt-center #{title} 
			//======= SECTION SLIDER =======
			.slider-wrapper
				//======== slider-content =======
				.blog-cards-slider.swiper
					.swiper-wrapper
						
						//===== single slide ========
						.swiper-slide
							+blog-card(5, '', 'Varna University of Management', 'Варненский университет менеджмента', 'Великобритания')(class="blog-card--full")
						
						//===== single slide ========
						.swiper-slide
							+blog-card(6, '', 'Chang’an University', 'Чанъаньский университет', 'Китай')
						//===== single slide ========
						.swiper-slide
							+blog-card(7, '', 'University of Nicosia', 'Университет Никосии', 'Кипр')(class="blog-card--full")
						
						//===== single slide ========
						.swiper-slide
							+blog-card(8, '', 'International School San Patricio Toledo','Международная школа Сан Патрисио Толедо',  'Испания')(class="blog-card--full")
						//===== single slide ========
						.swiper-slide
							+blog-card(5, '', 'Varna University of Management', 'Варненский университет менеджмента', 'Великобритания')(class="blog-card--full")
						
						//===== single slide ========
						.swiper-slide
							+blog-card(6, '', 'Chang’an University', 'Чанъаньский университет', 'Китай')(class="blog-card--full")
						//===== single slide ========
						.swiper-slide
							+blog-card(7, '', 'University of Nicosia', 'Университет Никосии', 'Кипр')(class="blog-card--full")
						
						//===== single slide ========
						.swiper-slide
							+blog-card(8, '', 'International School San Patricio Toledo','Международная школа Сан Патрисио Толедо',  'Испания')(class="blog-card--full")

				//===== swiper navigation========
				.slider-nav
					.swiper-button-next
					.swiper-button-prev
				
				//========VISIBLE MOBILE =======
				.btns-group
					a(href="#!" class="btn--slim " + whiteBtnClass)  Все новости
					a(href="#!").btn--slim.btn Все статьи
						