//- mixin person-card(img, name)
//- 	.person-card
//- 		.person.flex-center-y
//- 			.person__img
//- 				img.wh-100.lazy(src="./img/boss/boss"+ img+".webp", width="150" height="200" alt="photo")
//- 			.flex-col
//- 				p.person__name #{name}
//- 				p Генеральный директор <br>Опыт работы 27 лет
//- 				a(href="mailto:grechko@allterra.ru").accent-link grechko@allterra.ru


//- mixin person-info(img, name, imgW ='150', imgH ="200")
//- 	.person.flex-col
//- 		.person__img
//- 			img.wh-100.lazy(src="./img/boss/boss"+ img+".webp", width=""+ imgW  alt="photo")
//- 		.flex-col
//- 			p.person__name #{name}
//- 			p Генеральный директор <br>Опыт работы 27 лет
//- 			a(href="mailto:grechko@allterra.ru").accent-link grechko@allterra.ru
