
//=======Миксин не сделан ========
mixin header(arg)
	header.header
		//========HEADER SEARCH FORM======
		include ../blocks/_header-search.pug
		
		//======= HEADER TOP ROW=======
		.header-top
			.container
				.header-flex
					+header-nav([
						{name:'О компании', link: '#!', dropLi: 'true', dropList:[{name:'Об Allterra Education'}, {name:'Обращение директора'},{name:'Вакансии'},{name:'Partner`s zone'},{name:'Отзывы'} ] },
						{name:'Все услуги', link: '#!', dropLi: 'true', dropList:[{name:'Поступление в школу'}, {name:'Поступление в университет'},{name:'Каникулы за рубежом'},
						{name:'Искусство и дизайн'}] },
						{name:'Страны', link: '#!', dropLi: 'true', dropFlags: 'true'},
						{name:'Справочник поступающего', link: '#!'},
						{name:'Новости', link: '#!'},
						{name:'Контакты', link: '#!'}
						])
					
					//======RIGHT COLUMN =====
					.header-column.header-column--test
						+country-item('uk', 'UK')
					

		
		//======= HEADER BOTTOM ROW =======
		.header-bottom
			.container
				.header-flex
					//=======LOGO=====
					a(href="#!").logo
						svg.svg-logo
							use( href='./img/spriteSvg.svg#logo')
					//=========nav =====
					+header-nav(arg)(class="header-nav--white")
					//======== BUTTONS GROUP=========
					.header-column
						button.btn-icon.search-btn#search-btn
							svg.svg-search
								use( href='./img/spriteSvg.svg#svg-search')
							
						a(href="#feedback").btn-accent.btn-advice Консультация

						//====== menu-toggle for mobile=====
						button(type="button").menu-toggle#menu-toggle
							span

		include ../blocks/_header-mobile-menu
		