mixin price-drop
	.cell-price__drop
		ul
			li #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/2 недели
			li #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/4 недели
			li #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/6 месяцев
			li #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/1 год
			
mixin scool-card(img)
	.scool-card&attributes(attributes)
		//===== картинка =====
		.scool-picture
			+pic-short(img, w='324', h='212')
			.rating-label 9.6
		
		//====верхний ряд, видимый =====
		.scool-info
			//===== описание =====
			.scool-descrip
				.h5 Wildau Studienkolleg, Technical University of Applied Sciences Wildau
				//=== list ====
				ul.scool__list
					li
						i
							svg.svg-cap
								use( href='./img/spriteSvg.svg#svg-cap')
						span Частная школа совместного обучения
						
					li
						i
							svg.svg-pin
								use( href='./img/spriteSvg.svg#svg-pin')
						span Великобритания, Кроуторн

					li
						i
							svg.svg-globus
								use( href='./img/spriteSvg.svg#svg-globus')
						span Языки обучения: Английский
				//===price + buttons ===
				.scool-row
					//==== цена + программы ====
					.scool-row__group
						.price-block.price-block--16 от #[span 2000 &dollar;]/неделя
						button.show-scool-programs
							span Программы 
								span(4)
							i.changing-icon
					//=== ссылка Перейти ===
					.scool-row__link
						a(href="#!").btn.flex-row 
							span Перейти 
							span к учебному заведению

			//==== программы-выпадающая таблица====
			.scool-drop
				table.scool-table
					thead
						tr
							th.cell-name Программы
							th.cell-age Возраст
							//==== класс active  переключается у выбранной валюты оплаты ====
							th.cell-price Выбрать #[span.pay-cur.active €]|#[span.pay-cur ₽]
					tbody
						//===== single row ====
						tr
							td.cell-name 
								p INTO International Graduate Diploma
							td.cell-age 14-15
							//=====price cell =====
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span 36 315€]/2 недели
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								.cell-price__drop
									ul
										li.active 36 315€/2 недели
										li 72 315€/4 недели
										li 96 315€/6 месяцев
										li 105 315€/1 год

						//====== single row ====
						tr
							td.cell-name 
								p GCSE
							td.cell-age 16-17
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span 36 315€]/2 недели
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								+price-drop

						//====== single row ====
						tr
							td.cell-name 
								p A-Level
							td.cell-age 14-15
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span 36 315€]/месяц
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								+price-drop
						//====== single row ====
						tr
							td.cell-name
								p IB
							td.cell-age 18-21
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span 36 315€]/1год
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								+price-drop

mixin scool-card2(img)
	.scool-card&attributes(attributes)
		//===== картинка =====
		.scool-picture
			+pic-short(img, w='324', h='212')
			
			.rating-label 9.65
		
		//====верхний ряд, видимый =====
		.scool-info
			//===== описание =====
			.scool-descrip
				.h5 Wildau Studienkolleg
				//=== list ====
				ul.scool__list
					li
						i
							svg.svg-cap
								use( href='./img/spriteSvg.svg#svg-cap')
						span Частная школа совместного обучения
						
					li
						i
							svg.svg-pin
								use( href='./img/spriteSvg.svg#svg-pin')
						span Великобритания, Кроуторн

					li
						i
							svg.svg-globus
								use( href='./img/spriteSvg.svg#svg-globus')
						span Языки обучения: Английский
				//===price + buttons ===
				.scool-row
					//==== цена + программы ====
					.scool-row__group
						.price-block.price-block--16 от #[span 2000 &dollar;]/неделя
						button.show-scool-programs
							span Программы 
								span(4)
							i.changing-icon
					//=== ссылка Перейти ===
					.scool-row__link
						a(href="#!").btn.flex-row 
							span Перейти 
							span к учебному заведению

			//==== программы-выпадающая таблица====
			.scool-drop
				table.scool-table.toggle-currency
					thead
						tr
							th.cell-name Программы
							th.cell-age Возраст
							th.cell-price Выбрать #[span.pay-cur.pay-cur--first.active €]|#[span.pay-cur.pay-cur--second ₽]
					tbody
						//===== single row ====
						tr
							td.cell-name 
								p INTO International Graduate Diploma
							td.cell-age 14-15
							//=====price cell =====
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/2 недели
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop
						//====== single row ====
						tr
							td.cell-name 
								p GCSE
							td.cell-age 16-17
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/2 недели
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop

						//====== single row ====
						tr
							td.cell-name 
								p A-Level
							td.cell-age 14-15
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/месяц
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop
						//====== single row ====
						tr
							td.cell-name
								p IB
							td.cell-age 18-21
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/1год
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop
						//===== single row ====
						tr
							td.cell-name 
								p INTO International Graduate Diploma
							td.cell-age 14-15
							//=====price cell =====
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/2 недели
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop

						//====== single row ====
						tr
							td.cell-name 
								p GCSE
							td.cell-age 16-17
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/2 недели
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop

						//====== single row ====
						tr
							td.cell-name 
								p A-Level
							td.cell-age 14-15
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/месяц
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								+price-drop
						//====== single row ====
						tr
							td.cell-name
								p IB
							td.cell-age 18-21
							td.cell-price
								.cell-price__btn
									a(href="#!") #[span.cur-first 36 315€]#[span.cur-second.hide-item 210 315&#8381;]/1год
									svg.svg-chevron-down
										use(href='./img/spriteSvg.svg#svg-chevron-down')
								//=====price cell drop=====
								+price-drop