extends ../layouts/layout.pug

block content
	include ../sections/_header
	+hero-section('about/header-bg.webp',['Главная', 'Информация'], 'О компании', 'back-link')
	//=============MAIN===========
	main.inner-page
		include ../sections/_why-us
		include ../sections/_statistics
		include ../sections/_faq
		include ../sections/_section-review
		include ../sections/_accredit
		include ../sections/_contacts
	include ../sections/_footer


	





	include ../blocks/_mobile-fixed-buttons.pug
block variables
	-var title = "Главная";