extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		style.
			.hero{
				background-image: url('./img/about/header-bg.webp');
				@media(max-width: 767px){
					background-image: url('./img/about/header-bg-mob.webp');
				}
			}
		+hero-section(['Главная', 'Об Allterra Education'], 'О компании','', 'title', 'back-link')
		include ../sections/_why-us
		include ../sections/_bosses
		include ../sections/_statistics
		include ../sections/_specialization
		include ../sections/_provide-results
		include ../sections/_process-section
		include ../sections/_faq
		include ../sections/_section-review
		include ../sections/_accredit
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "О нас";


	





	include ../blocks/_mobile-fixed-buttons.pug
block variables
	-var title = "Главная";