extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		style.
			.hero{
				background-image: url('./img/blog/header-bg.webp');
				@media(max-width: 767px){
					background-image: url('./img/blog/header-mob.webp');
				}
			}
		+hero-section(['Главная', 'Статьи об образовании за рубежом'], 'Актуальные и интересные статьи об образовании за рубежом','', 'title', 'back-link')
		
		include ../sections/_blog-page
		
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Статьи";