extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		
		+hero-section(['Главная', 'Контакты'], 'Контакты Allterra Education','', 'title', 'back-link')
		
		include ../sections/_contacts-page.pug
		//- в миксине скрывается левая картинка на моб версии
		+feedback
	include ../sections/_footer

block variables
	-var title = "Контакты";
	-var customStyle = ".hero { background-image: url('./img/contacts/header-bg.webp');} @media ( max-width: 767px ){.hero { background-image: url('./img/contacts/header-bg-mob.webp');}}"