extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.main
		+hero-section(['Главная', 'Контакты Allterra Education'], 'Контакты Allterra Education','', 'tt-none', 'back-link')( style="background-image:url(./img/contacts/header-bg.webp)")
		include ../sections/_feedback	
	include ../sections/_footer

block variables
	-var title = "Контакты";