extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		style.
			.hero{
				background-image: url('./img/about/header-bg.webp');
				@media(max-width: 767px){
					background-image: url('./img/about/header-bg-mob.webp');
				}
			}
		+hero-section(['Главная', 'Сотрудничество'], 'Сотрудничество <br> <span class="accent-border"> Allterra&nbsp;Education </span>','', 'title', 'back-link')
		
		include ../sections/_cooperation
		include ../sections/_statistics
		include ../sections/_accredit
	include ../sections/_footer

block variables
	-var title = "Сотрудничество";