extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//=============MAIN===========
	main.inner-page
		+hero-section(['Главная', 'Обращение директора'], 'Обращение директора','', '', 'back-link')(style="background-image:url(./img/greeting/header-bg.webp)")
		
		include ../sections/_greeting-section
		include ../sections/_section-review
		
		include ../sections/_accredit
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Обращение Директора";
	





	include ../blocks/_mobile-fixed-buttons.pug
block variables
	-var title = "Главная";