extends ../layouts/layout.pug

block content
	.start-page
		h1 ALLTERRA
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
			a(href="about.html")
				span О нас
				
			a(href="greeting.html")
				span Обращение Директора
			a(href="blog.html")
				span Статьи
			a(href="single-article.html")
				span Одна статья
			a(href="news.html")
				span Новости
			a(href="single-news.html")
				span Одна новость
			
			a(href="cooperation.html")
				span Сотрудничество
				p 
					small(style="font-size:12px; opacity: .4") (добавить блок меню)
			a(href="vacant.html")
				span Вакансии
				p 
					small(style="font-size:12px; opacity: .4") (добавить блок меню)
			a(href="partners.html")
				span Partner's zone
				p 
					small(style="font-size:12px; opacity: .4") (добавить блок меню)
			a(href="services.html")
				span Услуги
				p 
					small(style="font-size:12px; opacity: .4") (добавить блок меню)
			a(href="contacts.html")
				span Контакты
			a(href="review-page.html")
				span Отзывы
			a(href="review-single.html")
				span Один отзыв
			a(href="search-page.html")
				span Результаты поиска
			a(href="countries.html")
				span Страны
				
			a(href="single-scool.html")
				span Поступление в среднюю школу
				p 
					small(style="font-size:12px; opacity: .4") (в работе)

			a(href="news-select-filters.html")
				span Новости  по фильтрам
block variables
	-var title = "Allterra";
