extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page.inner-page--institute
		section.hero.hero--light
			.container
				+brcr('Главная','Каталог', 'ОАЭ', '360 Institute of Management' )
		include ../sections/_institute-content.pug
		include ../sections/_section-review
		//======= news cards slider =======
		section.blog.light-bg
			.container
				//======= SECTION TOP ROW=======
				h2.section-title.txt-center Похожие учебные заведения
				//======= SECTION SLIDER =======
				.slider-wrapper
					//======== slider-content =======
					.blog-cards-slider.swiper
						.swiper-wrapper
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")
							
							//===== single slide ========
							.swiper-slide
								+scool-card2('scools/scool-picture2')(class="scool-card--vertical")

				
					//===== swiper navigation========
					.slider-nav
						.swiper-button-next
						.swiper-button-prev
					
					
		
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Учебное заведение";