extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_edu-info.pug
	include ../sections/_edu-stages.pug
	include ../sections/_statistics


	include ../blocks/_mobile-fixed-buttons.pug
block variables
	-var title = "Главная";