extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//=============MAIN===========
	main.main
		include ../sections/_edu-info.pug
		include ../sections/_edu-stages.pug
		include ../sections/_statistics
		include ../sections/_image-banner
		include ../sections/_faq
		include ../sections/_feedback
		include ../sections/_section-review
		+blogCardsSlider('Статьи об обучении', 'за рубежом')(class="light-bg")
		include ../sections/_accredit
		include ../sections/_contacts
	include ../sections/_footer
 
block variables
	-var title = "Allterra";


	





	include ../blocks/_mobile-fixed-buttons.pug
block variables
	-var title = "Главная";