extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		+hero-section(['Главная', 'Новости'], 'Новости', '', 'h2 tt-none', 'back-link')(style="background-image:url(./img/about/header-bg.webp)")
		include ../sections/_news-page
		
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Новости";