extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page.inner-page--institute
		.hero.hero--light
			.container
				+brcr('Главная','Каталог', 'ОАЭ', '360 Institute of Management' )
		include ../sections/_program-content.pug
		include ../sections/_section-review
		//======= news cards slider =======
		section.blog.light-bg
			.container
				//======= SECTION TOP ROW=======
				h2.section-title.txt-center Похожие учебные заведения
				//======= SECTION SLIDER =======
				.slider-wrapper
					//======== slider-content =======
					.blog-cards-slider.swiper
						.swiper-wrapper
							//===== single slide ========
							.swiper-slide
								+scool-card2(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card2(class="scool-card--vertical")
							
							//===== single slide ========
							.swiper-slide
								+scool-card(class="scool-card--vertical")
							//===== single slide ========
							.swiper-slide
								+scool-card(class="scool-card--vertical")
							
							//===== single slide ========
							.swiper-slide
								+scool-card2(class="scool-card--vertical")

				
					//===== swiper navigation========
					.slider-nav
						.swiper-button-next
						.swiper-button-prev
					
					
		
		include ../sections/_contacts
	include ../sections/_footer
	
	script.
		document.addEventListener("DOMContentLoaded", function () {
			function loadMapIframe() {
				const mapWrapper = document.getElementById('map');
				const iframe = document.createElement('iframe');
				iframe.src = 'https://yandex.ru/map-widget/v1/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&source=constructor';
				iframe.width = "100%";
				iframe.height = "100%";
				iframe.frameBorder = "0";
				iframe.style.border = "0";
				iframe.allowFullscreen = true;
				mapWrapper.innerHTML = ''; // Очистить содержимое контейнера
				mapWrapper.appendChild(iframe);
			}

			function loadVirtualTourIframe() {
				const iframeWrapper = document.querySelector('.virtual-tour-wrapper');
				const iframe = document.createElement('iframe');
				iframe.src = "https://www.google.com/maps/embed?pb=!4v1555661292332!6m8!1m7!1sCAoSLEFGMVFpcE94cVozTV8taGxFcExyeWRjZUFEMTdpN1EwLXJCXzEtdkNlalVP!2m2!1d51.521975!2d-0.130462!3f140.5354761556658!4f18.14888093570754!5f0.7820865974627469";
				iframe.width = "100%";
				iframe.height = "100%";
				iframe.frameBorder = "0";
				iframe.style.border = "0";
				iframe.allowFullscreen = true;
				iframeWrapper.innerHTML = ''; // Очистить содержимое контейнера
				iframeWrapper.appendChild(iframe);
			}

			// Создаем наблюдатель
			const observer = new IntersectionObserver((entries, observer) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
					if (entry.target.id === 'map') {
						loadMapIframe();
					} else if (entry.target.classList.contains('virtual-tour-wrapper')) {
						loadVirtualTourIframe();
					}
					observer.unobserve(entry.target); // Останавливаем наблюдение после загрузки
					}
				});
			});

			// Наблюдаем за элементами
			const mapElement = document.getElementById('map');
			const virtualTourElement = document.querySelector('.virtual-tour-wrapper');
			
			if (mapElement) {
				observer.observe(mapElement);
			} else {
				console.error('Element with id "map" not found.');
			}

			if (virtualTourElement) {
				observer.observe(virtualTourElement);
			} else {
				console.error('Element with class "virtual-tour-wrapper" not found.');
			}
		});

block variables
	-var title = "Программа";