extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		style.
			.hero{
				background-image: url('./img/review/review-bg.webp');
				@media(max-width: 767px){
					background-image: url('./img/review/header-bg-mob.webp');
				}
			}
		+hero-section(['Главная', 'Отзывы об образовании'], 'Отзывы об образовании','', 'title', 'back-link')
		
		include ../sections/_review-page
		
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Отзывы";