extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//=============MAIN===========
	main.inner-page
		include ../sections/_review-single-section
		+review-slider('Другие отзывы', 'tt-none')
		+blogCardsSlider-inner('Похожие учебные заведения')
		include ../sections/_accredit
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Отзыв родителя";
	

