extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.main
		+hero-section(['Главная', 'Услуги'], 'Услуги <br> <span class="accent-border"> Allterra&nbsp;Education </span>','', 'title', 'back-link')( style="background-image:url(./img/about/header-bg.webp)")
		
		include ../sections/_services
		include ../sections/_feedback
		include ../sections/_all-services.pug
		include ../sections/_statistics
		include ../sections/_accredit
		include ../sections/_contacts
	include ../sections/_footer

block variables
	-var title = "Услуги";