extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========

	main.inner-page.inner-page--scool
		section.hero(style="background-image:url('./img/scools/header-bg.webp')")
			.container
				.hero-content
					ul.breadcrumb
						li
							a(href="#!") Главная
						li
							a(href="#!") Статьи об образовании за рубежом
					//======= title + form =====
					.hero-title.hero-title--rel
						h1.title Поступление в среднюю школу за рубежом
						p.header-subtitle Индивидуально подбираем зарубежную школу под задачи семьи и потребности ребёнка, помогаем подготовиться к поступлению и сопровождаем во время обучения за границей
						a(href="#!").btn-accent Получить консультацию
					//===== bottom text =====
					.hero-bottom
						+stripes-list('Сильнейшие технические вузы мира', 'Медицинские факультеты', 'Университеты искусств')
		
		include ../sections/_scool-content
		
		section.specialization.light-bg
			.container
				.header-group.header-group--col
					h2.section-title Наши услуги будут полезны, если...
					p.header-subtitle Мы выделяем несколько основных направлений в работе со школьниками, которые обусловлены их приоритетами. Ученики частных школ-пансионов за рубежом добиваются результатов в каждом из них
				//============= SERVICE CARDS =============
				.service-cards.four-columns
					+serv-card('about/card5', 'Нужно сменить обстановку','Если вы планируете жить за границей или хотите, чтобы ребенок продолжил обучение за рубежом по личным причинам')
					
					+serv-card('about/card6', 'Ищете специальные условия','Если нужна стимулирующая среда: спортсменам, творческим личностям, детям с ограниченными возможностями или ослабленным здоровьем')

					+serv-card('about/card7', 'Готовитесь к поступлению','Если нужно подготовиться к экзаменам и максимально увеличить шансы на поступление в престижный вуз')

					+serv-card('about/card8', 'Планируете будущее за рубежом','Если вам важно, чтобы опыт учебы в США, Англии или Швейцарии стал весомой строчкой в резюме и трамплином к успешной карьере')
		
		section.enrollment
			.container
				.header-group.header-group--col
					h2.section-title Зачисление в среднюю школу за рубежом - работа со специалистом и без
					p.header-subtitle Решив поступать в школу за границей, семья оказывается перед вопросом: как сделать это правильно? #[br]Те, кто хочет воспользоваться профессиональной помощью, ищут надежную образовательную компанию. #[br] Другие родители принимают решение действовать самостоятельно. Сравнение этих двух вариантов мы приводим ниже. Возможно, оно обратит ваше внимание на неочевидные моменты
				
				include ../blocks/_enrollment-table
		+feedback-section()(class="light-bg")
		
		include ../sections/_faq
		//============ CONTACTS ================
		section.contacts.dark-bg(style="background-image: url(./img/scools/feedback-bg.webp)")
			.container
				.dark-opacity.txt-center
					p.h3.txt-upper Остались вопросы?
					p.txt-16 Ваш менеджер Allterra Education поможет разобраться
					
					button(type="submit").btn-white Получить консультацию		
		
		include ../sections/_scool-tabs-slider.pug
		include ../sections/_statistics
		include ../sections/_accredit
	include ../sections/_footer

block variables
	-var title = "Выбор школы";