extends ../layouts/layout.pug

block content
	include ../sections/_header
	//=============MAIN===========
	main.inner-page
		
		+hero-section(['Главная', 'Вакансии'], 'Вакансии <br> <span class="accent-border"> Allterra&nbsp;Education </span>','', 'title', 'back-link')
		
		include ../sections/_vacant
		include ../sections/_statistics
		include ../sections/_accredit
	include ../sections/_footer

block variables
	-var title = "Вакансии";
	-var customStyle = ".hero { background-image: url('./img/about/header-bg.webp');} @media ( max-width: 767px ){.hero { background-image: url('./img/about/header-bg-mob.webp');}}"