include ../mixins/_header.pug
include ../mixins/_breadcrumbs.pug
include ../mixins/_menu-list.pug
include ../mixins/_review-card.pug
include ../mixins/_blog-card.pug
include ../mixins/_accredit-card.pug
include ../mixins/_boss-card.pug
include ../mixins/_process-card.pug
include ../mixins/_ul-blocks.pug
include ../mixins/_inner-hero.pug
include ../mixins/_serv-card.pug
include ../mixins/_blog-cards-slider.pug
include ../mixins/_backlit-menu.pug
include ../mixins/_table-timing.pug
include ../mixins/_feedback-section.pug
include ../mixins/_services-list.pug
include ../mixins/_contacts-card.pug
include ../mixins/_feedback.pug
include ../mixins/_review.pug
include ../mixins/_countries.pug
include ../mixins/_enrollment-table
include ../mixins/_scool-card
include ../mixins/_aside-filters







